.box-consulta__box {
    background-color: rgba(113, 187, 243, 0.46);
    padding: 30px;
}
.box-consulta__box-row {
    margin: 10px 0;
    overflow: hidden;
}
.box-consulta__box-filtro {
    width: 100%;
    height: 70px;
    background-color: #fff;
    border: 3px solid $bgHeader;
}
.box-consulta__box-filtro select,
.box-consulta__box-filtro input[type=range] {
    width: 100%;
    height: 100%;
}
.box-consulta__box-submit {
    width: 100%;
    height: 70px;
    background-color: $bgVerde;
}
.box-consulta__box-limpar {
    width: 100%;
    height: 70px;
    background-color: #ccc;
}
.box-consulta__box-submit input[type=submit],
.box-consulta__box-limpar input[type=reset] {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
}

.resul__header {
    width: 100%;
    margin: 35px 0;
    overflow: hidden;
}
.resul__header-numero {
    text-align: left;
}
.resul__header-numero p {
    color: $bgHeader;
    font-size: 16px;
    margin: 0;
}
.resul__header-filtro {
    text-align: right;
}
.resul__header-filtro p {
    color: #4d4d4d;
    font-size: 16px;
    margin: 0;
}
.resul__conteudo {
    width: 100%;
    overflow: hidden;
}
.resul__titulo {
    width: 100%;
    overflow: hidden;
    background-color: #ccc;
    padding: 15px 0;
    margin-bottom: 20px;
}
.resul__titulo h3 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}
.resul__mostra {
    width: 100%;
    overflow: hidden;
}
.resul__mostra-resumo {
    width: 100%;
    height: 70px;
    background-color: #ccc;
    overflow: hidden;
}
.resul__col-cargo {
    width: 35%;
    height: 100%;
    float: left;
    text-align: center;
}
.resul__col-cargo-1 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include display-flex-center;
}
.resul__col-cargo-1 .nome {
    font-size: 25px;
    font-weight: 900;;
}
.resul__col-cargo-1 .data {
    font-size: 14px;
}
.resul__col-local {
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}
.resul__col-local-1 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include display-flex-center;
}
.resul__col-local-1 .icone {
    display: inline-block;
    margin: 0 10px 0 0;
}
.resul__col-local-1 .local {
    display: inline-block;
}
.resul__col-salario {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}
.resul__col-salario-1 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    @include display-flex-center;
}
.resul__col-visualizar {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}
.resul__col-visualizar-1 {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: $bgHeader;
    cursor: pointer;
}
.resul__col-visualizar-1 .texto {
    color: #fff;
    font-size: 12px;
}
.resul__col-candidatarse {
    width: 10%;
    height: 100%;
    float: left;
    text-align: center;
}
.resul__col-candidatarse-1 {
    border-bottom: 1px solid #fff;
    background-color: $bgVerde;
}
.resul__col-candidatarse-1 .texto {
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
}
.resul__col-candidatarse-1 .icn-resul-cadd-m-branco {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
.resul__col-visualizar-1 .texto {
    color: #fff;
    font-size: 12px;
    margin-top: 3px;
}
.resul__col-visualizar-1 .icn-resul-lupa-p-branco {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.resul__mostra-conteudo {
    background-color: $bgSidebar;
    padding: 30px;
    margin-bottom: 30px;
}
.resul__mostra-conteudo-bg {
    background-color: #fff;
    padding: 30px;
}
.resul__mostra-row {
    margin: 30px 0;

    &.resul__mostra-row:first-child {
        margin-top: 0;
    }
    &.resul__mostra-row:last-child {
        margin-bottom: 0;
    }
}
.resul__mostra-conteudo-titulo {
    width: 100%;
    height: 100px;
    background-color: #4d4d4d;
    text-align: center;
    padding: 0 15px;
    @include display-flex-center;
}
.resul__mostra-conteudo-titulo h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.box-consulta__box-filtro select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    padding: 0 15px;
    background-image: url("../imgs/icons/icn-filtro-plus-p-branco.png");
    background-repeat: no-repeat;
    background-position: 180px center;
    border: none;
}
.box-consulta__box-filtro .titulo {
    text-align: center;
    font-weight: 100;
    margin-top: 7px;
}
.box-consulta__box-filtro #range-slider {
    width: 80%;
    height: 4px;
    background-color: $bgHeader;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 0;
    margin-top: 5px;
}
.box-consulta__box-filtro .ui-state-default {
    width: 12px;
    height: 12px;
    background-color: $bgVerde;
    border: none;
    border-radius: 100%;
}
.box-consulta__box-filtro .ui-widget-header {
    border: none;
    border-radius: 0;
    background-color: $bgVerde;
}
.box-consulta__box-filtro .valor {
    text-align: center;
    margin-top: 3px;
}
.box-consulta__box-filtro .valor input {
    color: $bgVerde;
    text-align: center;
    font-size: 12px;
}