/* Temporario */
.red {border: 1px solid red;}
.blue {border: 1px solid blue;}

// color BG
$bgHeader: #2e6e9e;
$tituloHeader: #2e6e9e;
$subTituloHeader: #4d4d4d;
$bgVerde: #8ac93a;

// color SIDEBAR
$bgSidebar: #e6e6e6;
@mixin display-flex-center {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
}

.conteudo-960 {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.conteudo-768 {
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.conteudo-480 {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.candidatos-perfil {
    margin-top: 35px;
}

/* .conteudo-painel */
.conteudo-painel__titulo-mensagem,
.conteudo-painel__titulo-compromissos,
.conteudo-painel__titulo-meusalertas {
    text-align: center;
}
.conteudo-painel__titulo-mensagem h3,
.conteudo-painel__titulo-compromissos h3,
.conteudo-painel__titulo-meusalertas h3 {
    margin: 0;
    color: $tituloHeader;
    font-size: 16px;
}
.conteudo-painel__titulo-icone {
    margin: 30px 0;
    text-align: center;
}
.conteudo-painel__titulo-numero {
    text-align: center;
}

/* .nav-box */
.nav-box {
    width: 100%;
}
.nav-box__titulo {
    background-color: $bgHeader;
    overflow: hidden;
}
.nav-box__titulo-icone {
    width: 33.333333333%;
    float: left;
}
.nav-box__titulo-texto {
    width: 33.333333333%;
    float: left;
}
.nav-box__titulo-selecao {
    width: 33.333333333%;
    float: left;
}
.nav-box__nav {
    width: 100%;
    overflow: hidden;
}
.nav-box__lista {
    width: 100%;
}
.nav-box__lista-item {
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: $bgSidebar;
}
.nav-box__lista-link {
    width: 100%;
    list-style: none;
    color: $tituloHeader;
}

/* Pagina CANCELAMENTO DE CONTA */
.mensagem__conteudo {
    width: 100%;
    padding: 30px;
    border-radius: 15px;
}
.mensagem__conteudo-bg-red {
    background-color: #cc0a2f;;
}
.mensagem__conteudo-bg-cinza {
    background-color: #4d4d4d;
}
.mensagem__conteudo-bg-verde {
    background-color: $bgVerde;
}
.mensagem__conteudo-texto p {
    color: #fff;
    margin: 0;
}
.mensagem__acao {
    float: right;
    margin: 20px 0;
}
.mensagem__acao-confirma {
    width: 170px;
    height: 50px;
    background-color: $bgVerde;
    margin: 0 30px 0 0;
    float: left;
    @include display-flex-center;
}
.mensagem__acao-confirma a {
    color: #fff;
    text-decoration: none;
}
.mensagem__acao-cancelar {
    width: 170px;
    height: 50px;
    background-color: #4d4d4d;
    float: left;
    @include display-flex-center;
}
.mensagem__acao-cancelar a {
    color: #fff;
    text-decoration: none;
}