/*
    #fonts
________________________ */
@font-face {
    font-family: "FonteLt";
    src: url('../fontes/Humanst521-Lt-BT-Light.eot');
    src: url('../fontes/Humanst521-Lt-BT-Light.woff') format('woff'), url('../fontes/Humanst521-Lt-BT-Light.ttf') format('truetype'), url('../fontes/Humanst521-Lt-BT-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FonteRg";
    src: url('../fontes/Humanist-777-BT.eot');
    src: url('../fontes/Humanist-777-BT.woff') format('woff'), url('../fontes/Humanist-777-BT.ttf') format('truetype'), url('../fontes/Humanist-777-BT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}