.logo {
    margin: 0 0 0 50px;
    height: 60px;
    float: left;
}

.barra-cima {
    height: 80px;
    background-color: #f8f8f8;
}

.sidebar {
    margin-top: 6em !important;
}

.navbar-top-links li a {
    margin-top: 1em;
}

.barra-cima-bem-vindo {
    margin-left: 2em;
    width: 24em;
    float: left;
    padding: 10px;
}

.avatar {
    width: 50px;
    float: left;
    margin-right: 10px;
}

.icone {
    width: 30px;
    height: 30px;
    background-color: #2e6e9e;
    border-radius: 100%;
    float: right;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    color: #fff;
}

.nav-tabs>li>a {
    font-size: 20px;
}

.well-two {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }


.col-centered {
    float: none;
    margin: 0 auto;
    clear: both;
}