/* Temporario */
.red {
  border: 1px solid red; }

.blue {
  border: 1px solid blue; }

.conteudo-960 {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.conteudo-768 {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; }

.conteudo-480 {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }

.candidatos-perfil {
  margin-top: 35px; }

/* .conteudo-painel */
.conteudo-painel__titulo-mensagem,
.conteudo-painel__titulo-compromissos,
.conteudo-painel__titulo-meusalertas {
  text-align: center; }

.conteudo-painel__titulo-mensagem h3,
.conteudo-painel__titulo-compromissos h3,
.conteudo-painel__titulo-meusalertas h3 {
  margin: 0;
  color: #2e6e9e;
  font-size: 16px; }

.conteudo-painel__titulo-icone {
  margin: 30px 0;
  text-align: center; }

.conteudo-painel__titulo-numero {
  text-align: center; }

/* .nav-box */
.nav-box {
  width: 100%; }

.nav-box__titulo {
  background-color: #2e6e9e;
  overflow: hidden; }

.nav-box__titulo-icone {
  width: 33.333333333%;
  float: left; }

.nav-box__titulo-texto {
  width: 33.333333333%;
  float: left; }

.nav-box__titulo-selecao {
  width: 33.333333333%;
  float: left; }

.nav-box__nav {
  width: 100%;
  overflow: hidden; }

.nav-box__lista {
  width: 100%; }

.nav-box__lista-item {
  width: 100%;
  list-style: none;
  text-align: center;
  background-color: #e6e6e6; }

.nav-box__lista-link {
  width: 100%;
  list-style: none;
  color: #2e6e9e; }

/* Pagina CANCELAMENTO DE CONTA */
.mensagem__conteudo {
  width: 100%;
  padding: 30px;
  border-radius: 15px; }

.mensagem__conteudo-bg-red {
  background-color: #cc0a2f; }

.mensagem__conteudo-bg-cinza {
  background-color: #4d4d4d; }

.mensagem__conteudo-bg-verde {
  background-color: #8ac93a; }

.mensagem__conteudo-texto p {
  color: #fff;
  margin: 0; }

.mensagem__acao {
  float: right;
  margin: 20px 0; }

.mensagem__acao-confirma {
  width: 170px;
  height: 50px;
  background-color: #8ac93a;
  margin: 0 30px 0 0;
  float: left;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.mensagem__acao-confirma a {
  color: #fff;
  text-decoration: none; }

.mensagem__acao-cancelar {
  width: 170px;
  height: 50px;
  background-color: #4d4d4d;
  float: left;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.mensagem__acao-cancelar a {
  color: #fff;
  text-decoration: none; }

.box-consulta__box {
  background-color: rgba(113, 187, 243, 0.46);
  padding: 30px; }

.box-consulta__box-row {
  margin: 10px 0;
  overflow: hidden; }

.box-consulta__box-filtro {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border: 3px solid #2e6e9e; }

.box-consulta__box-filtro select,
.box-consulta__box-filtro input[type=range] {
  width: 100%;
  height: 100%; }

.box-consulta__box-submit {
  width: 100%;
  height: 70px;
  background-color: #8ac93a; }

.box-consulta__box-limpar {
  width: 100%;
  height: 70px;
  background-color: #ccc; }

.box-consulta__box-submit input[type=submit],
.box-consulta__box-limpar input[type=reset] {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px; }

.resul__header {
  width: 100%;
  margin: 35px 0;
  overflow: hidden; }

.resul__header-numero {
  text-align: left; }

.resul__header-numero p {
  color: #2e6e9e;
  font-size: 16px;
  margin: 0; }

.resul__header-filtro {
  text-align: right; }

.resul__header-filtro p {
  color: #4d4d4d;
  font-size: 16px;
  margin: 0; }

.resul__conteudo {
  width: 100%;
  overflow: hidden; }

.resul__titulo {
  width: 100%;
  overflow: hidden;
  background-color: #ccc;
  padding: 15px 0;
  margin-bottom: 20px; }

.resul__titulo h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100; }

.resul__mostra {
  width: 100%;
  overflow: hidden; }

.resul__mostra-resumo {
  width: 100%;
  height: 70px;
  background-color: #ccc;
  overflow: hidden; }

.resul__col-cargo {
  width: 35%;
  height: 100%;
  float: left;
  text-align: center; }

.resul__col-cargo-1 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.resul__col-cargo-1 .nome {
  font-size: 25px;
  font-weight: 900; }

.resul__col-cargo-1 .data {
  font-size: 14px; }

.resul__col-local {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center; }

.resul__col-local-1 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.resul__col-local-1 .icone {
  display: inline-block;
  margin: 0 10px 0 0; }

.resul__col-local-1 .local {
  display: inline-block; }

.resul__col-salario {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center; }

.resul__col-salario-1 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.resul__col-visualizar {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center; }

.resul__col-visualizar-1 {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #2e6e9e;
  cursor: pointer; }

.resul__col-visualizar-1 .texto {
  color: #fff;
  font-size: 12px; }

.resul__col-candidatarse {
  width: 10%;
  height: 100%;
  float: left;
  text-align: center; }

.resul__col-candidatarse-1 {
  border-bottom: 1px solid #fff;
  background-color: #8ac93a; 
  cursor:pointer;
}

.resul__col-candidatarse-1 .texto {
  color: #fff;
  font-size: 12px;
  margin-top: 3px; }

.resul__col-candidatarse-1 .icn-resul-cadd-m-branco {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px; }

.resul__col-visualizar-1 .texto {
  color: #fff;
  font-size: 12px;
  margin-top: 3px; }

.resul__col-visualizar-1 .icn-resul-lupa-p-branco {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px; }

.resul__mostra-conteudo {
  background-color: #e6e6e6;
  padding: 30px;
  margin-bottom: 30px; }

.resul__mostra-conteudo-bg {
  background-color: #fff;
  padding: 30px; }

.resul__mostra-row {
  margin: 30px 0; }
  .resul__mostra-row.resul__mostra-row:first-child {
    margin-top: 0; }
  .resul__mostra-row.resul__mostra-row:last-child {
    margin-bottom: 0; }

.resul__mostra-conteudo-titulo {
  width: 100%;
  height: 100px;
  background-color: #4d4d4d;
  text-align: center;
  padding: 0 15px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.resul__mostra-conteudo-titulo h3 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100; }

.box-consulta__box-filtro select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  padding: 0 15px;
  background-image: url("../imgs/icons/icn-filtro-plus-p-branco.png");
  background-repeat: no-repeat;
  background-position: 180px center;
  border: none; }

.box-consulta__box-filtro .titulo {
  text-align: center;
  font-weight: 100;
  margin-top: 7px; }

.box-consulta__box-filtro #range-slider {
  width: 80%;
  height: 4px;
  background-color: #2e6e9e;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0;
  margin-top: 5px; }

.box-consulta__box-filtro .ui-state-default {
  width: 12px;
  height: 12px;
  background-color: #8ac93a;
  border: none;
  border-radius: 100%; }

.box-consulta__box-filtro .ui-widget-header {
  border: none;
  border-radius: 0;
  background-color: #8ac93a; }

.box-consulta__box-filtro .valor {
  text-align: center;
  margin-top: 3px; }

.box-consulta__box-filtro .valor input {
  color: #8ac93a;
  text-align: center;
  font-size: 12px; }

/* PAGINA minha conta */
.notificacoes__conteudo {
  width: 100%;
  border: 1px solid #ccc;
  padding: 30px;
  margin-bottom: 35px; }

.notificacoes__row {
  margin: 15px 0; }
  .notificacoes__row.notificacoes__row:first-child {
    margin-top: 0; }
  .notificacoes__row.notificacoes__row:last-child {
    margin-bottom: 0; }

.notificacoes__texto span {
  color: #2e6e9e; }

.notificacoes__acesso {
  width: 100%; }

.notificacoes__acesso-nav {
  width: 100%;
  margin: 0;
  padding: 0; }

.notificacoes__acesso-item {
  list-style: none;
  margin: 20px 0; }
  .notificacoes__acesso-item.notificacoes__acesso-item:first-child {
    margin-top: 0; }
  .notificacoes__acesso-item.notificacoes__acesso-item:last-child {
    margin-bottom: 0; }

.notificacoes__acesso-link {
  color: #2e6e9e;
  font-size: 18px;
  text-decoration: underline; }

.usuario-add {
  margin-bottom: 70px; }
  .usuario-add.usuario-add:last-child {
    margin-bottom: 0; }

/* PAGINA cadastro de vagas */
/* PAGINA minhas vagas */
.vagas__conteudo {
  margin-bottom: 10px; }
  .vagas__conteudo.vagas__conteudo:last-child {
    margin-bottom: 0; }

.vagas__informacoes {
  overflow: hidden; }

.vagas__conteudo-resumo {
  width: 100%;
  overflow: hidden;
  background-color: #e0e2e1;
  margin-bottom: 10px;
  outline: none; }
  .vagas__conteudo-resumo.vagas__conteudo-resumo:last-child {
    margin-bottom: 0; }

.vagas__conteudo-col-cargo,
.vagas__conteudo-col-local,
.vagas__conteudo-col-headhunters,
.vagas__conteudo-col-candidatos {
  width: 100%;
  height: 80px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__conteudo-col-cargo .nome {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900; }

.vagas__conteudo-col-cargo .data {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 100; }

.vagas__conteudo-col-local .icone {
  display: inline-block;
  margin: 0 15px 0 0; }

.vagas__conteudo-col-local .local {
  display: inline-block;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 100; }

.vagas__conteudo-col-headhunters .numero,
.vagas__conteudo-col-candidatos .numero {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900; }

.vagas__conteudo-col-headhunters .nome,
.vagas__conteudo-col-candidatos .nome {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 100; }

.vagas__informacoes-score {
  text-align: center; }

.vagas__informacoes-nome {
  color: #2e6e9e;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 15px; }

.vagas__informacoes-local {
  color: #2e6e9e;
  font-size: 12px;
  font-weight: 100; }

.vagas__informacoes-score .numero {
  color: #2e6e9e;
  font-size: 25px;
  font-weight: 900; }

.vagas__informacoes-score .texto {
  color: #2e6e9e;
  font-size: 16px;
  font-weight: 100; }

.vagas__informacoes-experiencias .titulo,
.vagas__informacoes-experiencias .empresa-data,
.vagas__informacoes-experiencias .cargo {
  color: #4d4d4d;
  font-size: 12px; }

.vagas__informacoes-experiencias .titulo {
  text-decoration: underline;
  margin-top: 15px; }

.vagas__informacoes-experiencias .cargo {
  margin-bottom: 15px; }

.vagas__informacoes-avaliacao {
  margin-top: 15px; }

.vagas__informacoes-avaliacao .titulo {
  color: #2e6e9e;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline; }

.vagas__informacoes-agendamento,
.vagas__informacoes-mensagem {
  height: 45px;
  background-color: #e0e2e1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  margin: 10px 0; }

.vagas__informacoes-agendamento .texto,
.vagas__informacoes-mensagem .texto {
  display: inline-block;
  color: #2e6e9e;
  font-size: 12px;
  margin: 0 30px 0 0; }

.vagas__informacoes-agendamento .icone,
.vagas__informacoes-mensagem .icone {
  display: inline-block; }

.vagas__informacoes-headhunter {
  width: 100%; }

.vagas__informacoes-headhunter .titulo {
  width: 100%;
  font-size: 14px;
  text-align: right;
  margin-top: 15px; }

.vagas__informacoes-headhunter .nome {
  width: 100%;
  background-color: #e0e2e1;
  padding: 15px 30px;
  color: #2e6e9e;
  font-size: 16px;
  text-align: center; }

.vagas__informacoes-extra-titulo {
  width: 100%;
  background-color: #2e6e9e;
  text-align: right;
  padding: 7px 15px; }

.vagas__informacoes-extra-titulo span {
  color: #fff;
  font-size: 14px; }

.vagas__informacoes-extra-conteudo {
  width: 100%;
  background-color: #fff;
  padding: 15px; }

.vagas__informacoes-extra-etapas {
  text-align: center;
  color: #2e6e9e; }

.vagas__informacoes-extra-etapas .titulo {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px; }

.vagas__informacoes-extra-etapas label {
  width: 20%;
  height: 35px;
  float: left;
  background-color: #2e6e9e;
  margin: 0;
  display: block; }

.vagas__informacoes-extra-etapas input {
  width: 80%;
  height: 35px;
  float: left;
  display: block;
  border-left: 5px solid #fff;
  border-right: none;
  border-bottom: none;
  border-top: none;
  background-color: #e0e2e1;
  outline: none;
  padding: 0 15px; }

.vagas__informacoes-extra-data,
.vagas__informacoes-extra-status,
.vagas__informacoes-extra-obs {
  text-align: center;
  color: #2e6e9e; }

.vagas__informacoes-extra-data .titulo,
.vagas__informacoes-extra-status .titulo,
.vagas__informacoes-extra-obs .titulo {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px; }

.vagas__informacoes-extra-data input,
.vagas__informacoes-extra-status select {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  background-color: #e0e2e1;
  border: none;
  outline: none; }

.vagas__informacoes-extra-obs textarea {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: #e0e2e1;
  border: none;
  outline: none; }

.vagas__informacoes-extra-admissao,
.vagas__informacoes-extra-garantia {
  width: 140px;
  float: left;
  margin: 0 10px 0 0;
  text-align: center; }

.vagas__informacoes-extra-admissao .texto,
.vagas__informacoes-extra-garantia .texto {
  margin-bottom: 2px;
  color: #2e6e9e;
  font-size: 12px; }

.vagas__informacoes-extra-admissao .data,
.vagas__informacoes-extra-garantia .data {
  background-color: #e0e2e1;
  padding: 10px 0;
  color: #2e6e9e; }

.vagas__informacoes-extra-conteudo-titulo {
  color: #2e6e9e;
  margin: 15px 0; }

.vagas__informacoes-extra-avaliacao .titulo {
  color: #2e6e9e;
  margin: 15px 0; }

.vagas__informacoes-aba2-img {
  text-align: center; }

.vagas__informacoes-aba2-nomelocal {
  text-align: center; }

.vagas__informacoes-aba2-nomelocal .nome {
  color: #2e6e9e;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 15px; }

.vagas__informacoes-aba2-nomelocal .local {
  color: #2e6e9e;
  font-size: 13px;
  font-weight: 100; }

.vagas__informacoes-aba2-engajamento {
  text-align: center;
  margin-top: 15px; }

.vagas__informacoes-aba2-engajamento p {
  margin: 0;
  color: #2e6e9e;
  font-size: 13px;
  font-weight: 100; }

.vagas__informacoes-aba2-metodo {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.vagas__informacoes-aba2-metodo p {
  margin: 0;
  color: #2e6e9e;
  font-size: 13px;
  font-weight: 100; }

.vagas__informacoes-aba2-recrutados,
.vagas__informacoes-aba2-dataenvio,
.vagas__informacoes-aba2-status {
  width: 100%;
  text-align: center;
  margin-top: 15px; }

.vagas__informacoes-aba2-recrutados .titulo,
.vagas__informacoes-aba2-dataenvio .titulo,
.vagas__informacoes-aba2-status .titulo {
  width: 100%;
  height: 45px;
  background-color: #e0e2e1;
  color: #2e6e9e;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__informacoes-aba2-recrutados .nomes,
.vagas__informacoes-aba2-dataenvio .datas {
  margin: 10px 0;
  overflow: hidden; }

.vagas__informacoes-aba2-status .status {
  margin: 10px 0;
  overflow: hidden;
  text-align: right; }

.vagas__informacoes-aba2-status .status p i {
  margin: 0 3px 0 10px; }

.vagas__informacoes-aba2-recrutados p,
.vagas__informacoes-aba2-dataenvio p,
.vagas__informacoes-aba2-status p {
  margin: 0;
  color: #2e6e9e; }

.vagas__informacoes-aba2-acao {
  display: table;
  margin-left: auto;
  margin-top: 30px; }

.vagas__informacoes-aba2-acao button {
  width: 220px;
  background-color: #e0e2e1;
  border: none;
  margin: 0 0 0 15px;
  padding: 10px 20px;
  text-align: center;
  color: #2e6e9e;
  font-size: 12px; }

.vagas__informacoes-aba2-acao .icone {
  width: 30%;
  float: left; }

.vagas__informacoes-aba2-acao span {
  width: 70%;
  float: left; }

.vagas__informacoes-aba3-tipo .titulo,
.vagas__informacoes-aba3-candidatos .titulo,
.vagas__informacoes-aba3-relatorio .titulo {
  text-align: center;
  font-size: 14px;
  color: #2e6e9e;
  margin-bottom: 10px; }

.vagas__informacoes-aba4-candidatos .titulo,
.vagas__informacoes-aba4-documentos .titulo {
  text-align: center;
  color: #2e6e9e;
  margin-bottom: 10px; }

.vagas__informacoes-aba4-candidatos,
.vagas__informacoes-aba4-acoes {
  text-align: center;
  color: #2e6e9e; }

.vagas__conteudo-col-abrir {
  width: 100%;
  height: 80px;
  background-color: #2e6e9e;
  border-bottom: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  cursor: pointer; }

.vagas__informacoes-abas {
  width: 97%;
  overflow: hidden;
  margin-bottom: 40px; }

.vagas__informacoes-abas .tab-content {
  width: 100%;
  overflow: hidden; }

.vagas__informacoes-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

#analiseCv {
  background-color: #e0e2e1;
  padding: 15px 15px; }

#headHunterAcao {
  background-color: #e0e2e1;
  padding: 0 15px 15px 15px; }

#shotlistComp {
  background-color: #e0e2e1;
  padding: 15px 15px; }

#documentosCompr {
  background-color: #e0e2e1;
  padding: 15px 15px; }

#avaliacaoDisc {
  background-color: #e0e2e1;
  padding: 15px 15px; }

.vagas__boxs-lateral-titulo {
  margin-bottom: -55px;
  margin-top: 35px;
  text-align: center;
  color: #2e6e9e;
  font-size: 12px;
  font-weight: 100; }

.nav-tabs-item {
  width: 20%;
  float: left;
  border-right: 1px solid #e0e2e1;
  border-top: 1px solid #e0e2e1;
  padding: 15px 0; }
  .nav-tabs-item.nav-tabs-item:first-child {
    border-left: 1px solid #e0e2e1; }
  .nav-tabs-item a {
    display: block; }

.nav-tabs-item.active {
  background-color: #e0e2e1; }

.tab-pane {
  background-color: #e0e2e1;
  padding: 15px;
  overflow: hidden; }

.vagas__informacoes-caixa {
  height: 45px; }

.vagas__informacoes-caixa select {
  width: 100%;
  height: 100%;
  background-color: #2e6e9e;
  color: #fff;
  padding: 0 15px;
  font-size: 12px;
  border: none; }

.vagas__informacoes-resultado {
  border: 3px solid #2e6e9e;
  margin-top: 15px;
  background-color: #fff;
  padding: 15px; }

.vagas__informacoes-aba3-bg,
.vagas__informacoes-aba4-bg,
.vagas__informacoes-aba5-bg {
  width: 100%;
  background-color: #e0e2e1; }

.vagas__informacoes-aba3-conteudo,
.vagas__informacoes-aba4-conteudo,
.vagas__informacoes-aba5-bg {
  background-color: #fff;
  overflow: hidden;
  padding: 15px; }

.vagas__informacoes-resultado-box,
.headHunterPerfil-box {
  background-color: #fff;
  padding: 30px 0;
  margin-top: 15px; }

/* PAGINA convidar recrutador */
.convite__secao {
  width: 100%;
  overflow: hidden; }

.convite__secao-resul {
  width: 100%;
  overflow: hidden; }

.convite__secao__descricao p {
  margin: 0;
  color: #4d4d4d;
  font-size: 13px; }

.convite__secao-titulo {
  margin: 15px 0 0 0;
  overflow: hidden; }

.convite__secao-titulo p {
  margin: 0;
  color: #4d4d4d;
  margin-bottom: 15px; }

.convite__secao-search {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

.convite__secao-search input {
  width: 80%;
  height: 35px;
  float: left;
  border: 5px solid #e0e2e1;
  padding: 0 15px;
  outline: none; }

.convite__secao-search button {
  width: 20%;
  height: 35px;
  float: left;
  border: none;
  background-color: #2e6e9e;
  border-right: 10px solid #fff; }

.convite__secao-resul01 {
  width: 90%;
  border: 3px solid #4d4d4d;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px; }

.convite__secao-resul02 {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden; }
  .convite__secao-resul02.convite__secao-resul02:last-child {
    margin-bottom: 0; }

.convite__secao-cargo {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  text-align: center; }

.convite__secao-cargo .nome {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900; }

.convite__secao-local {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  text-align: center; }

.convite__secao-local .icone {
  display: inline-block; }

.convite__secao-local .nome {
  display: inline-block; }

.convite__secao-headhunters {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  text-align: center; }

.convite__secao-candidatos {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1;
  text-align: center; }

.convite__secao-header {
  margin: 30px 0; }

.convite__secao-header p {
  margin: 0;
  font-size: 13px; }

.convite__secao-resul-icone {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1; }

.convite__secao-resul-recrutador {
  width: 100%;
  height: 67px;
  border-top: 1px solid #e0e2e1;
  border-bottom: 1px solid #e0e2e1;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.convite__secao-resul-recrutador .nome {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900; }

.convite__secao-resul-score {
  width: 100%;
  height: 67px;
  background-color: #2e6e9e;
  border-right: 10px solid #fff;
  text-align: center; }

.convite__secao-resul-score .texto {
  color: #fff; }

.convite__secao-resul-like {
  width: 100%;
  height: 67px;
  background-color: #8ac93a;
  border-right: 5px solid #fff; }

.convite__secao-resul-deslike {
  width: 100%;
  height: 67px;
  background-color: #8ac93a; }

.convite__secao-resul-score-titulo {
  text-align: center;
  background-color: #2e6e9e;
  border-right: 10px solid #fff;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #fff; }

.convite__secao-resul-like-titulo {
  text-align: center;
  background-color: #e0e2e1;
  border-right: 5px solid #fff;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #2e6e9e; }

.convite__secao-resul-deslike-titulo {
  text-align: center;
  background-color: #e0e2e1;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #2e6e9e; }

/* PAGINA mensagens central */
.conteudo-header__entrada {
  width: 100%;
  background-color: #8ac93a;
  padding: 25px;
  overflow: hidden; }

.conteudo-header__saida {
  width: 100%;
  background-color: #00a5ff;
  padding: 25px;
  overflow: hidden; }

.conteudo-header__entrada .texto,
.conteudo-header__saida .texto {
  width: 33.333333%;
  float: left;
  color: #fff;
  text-align: left;
  font-size: 13px;
  font-weight: 900; }

.conteudo-header__entrada .icone,
.conteudo-header__saida .icone {
  width: 33.333333%;
  float: left;
  text-align: center; }

.conteudo-header__entrada .numero,
.conteudo-header__saida .numero {
  width: 33.3333333%;
  float: left;
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-weight: 900; }

.form-perfil__conteudo-titulo {
  text-align: center;
  font-size: 16px;
  margin: 15px 0; }

.form-perfil__acao-submit input[type=submit] {
  width: 100%;
  background-color: #8ac93a;
  border: none;
  color: #fff; }

.caixa-entrada__titulo {
  width: 100%;
  background-color: #8ac93a;
  text-align: center;
  padding: 5px 0;
  color: #fff; }

.caixa-entrada__titulo-bg {
  width: 100%;
  background-color: #2e6e9e;
  text-align: center;
  padding: 5px 0;
  color: #ccc; }

.caixa-entrada__conteudo {
  width: 100%;
  border: 1px solid #e0e2e1; }

.caixa-entrada__conteudo-bg {
  background-color: #e0e2e1;
  padding: 30px; }

.caixa-entrada__nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 15px; }

.caixa-entrada__link {
  margin: 15px 0;
  display: block; }
  .caixa-entrada__link.caixa-entrada__link:first-child {
    margin-top: 0; }
  .caixa-entrada__link.caixa-entrada__link:last-child {
    margin-bottom: 0; }

.caixa-entrada__assunto {
  color: #2e6e9e;
  margin-bottom: 15px; }

.caixa-entrada__texto {
  width: 100%;
  background-color: #fff;
  padding: 30px; }

.caixa-entrada__texto p {
  margin: 0;
  text-align: justify; }

.caixa-entrada__responder {
  display: table;
  margin-top: 30px; }

.caixa-entrada__responder a {
  background-color: #4d4d4d;
  padding: 15px 45px;
  color: #fff;
  display: block; }

/* PAGINA historico de faturamento */
.historico-faturamento__conteudo {
  width: 100%;
  overflow: hidden; }

.historico-faturamento__titulo {
  text-align: center;
  margin: 10px 0; }

.historico-faturamento__row {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px; }
  .historico-faturamento__row.historico-faturamento__row:last-child {
    margin-bottom: 0; }

.historico-faturamento__cargo,
.historico-faturamento__emissao,
.historico-faturamento__vencimento,
.historico-faturamento__status {
  height: 67px;
  background-color: #e0e2e1;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.historico-faturamento__cargo .nome {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900; }

.historico-faturamento__emissao,
.historico-faturamento__vencimento,
.historico-faturamento__status {
  color: #4d4d4d;
  font-size: 15px; }

.historico-faturamento__status {
  border-right: 5px solid #fff; }

.historico-faturamento__nf,
.historico-faturamento__boleto {
  height: 67px;
  background-color: #2e6e9e;
  text-align: center; }

.historico-faturamento__nf .texto,
.historico-faturamento__boleto .texto {
  color: #fff; }

.historico-faturamento__nf {
  border-right: 1px solid #fff; }

/* PAGINA relatorios */
.relatorios__conteudo {
  width: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.relatorios__selecao {
  width: 100%;
  height: 67px;
  background-color: #e0e2e1; }

.relatorios__selecao select {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0 15px; }

/* PAGINA cadastros */
.planos__conteudo {
  width: 100%; }

.planos__coluna {
  padding: 0 30px;
  transition: 0.3s; }
  .planos__coluna.planos__coluna:hover {
    border: 3px solid; }

.planos__nome {
  text-align: center;
  padding: 15px 0; }

.planos__nome h3 {
  font-size: 25px;
  font-weight: 900;
  margin: 0; }

.planos__titulo {
  background-color: #d9d9d9;
  text-align: center;
  padding: 30px 0; }

.planos__titulo span {
  font-size: 25px;
  font-weight: 100; }

.planos__descricao {
  text-align: center;
  margin: 25px 0; }

.planos__descricao span {
  font-size: 16px;
  font-weight: 100; }

.planos__subtitulo {
  text-align: center;
  padding: 25px 0;
  border: 1px solid; }

.planos__button {
  text-align: center;
  padding: 25px 0; }

.termos__conteudo {
  width: 100%; }

.termos__texto {
  background-color: #ccc;
  padding: 30px; }

.termos__checkbox {
  margin: 30px 0; }

.termos__button {
  margin: 30px 0;
  float: right; }

.consulta__filtro-row {
  margin: 5px 0;
  overflow: hidden; }

.consulta__filtro-row i {
  color: #fff;
  font-size: 18px; }

.box__conteudo-box-titulo {
  width: 100%;
  height: 55px;
  background-color: #2e6e9e;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  padding: 0 15px; }

.box__conteudo-box-titulo .icone {
  width: 33.333333333%;
  float: left; }

.box__conteudo-box-titulo .icone .icn-select-menu-m-branco {
  float: right; }

.box__conteudo-box-titulo .texto {
  width: 33.333333333%;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 100; }

.box__conteudo-nav {
  width: 100%;
  text-align: center;
  margin-bottom: 65px; }

.box__conteudo-nav-item {
  border-bottom: 1px solid #fff; }

.box__conteudo-nav-link {
  background-color: #e6e6e6;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  transition: 0.3s; }
  .box__conteudo-nav-link.box__conteudo-nav-link:hover {
    background-color: #e0e6ea; }

.usuarios__tabela {
  width: 92%;
  margin-left: auto;
  margin-right: auto; }

.consulta__tabela {
  width: 89.5%;
  margin-left: auto;
  margin-right: auto; }

.usuarios__tabela thead,
.consulta__tabela thead {
  background-color: #808080; }

.usuarios__tabela thead th,
.consulta__tabela thead th {
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  border-bottom: none !important; }

.usuarios__tabela tbody,
.consulta__tabela tbody {
  text-align: center;
  background-color: #e0e2e1;
  border-bottom: 1px solid #fff; }

.usuarios__tabela tbody tr,
.consulta__tabela tbody tr {
  border-bottom: 1px solid #fff; }

.usuarios__tabela tbody tr:nth-child(2n+1),
.consulta__tabela tbody tr:nth-child(2n+1) {
  background-color: #fff;
  border-bottom: 1px solid #e0e2e1;
  border-left: 1px solid #e0e2e1; }

.usuarios__tabela tbody tr td,
.consulta__tabela tbody tr td {
  border-top: none; }

.usuarios__tabela-editar,
.consulta__tabela-url {
  background-color: #2e6e9e;
  cursor: pointer; }

.usuarios__tabela-editar i,
.consulta__tabela-url i {
  color: #fff;
  font-size: 18px; }

.usuarios__tabela-fechar {
  background-color: #cc0a2f;
  cursor: pointer; }

.usuarios__tabela-fechar i {
  color: #fff;
  font-size: 18px; }

.consulta__filtro-resul {
  margin: 25px 0; }

.pesquisar-candidato__resul {
  background-color: #e6e6e6;
  padding: 10px 25px; }

.pesquisar-candidato__resul .vagas__informacoes-resultado {
  border-bottom: none; }

.vagas__informacoes-img {
  text-align: center; }

.candidatos__cv .icn-perfil-cv-p-azul {
  margin-left: auto;
  margin-right: auto; }

.candidatos__atual-titulo {
  text-align: center;
  color: #2e6e9e;
  font-size: 18px; }

.candidatos__atual-box {
  width: 100%;
  height: 67px;
  background-color: #e6e6e6;
  margin: 15px 0;
  overflow: hidden;
  padding: 0 30px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }
  .candidatos__atual-box.candidatos__atual-box:last-child {
    margin: 0; }

.candidatos__atual-box .agrupar {
  width: 100%;
  display: flex;
  align-items: center; }

.candidatos__atual-box .texto {
  width: 80%;
  float: left;
  text-align: center;
  color: #2e6e9e;
  font-size: 14px;
  font-weight: 100; }

.candidatos__atual-box .icone {
  width: 20%;
  float: right; }

.candidatos__atual-box .icone .icn-perfil-tel-p-azul,
.candidatos__atual-box .icone .icn-perfil-dolar-p-azul,
.candidatos__atual-box .icone .icn-perfil-email-p-azul {
  margin-left: auto; }

.vagas__informacoes-extra {
  border: 3px solid #2e6e9e;
  border-top: none; }

.vagas__informacoes-extra-anexos {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px; }

.vagas__informacoes-extra-anexos-box {
  width: 100%;
  height: 50px;
  background-color: #2e6e9e;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__informacoes-extra-anexos-box span {
  color: #fff;
  font-size: 15px;
  font-weight: 100; }

.vagas__informacoes-extra-anexos-avaliacao {
  text-align: center;
  margin: 30px 0 15px 0; }

.vagas__informacoes-extra-anexos-avaliacao .texto {
  color: #2e6e9e;
  font-size: 16px;
  font-weight: 100; }

.vagas__informacoes-extra-anexos-avaliacao .icone {
  margin-top: 15px; }

.vagas .tab-pane {
  padding: 0;
  background-color: #fff; }

.vagas__abas #filaCand,
.vagas__abas #candPartic,
.vagas__abas #anexosCdd {
  padding: 30px 45px; }

#manutVag .resul__form input,
#manutVag .resul__form select {
  border: none; }

.vagas__notificaoes {
  margin-bottom: 35px; }

.vagas__notificaoes-box {
  text-align: center; }

.vagas__notificaoes-box .titulo {
  color: #2e6e9e;
  font-size: 14px;
  font-weight: 100; }

.vagas__notificaoes-box .icone {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 20px;
  margin-bottom: 20px; }

.vagas__notificaoes-box .numero {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 15px; }

.vagas .nav-tabs > li > a {
  width: 100%;
  background-color: #808080;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 25px 35px; }

.vagas .nav-tabs > li.active > a {
  background-color: #2e6e9e;
  border: none;
  color: #fff; }

.vagas__resul {
  margin-bottom: 10px;
  overflow: hidden; }

.vagas__marketplace-titulo {
  width: 100%;
  height: 75px;
  background-color: #e6e6e6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  border-right: 2px solid #fff;
  text-align: center; }

.vagas__marketplace-titulo .nome {
  color: #4d4d4d;
  font-size: 25px;
  font-weight: 900; }

.vagas__marketplace-titulo .data {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 100; }

.vagas__marketplace-local {
  width: 100%;
  height: 75px;
  background-color: #e6e6e6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  border-right: 2px solid #fff;
  text-align: center; }

.vagas__marketplace-local .icone {
  display: inline-block;
  margin: 0 10px 0 0; }

.vagas__marketplace-local .local {
  display: inline-block;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 900; }

.vagas__marketplace-salario {
  width: 100%;
  height: 75px;
  background-color: #e6e6e6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  border-right: 2px solid #fff; }

.vagas__marketplace-salario .min,
.vagas__marketplace-salario .max {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 100; }

.vagas__marketplace-salarioPct {
  width: 100%;
  height: 75px;
  background-color: #e6e6e6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  text-align: center; }

.vagas__marketplace-salarioPct .pct {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900; }

.vagas__marketplace-salarioPct .descricao {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 100; }

.vagas__marketplace-icone {
  width: 100%;
  height: 75px;
  background-color: #2e6e9e;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  text-align: center;
  cursor: pointer; }

.vagas__marketplace-icone .icone {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.vagas__marketplace-icone .descricao {
  color: #fff;
  font-size: 12px;
  font-size: 100;
  margin-top: 5px; }

.vagas__resul-paginacao {
  float: right;
  margin: 15px 0; }

.vagas__resul-titulo {
  width: 100%;
  overflow: hidden; }

.vagas__resul-titulo-col {
  border: none;
  height: 55px;
  background-color: #ccc;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.vagas__marketplace-pg-titulo {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 60px; }

.vagas__marketplace-pg-titulo h3 {
  margin: 0;
  color: #8ac93a;
  font-size: 25px;
  font-weight: 900; }

.vagas__resul-titulo {
  width: 80%;
  height: 75px;
  background-color: #808080;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__resul-titulo h3 {
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 100; }

.vagas__resul-descricao {
  margin-top: 30px; }

.vagas__resul-descricao p {
  margin: 0;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 100;
  text-align: justify; }

.vagas__mensagens-abas {
  margin-top: 60px; }

.vagas__mensagens-abas ul li {
  width: 120px;
  height: 85px;
  margin: 0 15px 0 0; }

.vagas__mensagens-abas .nav-tabs {
  border: none;
  margin-bottom: 2px; }

.vagas__mensagens-abas .nav-tabs > li.active > a,
.vagas__mensagens-abas .nav-tabs > li.active > a:hover,
.vagas__mensagens-abas .nav-tabs > li.active > a:focus {
  background-color: #2e6e9e;
  border: none; }

.vagas__mensagens-abas-encaminhar {
  width: 100%;
  height: 100%;
  background-color: #2e6e9e;
  text-align: center;
  border-radius: 0 !important;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__mensagens-abas-encaminhar .icone {
  height: 45px;
  display: table;
  margin-right: auto;
  margin-left: auto; }

.vagas__mensagens-abas-encaminhar .descricao {
  color: #fff; }

.vagas__mensagens-abas-alerta {
  width: 100%;
  height: 100%;
  background-color: #cc0a2f;
  text-align: center;
  border-radius: 0 !important;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__mensagens-abas-alerta .icone {
  height: 45px;
  display: table;
  margin-right: auto;
  margin-left: auto; }

.vagas__mensagens-abas-alert .descricao {
  color: #fff; }

.vagas__mensagens-abas-submeter {
  width: 100%;
  height: 100%;
  background-color: #8ac93a;
  text-align: center;
  border-radius: 0 !important;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__mensagens-abas-submeter .icone {
  height: 45px;
  display: table;
  margin-right: auto;
  margin-left: auto; }

.vagas__mensagens-abas-submeter .descricao {
  color: #fff; }

.vagas__mensagens-abas-status {
  width: 100%;
  height: 100%;
  background-color: #808080;
  text-align: center;
  border-radius: 0 !important;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.vagas__mensagens-abas-status .icone {
  height: 45px;
  display: table;
  margin-right: auto;
  margin-left: auto; }

.vagas__mensagens-abas-status .descricao {
  color: #fff; }

.vagas__mensagens-abas .tab-content #encaminhar {
  background-color: #2e6e9e;
  padding: 20px; }

.vagas__mensagens-box {
  background-color: #fff;
  padding: 20px 0; }

.vagas__mensagens-abas .tab-content #alerta {
  background-color: #cc0a2f;
  padding: 20px; }

.vagas__mensagens-abas .tab-content #submeter {
  background-color: #8ac93a;
  padding: 20px; }

.vagas__mensagens-abas .tab-content #status {
  background-color: #808080;
  padding: 20px; }

.vagas__abas {
  width: 97%;
  background-color: #e0e2e1;
  margin-top: 65px; }

.vagas__abas .nav-tabs > li {
  width: 25%;
  text-align: center;
  background-color: #fff; }

.vagas__abas .nav-tabs > li > a {
  margin: 0;
  border-radius: 0;
  border-top: 1px solid #e0e2e1;
  border-left: 1px solid #e0e2e1;
  padding: 30px 10px; }

.vagas__abas ul li:last-child {
  border-right: 1px solid #e0e2e1; }

.vagas__abas .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #2e6e9e;
  cursor: default;
  background-color: #e0e2e1;
  border-top: 1px solid #e0e2e1;
  border-left: 1px solid #e0e2e1;
  border-bottom-color: transparent; }

.aba-header {
  margin: 15px 0 30px 0; }

.aba-header input[type=search] {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px 15px; }

.aba-filtro-input {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden; }

.aba-resul-row {
  width: 100%;
  overflow: hidden;
  margin: 10px 0; }
  .aba-resul-row.aba-resul-row:first-child {
    margin-top: 0; }
  .aba-resul-row.aba-resul-row:last-child {
    margin-bottom: 0; }

.aba-filtro select {
  width: 100%;
  height: 45px;
  border: 4px solid #ccc;
  background-color: #fff;
  padding: 0 15px;
  color: #808080; }

.aba-filtro .consultar {
  text-align: right; }

.aba-filtro .consultar input[type=submit] {
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
  background-color: #8ac93a;
  color: #fff; }

.resul__grupo-row {
  margin-bottom: 35px; }

.box-perfil {
  background-color: #fff;
  border: 3px solid #2e6e9e; }

.box-perfil-row-01,
.box-perfil-row-02 {
  padding: 30px; }

.box-perfil .img-perfil {
  text-align: center; }

.score {
  width: 100%;
  overflow: hidden;
  margin-top: 15px; }

.score .pct {
  color: #2e6e9e;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin-bottom: -5px; }

.score .descricao {
  color: #2e6e9e;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase; }

.idade {
  width: 100%;
  overflow: hidden;
  margin-top: 50px; }

.idade .numero {
  color: #2e6e9e;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-bottom: -5px; }

.idade .estado-civil {
  color: #2e6e9e;
  font-size: 13px;
  font-weight: 100;
  text-align: center; }

.perfil-cv {
  width: 100%;
  text-align: center;
  margin-top: 50px; }

.perfil-cv .descricao {
  color: #2e6e9e;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px; }

.nome-local {
  width: 100%; }

.nome-local .nome {
  color: #2e6e9e;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase; }

.nome-local .local {
  color: #2e6e9e;
  font-size: 12px;
  font-weight: 100; }

.experiencia {
  width: 100%; }

.experiencia .ultima {
  margin: 50px 0 20px 0; }

.experiencia .ultima .titulo,
.experiencia .anterior .titulo {
  color: #808080;
  font-size: 14px;
  font-weight: 100;
  text-decoration: underline; }

.experiencia .ultima .empresa-data,
.experiencia .ultima .cargo,
.experiencia .anterior .empresa-data,
.experiencia .anterior .cargo,
.idioma {
  color: #808080;
  font-size: 14px;
  font-weight: 100; }

.formacao {
  margin: 15px 0; }

.formacao .descricao {
  color: #808080;
  font-size: 14px;
  font-weight: 100; }

.col-cv {
  text-align: center; }

.col-cv .icone {
  display: table;
  margin-right: auto;
  margin-left: auto; }

.avaliacao {
  width: 100%; }

.avaliacao .titulo {
  color: #2e6e9e;
  font-size: 16px;
  font-weight: 100;
  text-decoration: underline;
  text-align: right;
  margin-bottom: 5px; }

.status {
  width: 100%;
  overflow: hidden; }

.status-row {
  margin: 10px 0;
  overflow: hidden; }
  .status-row.status-row:first-child {
    margin-top: 0; }
  .status-row.status-row:last-child {
    margin-top: 0; }

.status .icone {
  width: 20%;
  float: left;
  border: 1px solid; }

.status .descricao {
  width: 80%;
  float: left;
  border: 1px solid; }

.acoes {
  width: 100%;
  overflow: hidden; }

.acoes .enviar-email,
.acoes .enviar-quest,
.acoes .solicitar-entrev,
.acoes .evoluir-cand {
  width: 100%;
  height: 40px;
  background-color: #8ac93a;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  color: #fff;
  cursor: pointer;
  margin: 10px 0; }

.acoes .enviar-email {
  margin-top: 0; }

.acoes .evoluir-cand {
  margin-bottom: 0; }

.perfil-extra {
  width: 100%;
  background-color: #2e6e9e;
  text-align: right;
  padding: 10px 30px; }
  .perfil-extra .titulo {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin: 0 15px 0 0; }
  .perfil-extra .icone {
    display: inline-block; }

.box-perfil-row-boxs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0; }

.anexos-box {
  width: 100%;
  height: 45px;
  background-color: #2e6e9e;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.anexos-box span {
  color: #fff; }

.avaliacao-logo {
  width: 100%;
  text-align: center; }

.avaliacao-logo .descricao {
  color: #2e6e9e;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 100; }

.add-fila {
  width: 100%;
  background-color: #8ac93a;
  text-align: center;
  padding: 15px 0; }

.add-fila .descricao {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase; }

.add-fila .icone {
  display: inline-block; }

.resul__footer {
  text-align: right; }

.resul__grupo-inf-usuario {
  width: 100%; }

.resul__grupo-inf-usuario .cell-titulo {
  width: 20%;
  text-align: center;
  color: #2e6e9e;
  font-weight: normal;
  vertical-align: middle;
  padding: 15px 0 0 0; }

.resul__grupo-inf-usuario .cell-td-titulo {
  background-color: #2e6e9e;
  vertical-align: middle;
  text-align: center; }
  .resul__grupo-inf-usuario .cell-td-titulo .nome {
    font-size: 15px;
    font-weight: 100;
    color: #fff; }
  .resul__grupo-inf-usuario .cell-td-titulo .data {
    color: #fff;
    font-size: 15px;
    font-weight: 100; }

.resul__grupo-inf-usuario .cell-td-acao {
  background-color: #fff;
  text-align: center;
  color: #2e6e9e;
  border-bottom: 4px solid #e0e2e1;
  border-left: 4px solid #e0e2e1; }
  .resul__grupo-inf-usuario .cell-td-acao span {
    font-size: 15px; }
  .resul__grupo-inf-usuario .cell-td-acao i {
    font-size: 18px; }

.resul__grupo-inf-usuario .tr-row-inferior .cell-td-acao {
  border-bottom: none; }

.resul__header-filtro p,
.resul__header-numero p {
  color: #2e6e9e;
  font-size: 15px;
  font-weight: 100; }

.vagas__boxs-lateral-box-01 {
  width: 100%;
  border: 2px solid #2e6e9e;
  background-color: #2e6e9e;
  text-align: center;
  margin-top: 65px; }
  .vagas__boxs-lateral-box-01 .box-numero {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    color: #2e6e9e;
    font-size: 26px;
    font-weight: 900; }
  .vagas__boxs-lateral-box-01 .box-descricao {
    width: 100%;
    background-color: #fff;
    color: #2e6e9e;
    font-size: 12px;
    padding: 15px 0; }

.vagas__boxs-lateral-box-02 {
  width: 100%;
  border: 2px solid #8ac93a;
  background-color: #8ac93a;
  text-align: center;
  margin-top: 15px; }
  .vagas__boxs-lateral-box-02 .box-numero {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    color: #8ac93a;
    font-size: 26px;
    font-weight: 900; }
  .vagas__boxs-lateral-box-02 .box-descricao {
    width: 100%;
    background-color: #fff;
    color: #8ac93a;
    font-size: 12px;
    padding: 15px 0; }

.vagas__boxs-lateral-box-03 {
  width: 100%;
  border: 2px solid #ffac00;
  background-color: #ffac00;
  text-align: center;
  margin-top: 15px; }
  .vagas__boxs-lateral-box-03 .box-numero {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    color: #ffac00;
    font-size: 26px;
    font-weight: 900; }
  .vagas__boxs-lateral-box-03 .box-descricao {
    width: 100%;
    background-color: #fff;
    color: #ffac00;
    font-size: 12px;
    padding: 15px 0; }

.resul__historico {
  padding: 0 35px; }

.resul__historico-conteudo {
  width: 100%;
  overflow: hidden; }
  .resul__historico-conteudo h3 {
    margin: 0;
    color: #2e6e9e;
    font-size: 14px;
    font-weight: 100; }

.resul__historico-conteudo-titulo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px; }
  .resul__historico-conteudo-titulo .titulo {
    color: #2e6e9e; }

.resul__historico-conteudo-input-row {
  margin-bottom: 10px; }

.resul__historico-conteudo-input {
  overflow: hidden;
  text-align: center; }
  .resul__historico-conteudo-input .data, .resul__historico-conteudo-input .usuario, .resul__historico-conteudo-input .motivo, .resul__historico-conteudo-input .observacao {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    color: #808080;
    font-size: 15px;
    font-weight: 100; }

/* index */
.conteudo-painel__titulo-icone .icone {
  margin-left: auto;
  margin-right: auto; }

.conteudo-painel__titulo-numero {
  text-align: center; }

.conteudo-painel__titulo-numero span {
  font-size: 18px;
  font-weight: 100; }

.marketplace {
  margin-top: 35px; }

.marketplace__titulo {
  background-color: #2e6e9e;
  display: table;
  padding: 25px 35px; }

.marketplace__titulo h3 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100; }

.marketplace__conteudo {
  width: 100%;
  background-color: #e6e6e6;
  padding: 30px; }

.marketplace__conteudo-titulo {
  text-align: center;
  padding: 0 0 30px 0; }

.marketplace__conteudo-titulo h4 {
  margin: 0;
  color: #2e6e9e;
  font-size: 18px; }

.marketplace__conteudo-tabela table {
  margin-bottom: 0; }

.marketplace__conteudo-tabela thead {
  background-color: #2e6e9e; }

.marketplace__conteudo-tabela thead tr th {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  border: none; }

.marketplace__conteudo-tabela tbody {
  background-color: #fff;
  text-align: center; }

.marketplace__conteudo-tabela tbody tr td {
  color: #2e6e9e; }

.marketplace__notificacoes {
  margin-top: 35px; }

.marketplace__notificacoes-titulo {
  color: #2e6e9e;
  text-align: center;
  font-size: 18px;
  font-weight: 100; }

.marketplace__notificacoes-nav {
  width: 80%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto; }

.marketplace__notificacoes-nav .texto {
  width: 85%;
  float: left;
  text-align: right;
  margin: 0 30px 0 0;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 100; }

.marketplace__notificacoes-nav .icone {
  width: 40px;
  height: 35px;
  background-color: #2e6e9e;
  border-radius: 100%;
  float: right;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.marketplace__notificacoes-nav .icone span {
  color: #fff;
  font-size: 16px;
  font-weight: 900; }

/* #SIDEBAR */
.sidebar-bg {
  background-color: #e6e6e6; }

.sidebar {
  height: 100%; }

.sidebar__nav {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden; }

.sidebar__lista {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar__item {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #fff; }

.sidebar__item-link {
  display: block;
  background-color: #ccc;
  padding: 35px 0;
  font-size: 16px;
  transition: 0.4s;
  text-decoration: none; }
  .sidebar__item-link.sidebar__item-link:hover {
    background-color: #2e6e9e;
    color: #fff;
    text-decoration: none; }

.sidebar__item-link-ativo {
  display: block;
  background-color: #2e6e9e;
  padding: 35px 0;
  font-size: 16px;
  transition: 0.4s;
  text-decoration: none;
  color: #fff; }

.conteudo {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

/* .form-perfil */
.form-perfil__conteudo {
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

.form-perfil__label {
  width: 145px;
  height: 45px;
  margin: 0 10px 0 0;
  background-color: #2e6e9e;
  text-align: center;
  color: #fff;
  font-weight: 100;
  display: block;
  float: left;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__label-textarea {
  width: 145px;
  height: 100px;
  margin: 0 10px 0 0;
  padding: 0 15px;
  background-color: #2e6e9e;
  text-align: center;
  color: #fff;
  font-weight: 100;
  display: block;
  float: left;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__input {
  width: 80.5%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 15px;
  outline: none; }

.form-perfil__input-textarea {
  width: 80.5%;
  height: 100px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 15px;
  outline: none; }

.form-perfil__input-col02 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: table;
  padding: 0 15px;
  outline: none; }

.form-perfil__select-col02 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url("../imgs/icons/icn-form-select-m-branco.png");
  background-repeat: no-repeat;
  background-position: 350px center;
  display: table;
  padding: 0 15px;
  outline: none; }

.form-perfil__input-col03 {
  width: 76%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 15px;
  outline: none; }

.form-perfil__select-col03 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 76%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image: url("../imgs/icons/icn-form-select-m-branco.png");
  background-position: 98.5% center;
  background-repeat: no-repeat;
  padding: 0 15px;
  outline: none; }

.form-perfil__textarea-col03 {
  width: 76%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 12px 15px;
  outline: none; }

.form-perfil__input-col04 {
  width: 50%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 15px; }

.form-perfil__select-col04 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 50%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
 /* background-image: url("../imgs/icons/icn-form-select-m-branco.png");*/
  background-repeat: no-repeat;
  background-position: 95% center;
  padding: 0 15px; }

.form-perfil__date-col04 {
  width: 50%;
  height: 45px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 12px 15px; }

.form-perfil__row {
  margin: 20px 0; }

.form-perfil__row-bg {
  background-color: #2e6e9e;
  overflow: hidden;
  padding: 30px 0; }

.form-perfil__img {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.form-perfil__titulo {
  text-align: center;
  margin-bottom: 30px; }

.form-perfil__titulo h3 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100; }

.form-perfil__titulo-azul {
  text-align: left;
  margin-bottom: 0;
  margin-top: 60px; }

.form-perfil__titulo-azul h3 {
  color: #2e6e9e; }

.form-perfil__acao-visualizar {
  width: 140px;
  height: 50px;
  background-color: #ccc;
  float: left;
  margin: 0 30px 0 0; }

.form-perfil__acao {
  float: right; }

.form-perfil__acao-submit {
  width: 140px;
  height: 50px;
  background-color: #ccc;
  float: left; }

.form-perfil__acao-submit input[type=submit] {
  width: 100%;
  height: 100%; }

.form-perfil__coluna-label {
  width: 145px;
  float: left;
  margin: 0 10px 0 0;
  background: #2e6e9e;
  text-align: center; }

.form-perfil__coluna-label-h-305px {
  width: 145px;
  height: 305px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__coluna-label-h-285px {
  width: 145px;
  height: 285px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__coluna-label-h-245px {
  width: 145px;
  height: 245px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__coluna-label-h-240px {
  width: 145px;
  height: 240px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__coluna-label-h-170px {
  width: 145px;
  height: 170px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center; }

.form-perfil__coluna-label span {
  color: #fff; }

.form-perfil__coluna-inputs {
  width: 80.7%;
  float: left; }

.form-perfil__coluna-inputs-row {
  width: 100%;
  overflow: hidden;
  margin: 20px 0; }
  .form-perfil__coluna-inputs-row.form-perfil__coluna-inputs-row:first-child {
    margin-top: 0; }
  .form-perfil__coluna-inputs-row.form-perfil__coluna-inputs-row:last-child {
    margin-bottom: 0; }

.form-perfil__menu {
  width: 100%;
  text-align: center; }

.form-perfil__menu-link {
  width: 33.33333333%;
  float: left;
  background-color: #e6e6e6;
  display: block;
  font-size: 18px;
  padding: 10px 0;
  transition: 0.3s;
  text-decoration: none; }
  .form-perfil__menu-link.form-perfil__menu-link:hover {
    background-color: #2e6e9e;
    color: #fff;
    text-decoration: none; }
  .form-perfil__menu-link.form-perfil__menu-link-ativo {
    background-color: #2e6e9e;
    color: #fff;
    text-decoration: none; }

/* .header */
.header__menu-bg {
  background-color: #2e6e9e;
  padding: 60px 0; }

.header__menu {
  width: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.header__nav {
  padding: 0; }

.header__nav-item {
  list-style: none; }

.header__nav-item-sair {
  position: absolute;
  right: 0; }

.header__nav-link--sair {
  background-color: #8ac93a;
  padding: 8px 30px !important;
  color: #fff;
  text-decoration: none;
  transition: 0.3s; }

.header__nav-link--sair:hover {
  background-color: #aadd68;
  color: #fff;
  text-decoration: none; }

.header__nav-link {
  color: #fff;
  margin-right: 45px;
  font-size: 14px; }

.header__logo {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  margin-top: 30px; }

.navbar-toggle {
  background-color: #fff; }

.navbar-toggle .icon-bar {
  background-color: #2e6e9e; }

.navbar-nav > li > a {
  line-height: 30px; }

/* .conteudo-header */
.conteudo-header__voltar {
  background-color: #8ac93a;
  margin-left: auto;
  padding: 5px 15px;
  cursor: pointer;
  display: table; }

.conteudo-header {
  margin: 35px 0; }

.conteudo-header__titulo h2 {
  margin: 0;
  color: #2e6e9e;
  font-size: 21px; }

.conteudo-header__data p {
  margin: 0;
  color: #4d4d4d;
  font-size: 13px; }

.conteudo-header__voltar-icone {
  display: inline-block;
  margin: 0 10px 0 0; }

.conteudo-header__voltar-texto {
  display: inline-block;
  color: #fff; }

.conteudo-header__filtro {
  text-align: right; }

.conteudo-header__img {
  float: right; }

.icn-email-m-verde {
  width: 25px;
  height: 19px;
  background-image: url("../imgs/icons/icn-email-g-verde.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-calendario-m-azul {
  width: 25px;
  height: 25px;
  background-image: url("../imgs/icons/icn-calendario-m-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-sino-m-vermelho {
  width: 24px;
  height: 25px;
  background-image: url("../imgs/icons/icn-sino-m-vermelho.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-mala-m-preto {
  width: 24px;
  height: 25px;
  background-image: url("../imgs/icons/icn-mala-m-preto.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-user-menu-m-branco {
  width: 29px;
  height: 38px;
  background-image: url("../imgs/icons/icn-user-menu-m-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-select-menu-m-branco {
  width: 26px;
  height: 24px;
  background-image: url("../imgs/icons/icn-select-menu-m-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-mala-menu-m-branco {
  width: 31px;
  height: 30px;
  background-image: url("../imgs/icons/icn-mala-menu-m-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-gravata-menu-m-branco {
  width: 9px;
  height: 38px;
  background-image: url("../imgs/icons/icn-gravata-menu-m-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-conecta-menu-m-branco {
  width: 30px;
  height: 36px;
  background-image: url("../imgs/icons/icn-conecta-menu-m-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-header-back-p-branco {
  width: 12px;
  height: 14px;
  background-image: url("../imgs/icons/icn-header-back-p-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-form-select-m-branco {
  width: 12px;
  height: 14px;
  background-image: url("../imgs/icons/icn-form-select-m-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-resul-cadd-m-branco {
  width: 36px;
  height: 36px;
  background-image: url("../imgs/icons/icn-resul-cadd-m-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-resul-local-p-branco {
  width: 14px;
  height: 18px;
  background-image: url("../imgs/icons/icn-resul-local-p-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-resul-lupa-p-branco {
  width: 34px;
  height: 34px;
  background-image: url("../imgs/icons/icn-resul-lupa-p-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-resul-acesso-p-branco {
  width: 17px;
  height: 33px;
  background-image: url("../imgs/icons/icn-resul-acesso-p-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-perfil-cv-p-azul {
  width: 37px;
  height: 61px;
  background-image: url("../imgs/icons/icn-perfil-cv-p-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-perfil-tel-p-azul {
  width: 30px;
  height: 29px;
  background-image: url("../imgs/icons/icn-perfil-tel-p-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-perfil-dolar-p-azul {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/icons/icn-perfil-dolar-p-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-perfil-email-p-azul {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/icons/icn-perfil-email-p-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-presente-m-verde {
  width: 27px;
  height: 23px;
  background-image: url("../imgs/icons/icn-presente-m-verde.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-acesso-m-azul {
  width: 22px;
  height: 20px;
  background-image: url("../imgs/icons/icn-acesso-m-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-cv-m-cinza {
  width: 22px;
  height: 20px;
  background-image: url("../imgs/icons/icn-cv-m-cinza.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-row-conecta-azul {
  width: 31px;
  height: 36px;
  background-image: url("../imgs/icons/icn-row-conecta-azul.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-aba-sino-branco {
  width: 34px;
  height: 34px;
  background-image: url("../imgs/icons/icn-aba-sino-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-aba-icon-circ-branco {
  width: 36px;
  height: 36px;
  background-image: url("../imgs/icons/icn-aba-icon-circ-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

.icn-aba-excl-branco {
  width: 6px;
  height: 32px;
  background-image: url("../imgs/icons/icn-aba-excl-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table; }

  .icn-resul-acesso-p-branco-invert {
  width: 17px;
  height: 33px;
  background-image: url("../imgs/icons/icn-resul-acesso-p-branco.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: table;
  transform: rotate(180deg); }

  .ativo{background-color: #073bf7; color: white;}

  .salvarFunc:hover{
    color: #3c6ba2;
    background: #cacfd6;
  }

/*# sourceMappingURL=style.css.map */

.SideBarAtivo {background-color: #2e6e9e; color: #fff; text-decoration: none;}


.btnNovoItem:hover{cursor:pointer;}

.pointer:hover{cursor:pointer;}

.tabelaVagas i {color: #000;}
.esconder {display: none};

