/* ------------------------------
            FONTES
------------------------------ */
@font-face {
    font-family: "Fonte100";
    src: url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanst521-Lt-BT-Light.eot');
    src: url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanst521-Lt-BT-Light.woff') format('woff'), url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/assets/fontes/Humanst521-Lt-BT-Light.ttf') format('truetype'), url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/assets/fontes/Humanst521-Lt-BT-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Fonte777";
    src: url(http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanist-777-BT.eot');
    src: url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanist-777-BT.woff') format('woff'), url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanist-777-BT.ttf') format('truetype'), url('http://arkan.arkansystem.net.br/projetos_arkan/headhunters/assets/fontes/Humanist-777-BT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bRed {border:1px solid red;}
.bBlue {border:1px solid blue;}
.bGray {border:1px solid gray;}

/* ------------------------------
            ÍCONES
------------------------------ */
.icone-local-small {
    width: 13px;
    height: 18px;
    background-image: url("../img/icones/icone-local-vagas.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.icone-sino-small {
    width: 30px;
    height: 30px;
    background-image: url("../img/icones/icone-sino-vagas.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.icones-status-vagas-ver {
    width: 78px;
    height: 65px;
    background-image: url("../img/icones/icones-status-vagas.png");
    background-repeat: no-repeat;
    background-position: 0 -1px;
}
.icones-status-vagas-finalizada {
    width: 78px;
    height: 65px;
    background-image: url("../img/icones/icones-status-vagas.png");
    background-repeat: no-repeat;
    background-position: 0 -80px;
}
.icones-status-vagas-cancelada {
    width: 78px;
    height: 65px;
    background-image: url("../img/icones/icones-status-vagas.png");
    background-repeat: no-repeat;
    background-position: 0 -155px;
}
.icones-download-relatorios-nf {
    width: 82px;
    height: 70px;
    background-image: url("../img/icones/icone-botao-secao-relatorios.png");
    background-repeat: no-repeat;
    background-position: -2px -2px;
}
.icones-download-relatorios-boleto {
    width: 82px;
    height: 70px;
    background-image: url("../img/icones/icone-botao-secao-relatorios.png");
    background-repeat: no-repeat;
    background-position: -2px -86px;
}
.icones-caixa-saida {
    width: 35px;
    height: 30px;
    background-image: url("../img/icones/icone-caixa-entrada-saida.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.icones-caixa-entrada {
    width: 35px;
    height: 30px;
    background-image: url("../img/icones/icone-caixa-entrada-saida.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}


/* ------------------------------
            GERAL
------------------------------ */
h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0
}

/* ---- temporário --- */
.red {border:1px solid red;}
.blue {border:1px solid blue;}
.gray {border:1px solid gray;}

/* --- Header ---*/
.navbar-inverse {
    background-color: #2e6e9e;
    border: none;
}
#header .navbar-header {
    height: 145px;
}
#header .navbar-bg {
    background-color: #fff;
}
#header .navbar-nav li a {
    color: #fff;
    font-family: "Fonte777";
    font-size: 13px;
}

/* --- Sidebar ---*/
#painel .sidebar {
    background-color: #ccc;
    padding: 0;
}
#painel .sidebar p {
    margin: 0;
    padding: 35px 0;
    border-bottom: 1px solid #fff;
}
#painel .sidebar p:nth-child(1) {
    background-color: #2e6e9e;
}
#painel .sidebar p a {
    color: #2e6e9e;
    font-family: "Fonte777";
    font-size: 16px;
}

/* --- Painel --- */
#painel .conteudo {
    padding: 0 80px;
}
#painel .conteudo header {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}
#painel .conteudo header .msg-bemvindo {
    width: 75%;
    float: left;
}
#painel .conteudo header .msg-bemvindo .msg {
    color: #0a4b73;
    font-family: "Fonte777";
    font-size: 17px;
}
#painel .conteudo header .msg-bemvindo .data {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 14px;
}
#painel .conteudo header .avatar {
    width: 25%;
    float: left;
}

/* --- Section NOTIFICAÇÕES ---*/
.icone-notificao-msg {
    width: 24px;
    height: 17px;
    background-image: url("../img/icones/icones-notificaoes.png");
    background-position: 0 0;
}
.icone-notificao-agenda {
    width: 24px;
    height: 24px;
    background-image: url("../img/icones/icones-notificaoes.png");
    background-position: -1px -26px;
    background-repeat: no-repeat;
}
.icone-notificao-sino {
    width: 24px;
    height: 24px;
    background-image: url("../img/icones/icones-notificaoes.png");
    background-position: -2px -59px;
    background-repeat: no-repeat;
}
.icone-notificao-maleta {
    width: 25px;
    height: 23px;
    background-image: url("../img/icones/icones-notificaoes.png");
    background-position: 0px -93px;
    background-repeat: no-repeat;
}
section#notificacao {
    width: 100%;
    overflow: hidden;
    border: 1px solid #a6a9ab;
    padding: 10px 40px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#notificacao .notificao-grupo {
    width: 100%;
    height: 45px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#notificacao .icone {
    width: 18%;
    float: left;
}
section#notificacao .titulo {
    width: 67%;
    float: left;
}
section#notificacao .titulo span {
    color: #406ead;
    font-family: "Fonte100";
    font-size: 16px;
    font-weight: 100;
}
section#notificacao .qtd {
    width: 15%;
    float: left;
    text-align: right;
}
section#notificacao .qtd span {
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 100;
}
section#acessos {
    width: 100%;
}
section#acessos {
    padding-top: 25px;
}
section#acessos .link {
    padding: 10px 0;
}
section#acessos .link a {    
    color: #406ead;
}
section#acessos .link span {
    color: #406ead;
    font-family: "Fonte777";
    font-size: 17px;
    text-decoration: underline;   
}
section#acessos .link .baixar {
    color: #8ac93a;
    font-family: "Fonte777";
    font-size: 17px;
    text-decoration: underline; 
}

/* ------------------------------
       SECAO MINHAS VAGAS
       #minhasvagas-mv--
------------------------------ */
.bg-desativa {
    background-color: #fff;
    border-top: 1px solid #e0e2e1;
    border-right: 1px solid #e0e2e1;
    border-bottom: 1px solid #e0e2e1;
}
.bg-desativa:nth-child(2) {
    border-top: 1px solid #e0e2e1;
    border-left: 1px solid #e0e2e1;
    border-bottom: 1px solid #e0e2e1;
}
.bg-ativa {
    background-color: #e0e2e1;
    border-left: 1px solid #fff;
}
#minhasvagas-mv-- {
    width: 100%;
    max-width: 780px;
    margin: auto;
}
.mv-header {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}
.mv-ResultadoNumerico {
    width: 50%;
    float: left;
    text-align: left;
}
.mv-ResultadoNumerico p {
    color: #2e6e9e;
    font-family: "Fonte100";
    font-size: 14px;
    padding-left: 50px;
}
.mv-OrganizarResultado {
    width: 50%;
    float: left;
    text-align: right;
}
.mv-OrganizarResultado p {
    color: #505050;
    font-family: "Fonte100";
    font-size: 14px;
}
.mv-ListaResultados {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.mv-ListaResultadosSino {
    width: 6.41025641%;
    height: 67px;
    float: left;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosCargo {
    width: 29.615384615%;
    height: 65px;
    float: left;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosCargo .titulo {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.mv-ListaResultadosCargo .data {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 13px;
    font-weight: 100;
}
.mv-ListaResultadosLocal {
    width: 16.282051282%;
    height: 65px;
    float: left;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosLocal .icone {
    display: inline-block;
    margin-right: 10px;
}
.mv-ListaResultadosLocal .agrupar {    
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosLocal .titulo {
    display: inline-block;
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 13px;
    font-weight: 100;
}
.mv-ListaResultadosHead {
    width: 22.307692308%;
    height: 65px;
    float: left;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosHead .qtd {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.mv-ListaResultadosHead .titulo {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 17px;
    font-weight: 100;
}
.mv-ListaResultadosCandidatos {
    width: 15.384615385%;
    height: 65px;
    float: left;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mv-ListaResultadosCandidatos .qtd {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.mv-ListaResultadosCandidatos .titulo {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 17px;
    font-weight: 100;
}
.mv-ListaResultadosStatus {
    width: 10%;
    height: 65px;
    float: left;
}
.mv-Rodape {
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center
}
.mv-RodapeInfor {
    width: 50%;
    float: left;
}
.mv-RodapeInfor .agrupa {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
.mv-RodapeInfor .icone {
    display: inline-block;
    margin-left: 50px;
    margin-right: 15px;
}
.mv-RodapeInfor .titulo {
    display: inline-block;
    color: #808080;
    font-family: "Fonte100";
    font-size: 13px;
    font-weight: 100;
}
.mv-RodapePaginacao {
    width: 50%;
    float: left;
    text-align: right;
}
.mv-RodapePaginacao span {
    color: #505050;
    font-family: "Fonte100";
    font-size: 13px;
}
#mv-InforCandidatos {
    width: 100%;
    overflow: hidden;
}
.coluna-Col09 {
    width: 90%;
    float: left;
}
.coluna-Col01 {
    width: 10%;
    float: left;
}
.mv-InforPerfil {
    width: 100%;
}
#tab-tabs .ui-tabs-nav {
    padding: 0;
}
.tab-TabMenu .tab-Item {
    color: #294678;
    font-family: "Fonte100";
    font-size: 14px;
}
.tab-TabMenu .tab-Item a {
    color: #294678;
    outline: none;
}
#tab-tabs .ui-tabs-nav li {
    width: 20%;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}
#tab-tabs .ui-tabs-nav li:nth-child(5) {
    border-right: 1px solid #e6e6e6;
}
#tab-tabs li.ui-tabs-active {
    margin: 0;
    padding: 15px 0;
    background-color: #e6e6e6;
}
#tab-tabs .ui-tabs-anchor {
    width: 100%;
    padding: 0;
}
#tab-tabs .ui-tabs-panel {
    background-color: #e6e6e6;
}
.tab-filtro {
    width: 100%;
    overflow: hidden;
}
.tab-filtro .filtro {
    width: 25%;
    float: left;
    padding-right: 20px;
}
.tab-filtro .filtro #select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/icones/icone-select-01.png");
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 0;
    color: #fff;
 }
 .tab-filtro .filtro #select option {
     color: #2e6e9e;
     background-color: #fff;
 }


/* ------------------------------
   SEÇÃO HISTÓRICO DE FATURAMENTO
     #hitoricofaturamento-hf--
------------------------------ */
#hitoricofaturamento-hf-- {
    width: 100%;  
    max-width: 780px;
    margin: auto;
}
.hf-Header {
    width: 100%;
    padding: 40px 0;
}
.hf-Header .titulo {
    text-align: left;
}
.hf-Header .titulo h2 {
    color: #406ead;
    font-family: "Fonte100";
    font-size: 18px;
    font-weight: 100;
}
#hf-Historicos {
    width: 100%;
    overflow: hidden;
}
.hf-ListaHistoricosTitulos {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    color: #808080;
    font-family: "Fonte100";
    font-size: 14px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
.hf-ListaHistoricosLinha {
    width: 100%;
    height: 70px;
    background-color: #e0e2e1;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
.hf-Cargo {
    width: 30.897435897%;
    float: left;
}
.hf-Cargo .titulo {
    text-align: center;
    color: #505050;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.hf-DataEmissao {
    width: 16.025641026%;
    float: left;
}
.hf-DataEmissao .data {
    text-align: center;
    color: #505050;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
}
.hf-DataVencimento {
    width: 16.025641026%;
    float: left;
}
.hf-DataVencimento .data {
    text-align: center;
    color: #505050;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
}
.hf-Status {
    width: 16.025641026%;
    float: left;
}
.hf-Status .status {
    text-align: center;
    color: #505050;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
}
.hf-Download {
    width: 21.025641026%;
    float: left;
}
.hf-Download .nf {
    float: left;
    border-left: 3px solid #fff;
    border-right: 1px solid #fff;
}
.hf-Download .boleto {
    float: left;
}

/* ------------------------------
   SEÇÃO MENSAGENS DA CENTRAL
   #mensagenscentral-mc--
------------------------------ */
#mensagenscentral-mc-- {
    width: 100%;  
    max-width: 780px;
    margin: auto;
}
.mc-Header {
    width: 100%;
    padding: 40px 0;;
}
.mc-CaixaEntrada {
    width: 100%;
    height: 72px;
    max-width: 330px;
    float: left;
    background-color: #8ac93a;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mc-CaixaSaida {
    width: 100%;
    height: 72px;
    max-width: 330px;
    float: right;
    background-color: #6abaeb;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.mc-CaixaEntrada .titulo,
.mc-CaixaSaida .titulo {
    color: #fff;
    font-family: "Fonte100";
    font-size: 18px;
    display: inline-block;
}
.mc-CaixaEntrada .icone,
.mc-CaixaSaida .icone {
    display: inline-block;
    margin: 0 35px;
}
.mc-CaixaEntrada .qtd {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    padding-top: 3px;
}
.mc-CaixaEntrada .qtd span {
    color: #8ac93a;
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 900;
}
.mc-CaixaSaida .qtd {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    padding-top: 3px;
}
.mc-CaixaSaida .qtd span {
    color: #6abaeb;
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 900;
}
#mc-Formulario {
    width: 100%;
    overflow: hidden;
}
#mc-Formulario .titulo {
    text-align: center;
    padding: 65px 0 40px 0;
}
#mc-Formulario .titulo h2 {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 17px;
}
.mc-CaixaFormulario {
    width: 100%;
    max-width: 650px;
    margin: auto;
    overflow: hidden;
}
.mc-CaixaFormulario .agrupar {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.mc-CaixaFormulario .label {
    width: 18%;
    height: 40px;
    background-color: #2e6e9e;
    float: left;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -mos-justify-content: center;
    -ms-justify-content: center;
}
.mc-CaixaFormulario .label span {
    color: #fff;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
}
.mc-CaixaFormulario .input {
    width: 80%;
    height: 40px;
    float: right;
}
.mc-CaixaFormulario .input input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #ccc;
}
.mc-CaixaFormulario .textarea {
    width: 80%;
    height: auto;
    float: right;
}
.mc-CaixaFormulario .textarea textarea {
    width: 100%;
    height: 170px;
    border: 1px solid #ccc;
}
.mc-CaixaFormulario .submit {
    width: 125px;
    height: auto;
    float: right;
    margin-top: 15px;
}
.mc-CaixaFormulario .submit input[type="submit"] {
    width: 100%;
    height: 45px;
    background-color: #8ac93a;
    border: none;
    color: #fff;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
}


/* ------------------------------
       CONVIDAR RECRUTADOR
     #convidarrecrutador-cr--
------------------------------ */
#convidarrecrutador-cr {
    width: 100%;  
    max-width: 780px;
    margin: auto;
}
.cr-header {
    width: 100%;
}
.cr-search {
    width: 100%;
    overflow: hidden;
}
.cr-search .grupo {
    width: 50%;
    float: left;
    overflow: hidden;
}
.cr-search .input {
    width: 285px;
    height: 32px;
    background-color: #ccc;
    float: left;
}
.cr-search input[type="text"] {
    width: 275px;
    height: 22px;
    background-color: #fff;
    border: none;
    margin: 5px;
    padding: 3px 15px;
    color: #808080;
    font-family: "Fonte100";
    font-size: 14px;
    text-align: center;
}
.cr-Resul {
    width: 100%;
    max-width: 960px;
    overflow: hidden;
    background-color: #e0e2e1;
    border: 2px solid #808080;
}
.cr-ResulVaga, .cr-ResulLocal, .cr-ResulHeadHunters, .cr-ResulCandidatos {
    width: 100%;
    height: 67px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.cr-ResulVaga .titulo {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.cr-ResulVaga .data {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 13px;
    font-weight: 100;
}
.cr-ResulLocal .agrupar {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
.cr-ResulLocal .icone {
    display: inline-block;
    margin-right: 10px;
}
.cr-ResulLocal .titulo {
    display: inline-block;
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 13px;
    font-weight: 100;
}
.cr-ResulHeadHunters .qtd {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.cr-ResulHeadHunters .titulo {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 17px;
    font-weight: 100;
}
.cr-ResulCandidatos .titulo {
    color: #4d4d4d;
    font-family: "Fonte100";
    font-size: 17px;
    font-weight: 100;
}
.cr-ResulCandidatos .qtd {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
.cr-search .submit {
    width: 32px;
    height: 32px;
    float: left;
    border-left: 1px solid #fff;
}
.cr-search .submit button {
    width: 32px;
    height: 32px;
    background-image: url("../img/icones/icone-lupa-pesquisa.png");
    background-position: -2px -1px;
    background-repeat: no-repeat;
    border: none;
}

.conteudo-painel {
    width: 100%;
    max-width: 960px;
    margin: auto;
}
.secaoteste {
    width: 100%;
    margin-bottom: 20px;
}
.bg-label {
    background-color: #2e6e9e;
}
.dados-vaga .input {
    height: 45px;
    border: 1px solid #ccc;
}
.dados-vaga .input input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.dados-vaga .label-form {
    color: #fff;
    text-align: center;
}