/*---- Fontes ---*/

@font-face {
    font-family: "Fonte100";
    src: url('../fontes/Humanst521-Lt-BT-Light.eot');
    src: url('../fontes/Humanst521-Lt-BT-Light.woff') format('woff'), url('../fontes/Humanst521-Lt-BT-Light.ttf') format('truetype'), url('../fontes/Humanst521-Lt-BT-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fonte777";
    src: url('../fontes/Humanist-777-BT.eot');
    src: url('../fontes/Humanist-777-BT.woff') format('woff'), url('../fontes/Humanist-777-BT.ttf') format('truetype'), url('../fontes/Humanist-777-BT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* --- Geral --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Padrões --- */
.titulo-pagina {
    width: 100%;
    height: 60px;
    background-color: #0099db;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.titulo-pagina h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}


/* ------------------------------
          TOPO HEADER
       #minhasvagas-mv--
------------------------------ */
#topoheader-tophea-- {
    width: 100%;
    background-color: #294678;
}
.tophea-MidiasSociais {
    text-align: right;
}
.tophea-ListaMidiasSociais {
    margin: 0;
    padding: 5px 0;
}
.tophea-ListaMidiasSociais li {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #8ac93a;
}
.tophea-ListaMidiasSociais li a i {
    color: #294678;
    font-size: 12px;
}


/* ------------------------------
          MENU PRINCIPAL
       #menuprincipal-nvp--
------------------------------ */
#navprincipal-navpri-- {
    width: 100%;
    background-color: #fff;
}
.navpri-Logo {
    padding: 20px 0;
}
.navpri-ListaMenus {
    text-align: right;
    margin-top: 55px;
}
.navpri-ListaMenus li {
    padding-right: 0;
    padding-left: 35px;
    text-align: center;
    font-size: 14px;
    font-family: "Fonte777";
}
.btn-LoginHeader {
    background-color: #8ac93a;
    margin-top: 45px;
}
.btn-LoginHeader a {
    color: #fff;
    text-transform: uppercase;
    font-family: "Fonte777";
    font-weight: 900;
}

/* ------------------------------
          IMG DESTAQUE
       #menuprincipal-mp--
------------------------------ */
#imgdestaque-imgdes-- {
    width: 100%;
    background-color: #63c0e9;
    position: relative;
}
.imgdes-Imagem .img {
    width: 100%;
    overflow: hidden;
}
.imgdes-Imagem .img img {
    height: 360px;
    display: block;
    margin: auto;
}
#imgdestaque-imgdes-- .box {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
}
#imgdestaque-imgdes-- .box .descricao h2 {
    color: #fff;
    font-size: 37px;
    font-family: "Fonte777";
    font-weight: 900;
    margin: 0;
    padding: 0;
}
#imgdestaque-imgdes-- .box .acessos {
    margin-top: 40px;
}
#imgdestaque-imgdes-- .box .acessos .btn-acesso-left {
    background: none;
    border: 3px solid #fff;
    padding: 7px 30px;
    margin-right: 15px;
    font-size: 22px;
    border-radius: 10px;
}
#imgdestaque-imgdes-- .box .acessos .btn-acesso-left a {
    color: #fff;
    font-weight: bold;
}
#imgdestaque-imgdes-- .box .acessos .btn-acesso-right {
    background: #fff;
    border: 3px solid #fff;
    padding: 7px 30px;
    margin-left: 15px;
    font-size: 22px;
    border-radius: 10px;
}
#imgdestaque-imgdes-- .box .acessos .btn-acesso-right a {
    color: #0099db;
    font-weight: bold;
}

/* --- Como Funciona --- */
section#como-funciona {
    background-image: url(../img/icones/Fundo_detalhe_Home_Como_Funciona_102x507px.png);
    background-position: left top;
    background-repeat: no-repeat;
}
section#como-funciona .conteudo {
    width: 100%;
    padding: 0 180px;
}
section#como-funciona .etapas {
    margin-top: 75px;
}
section#como-funciona .etapas .descricao {
    width: 55%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}
section#como-funciona .descricao p {
    color: #96989a;
    font-family: "Fonte777";
    font-size: 12px;
    line-height: 15px;
}
section#como-funciona .etapa-01 {
    width: 296px;
    float: left;
    position: relative;
}
section#como-funciona .etapa-01 .infor {
    width: 100%;
    top: 130px;
    position: absolute;
    text-align: center;
    padding: 0 31%;
    margin-left: 10px;
}
section#como-funciona .etapa-01 .infor h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

section#como-funciona .etapa-01 .infor p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 19px;
    line-height: 25px;
}
section#como-funciona .etapa-02 {
    width: 296px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
section#como-funciona .etapas .etapa-02 .infor {
    width: 100%;
    top: 130px;
    position: absolute;
    text-align: center;
    padding: 0 10%;
}
section#como-funciona .etapas .etapa-02 .infor h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

section#como-funciona .etapas .etapa-02 .infor p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 19px;
    line-height: 25px;
}
section#como-funciona .etapas .etapa-03 {
    width: 296px;
    float: right;
    position: relative;
}
section#como-funciona .etapas .etapa-03 .infor {
    width: 100%;
    top: 130px;
    position: absolute;
    text-align: center;
    padding: 0 15%;
    margin-left: -10px;
}
section#como-funciona .etapas .etapa-03 .infor h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}
section#como-funciona .etapas .etapa-03 .infor p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 19px;
    line-height: 25px;
}

/* --- Satisfação Garantida --- */
section#como-funciona .garantia {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
    overflow: hidden;
}
section#como-funciona .garantia .icone {
    width: 13%;
    float: left;
}
section#como-funciona .garantia .descricao {
    width: 87%;
    float: left;
    text-align: left;
}
section#como-funciona .garantia .descricao h3 {
    margin: 0;
    color: #0a4b73;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 3px;
}
section#como-funciona .garantia .descricao p {
    margin: 10px 0 0 0;
    color: #0a4b73;
    font-family: "Fonte777";
    font-size: 13px;
}


/* --- Infor --- */
section#infor .infor-box .box {
    width: 20.7%;
    float: left;
    margin-right: 5.733333333%;
}
section#infor .infor-box .box:nth-last-child(1) {
    margin-right: 0;
}
section#infor .descricao {
    padding: 55px 0;
    overflow: hidden;
}
section#infor .descricao img {
    margin-top: 13px;
}
section#infor .descricao p {
    margin: 0;
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 20px;
    text-align: justify;
}
section#infor .infor-box {
    width: 100%;
    background: #f1f1f1;
    overflow: hidden;
    padding: 40px;
}

section#infor .box .img {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 20px 0;
}

section#infor .box .img h3 {
    margin: 10px 0 0;
    color: #4d4d4d;
    text-transform: uppercase;
    font-family: "Fonte777";
    font-size: 24px;
    font-weight: bold;
}

section#infor .box .texto {
    width: 100%;
    height: 120px;
    background: #4d4d4d;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

section#infor .box .texto p {
    color: #fff;
    padding: 15px;
    font-family: "Fonte777";
    font-size: 12px;
    margin: 0;
}

/* --- FAQ --- */
section#faq {
    width: 100%;
    background-image: url(../img/icones/Fundo_FAQ_Home_1600x190px_JPG.jpg);
    background-position: center center;
    overflow: hidden;
    border-top: 40px solid #294678;
    padding: 45px 0 15px 0;
}
section#faq .titulo {
    width: 25%;
    float: left;
}
section#faq .titulo h2 {
    margin: 0;
    color: #041c63;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 85px;
}
section#faq .descricao {
    width: 75%;
    float: left;
}
section#faq .descricao h3 {
    color: #041c63;
    text-transform: uppercase;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 18px;
    margin: 0 0 25px 0;
}

section#faq .descricao p {
    margin: 0;
    color: #373435;
    font-family: "Fonte777";
    font-size: 18px;
}

section#faq .descricao .btn-saiba-mais {
    float: right;
    background-color: #294678;
    border-radius: 20px;
    padding: 3px 15px;
}

section#faq .descricao .btn-saiba-mais a {
    color: #fff;
    font-family: "Fonte777";
}


/* --- Atuação --- */
section#atuacao {
    width: 100%;
    background-color: #f2f2f2;
}
section#atuacao .conteudo {
    width: 100%;
    max-width: 810px;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
}
section#atuacao .conteudo-titulo {
    width: 100%;
    background-color: #0099db;
    text-align: center;
    padding: 25px 0;
}
section#atuacao .conteudo-titulo h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Fonte777";
    font-size: 28px;
    font-weight: 900;
}
section#atuacao .conteudo .descricao {
    padding: 0 0 40px 0;
}
section#atuacao .conteudo .descricao p {
    color: #252525;
    text-align: justify;
    font-family: "Fonte100";
    font-size: 21px;
    line-height: 30px;
}
section#atuacao .conteudo .icone {
    width: 24.33%;
    float: left;
    margin-top: 20px;
}
section#atuacao .conteudo .icone .img-svg {
    width: 100%;
}
section#atuacao .conteudo .lista-col:nth-child(2) {
    width: 26.5%;
    float: left;
    margin-left: 2.87%;
}
section#atuacao .conteudo .lista-col:nth-child(3) {
    width: 26.8%;
    float: left;
}
section#atuacao .conteudo .lista-col:nth-child(4) {
    width: 19.5%;
    float: left;
}
section#atuacao .conteudo .lista-col .lista-atuacao {
    margin-top: 20px;
}

section#atuacao .conteudo .lista-col .lista-atuacao ul {
    margin: 0;
    padding: 0;
}
section#atuacao .conteudo .lista-col .lista-atuacao ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
}
section#atuacao .conteudo .lista-col .lista-atuacao ul li span {
    position: absolute;
    margin: 2px 0 0 5px;
    color: #252525;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: "Fonte777";
}

/* --- Oportunidades --- */
section#oportunidades {
    width: 100%;
    background-image: url(../img/icones/Fundo_Vagas_Home_1600x360px_JPG.jpg);
    background-position: center center;
    overflow: hidden;
    padding: 40px 0;
}
section#oportunidades .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    margin: auto;
}
section#oportunidades h2 {
    width: 100%;
    max-width: 950px;
    color: #fff;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 32px;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin: auto;
}
section#oportunidades h3 {
    width: 100%;
    max-width: 950px;
    color: #fff;
    font-family: "Fonte777";
    font-size: 22px;
    text-align: right;
    padding-bottom: 40px;
    margin: auto;
}
section#oportunidades .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}
section#oportunidades .slider .slider-categorias {
    width: 100%;
    overflow: hidden;
}
section#oportunidades .slider .slider-categorias .cat {
    height: 190px;
    background: #fff;
    padding: 5px;
    border-radius: 35px;
}
section#oportunidades .categorias .cat:nth-last-child(1) {
    margin-right: 0;
}
section#oportunidades .categorias .cat h4 {
    width: 100%;
    height: 100px;
    margin: 0;
    border-radius: 32px 32px 0 0;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-family: "Fonte777";
    font-size: 26px;
    font-weight: 900;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#oportunidades .categorias .cat span {
    color: #294678;
    padding: 15px;
}
section#oportunidades .categorias .cat .cidade {
    text-align: right;
    margin-top: 5px;
}
section#oportunidades .categorias .cat .taxa {
    margin-bottom: 5px;
}

/* --- Clientes --- */
section#clientes {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}
section#clientes h2 {
    width: 100%;
    max-width: 950px;
    color: #00aee1;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 32px;
    text-align: left;
    text-transform: uppercase;
    margin: auto;
}
section#clientes .bx-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    margin: auto;
}
section#clientes .slider-clientes {
    width: 100%;
    overflow: hidden;
    padding: 60px 0;
}
section#clientes .slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}
section#clientes .slider .logo img {
    margin: auto;
}
section#clientes .depoimento {
    width: 100%;
    max-width: 950px;
    background-color: #6ccbf3;
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    position: relative
}
section#clientes .depoimento .texto {
    width: 100%;
    text-align: center;
}
section#clientes .depoimento .texto .aspa-left {
    position: absolute;
    top: 60px;
    right: 20px;
    color: #fff;
    font-family: "Fonte777";
    font-size: 100px;
    font-style: italic;
}
section#clientes .depoimento .texto .aspa-right {
    position: absolute;
    top: -60px;
    left: 30px;
    color: #fff;
    font-family: "Fonte777";
    font-size: 100px;
    font-style: italic;
}
section#clientes .depoimento .texto .depoi {}

section#clientes .depoimento .texto .depoi p {
    color: #fff;
    font-family: "Fonte100";
    font-size: 30px;
    margin: 0;
    padding: 0px 14%;
    line-height: 35px;
}
section#clientes .depoimento .texto .depoi p strong {
    font-size: 14px;
    float: right;
    font-family: "Fonte777";
    font-weight: 900;
}
section#clientes .depoimento .img {
    padding: 25px 0;
}

/* --- Página SOBRE --- */
section#sobre {
    width: 100%;
    background-image: url("../img/icones/bd-borda-01.png");
    background-position: left center;
    background-repeat: no-repeat;
}
section#sobre .conteudo {
    width: 100%;
    max-width: 780px;
    margin: auto;
    padding: 59px 0;
}
section#sobre .conteudo .texto {
    width: 50%;
    float: left;
}
section#sobre .conteudo .texto .texto-right {
    width: 100%;
    max-width: 325px;
    float: right;
    background: #8ac93a;
    padding: 30px;
    border-radius: 30px;
    margin-top: 14px;
}
section#sobre .texto-right p {
    color: #fff;
    font-family: "Fonte777";
    font-size: 25px;
    margin: 0;
    line-height: 30px;
}
section#sobre .texto-left {
    width: 100%;
    max-width: 390px;
}
section#sobre .texto-left p {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    margin: 0;
    line-height: 30px;
}
section#missao-visao {
    width: 100%;
    background-image: url("../img/icones/bg-pagina-sobre-secao.png");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-top: 30px solid #294678;
}
section#missao-visao .conteudo {
    width: 100%;
    max-width: 780px;
    margin: auto;
    padding: 25px 0;
}
section#missao-visao .conteudo .nome {
    width: 25%;
    float: left;
    padding: 30px 0;
}
section#missao-visao .conteudo .descricao {
    width: 75%;
    float: left;
    padding: 30px 0;
}
section#missao-visao .conteudo .missao-nome h3 {
    margin: 0;
    color: #041c63;
    font-family: "Fonte777";
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
}
section#missao-visao .conteudo .missao-descricao {
    text-align: center;
}
section#missao-visao .conteudo .missao-descricao p {
    margin: 0;
    color: #041c63;
    font-family: "Fonte777";
    font-weight: bold;
    font-size: 18px;
    padding: 0 30px;
    line-height: 25px;
}
section#missao-visao .conteudo .visao-nome {
    text-align: right;
}
section#missao-visao .conteudo .visao-nome h3 {
    margin: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
}
section#missao-visao .conteudo .visao-descricao {
    text-align: center;
}
section#missao-visao .conteudo .visao-descricao p {
    margin: 0;
    color: #fff;
    font-family: "Fonte777";
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
    line-height: 25px;
}
section#valores {
    width: 100%;
    background: #fff;
    overflow: hidden;
    padding: 50px 0 80px 0;
}
section#valores .conteudo .slider {
    text-align: center;
}
section#valores .conteudo .slider .bx-wrapper {
    box-shadow: none;
    border: none;
    background: #fff;
    margin: auto;
}
section#valores .conteudo .slider .bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px;
    height: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
section#valores .conteudo .slider .bx-wrapper .bx-pager {
    display: block !important;
}
section#valores .conteudo .slider .bx-wrapper .bx-controls-direction {
    display: none;
}
section#valores .conteudo .slider h3 {
    margin: 0;
    color: #041c63;
    font-family: "Fonte777";
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
}
section#valores .conteudo .slider .item h4 {
    margin: 30px 0 0 0;
    color: #00aee1;
    font-family: "Fonte777";
    font-size: 38px;
    font-weight: 900;
}
section#valores .conteudo .slider .item h5 {
    margin: 30px 0 30px 0;
    color: #041c63;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
section#acessos {
    width: 100%;
    background: #f1f1f1;
    border-top: 30px solid #0099db;
    overflow: hidden;
    padding: 50px 0;
}
section#acessos .logo {
    padding: 0 0 30px 0;
}
section#acessos .slogan p {
    margin: 0;
    color: #294678;
    font-family: "Fonte777";
    font-size: 29px;
    text-align: center;
    padding-bottom: 80px;
}
section#acessos .conteudo {
    width: 100%;
    max-width: 810px;
    margin: auto;
}
section#acessos .box {
    width: 33.333333333%;
    float: left;
}
section#acessos .box .titulo {
    width: 100%;
    height: 85px;
    text-align: center;
    padding: 0 40px;
}
section#acessos .box .titulo h3 {
    color: #294678;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 30px;
}
section#acessos .box .descricao {
    text-align: center;
}
section#acessos .box .descricao p {
    margin: 0;
    color: #505050;
    font-family: "Fonte100";
    font-size: 17px;
    text-align: center;
    padding: 0 23px;
    line-height: 20px;
}

/* --- Página VAGAS --- */
section#pagina-vagas {
    width: 100%;
    background-color: #63c0e9;
    position: relative;
}
section#pagina-vagas .img-bg {
    width: 100%;
    overflow: hidden;
}
section#pagina-vagas .img-bg img {
    height: 360px;
    display: block;
    margin: auto;
}
section#pagina-vagas .box {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
section#pagina-vagas .box .descricao {
    float: left;
    margin-top: 100px;
}
section#pagina-vagas .box .descricao h2 {
    margin: 0;
    color: #fff;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 37px;
    text-transform: uppercase;
    line-height: 50px;
}
section#pagina-vagas .titulo {
    width: 100%;
    background-color: #0099db;
    text-align: center;
    padding: 25px 0;
}
section#pagina-vagas .titulo h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
}
section#busca {
    width: 100%;
    overflow: hidden;
    margin: 60px 0;
}

section#busca .base-busca {
    width: 100%;
    max-width: 830px;
    background: #406ead;
    margin: auto;
    padding: 25px 15px;
    overflow: hidden;
}
section#busca .base-resul {
    width: 100%;
    max-width: 830px;
    margin: auto;
    overflow: hidden;
}
section#busca .base-busca input[type="text"] {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: none;
    text-align: center;
    font-family: "Fonte100";
    font-size: 22px;
}
section#busca .base-busca input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #8ac93a;
    color: #fff;
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 900;
    border: none;
}
section#busca .base-resul .num {
    padding: 30px 0 0 30px;
}

section#busca .base-resul .num span {
    color: #406ead;
    font-family: "Fonte777";
    font-size: 14px;
}
section#busca .base-resul .filtro {
    text-align: right;
    padding: 30px 30px 0 0;
}
section#busca .base-resul .filtro span {
    color: #505050;
    font-family: "Fonte777";
    font-size: 14px;
}
section#busca .base-resul .filtro .filtro-ativo {
    color: #406ead;
    font-weight: 900;
}

/* --- Resul --- */
section#resul {
    width: 100%;
    overflow: hidden;
    position: relative;
}
section#resul .resul-bg-none {
    background-color: #fff !important;
    border: 1px solid #e0e2e1;
}
section#resul .col-resul-nome {
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
section#resul .col-resul-nome span {
    color: #fff;
    font-family: "Fonte777";
    font-size: 16px;
    text-transform: uppercase;
}
section#resul i {
    color: #fff;
    font-size: 28px;
    margin-right: 15px;
}
section#resul .conteudo-filtro {
    width: 100%;
    background-color: #b7e0fd;
    padding: 50px 40px;
}
section#resul .conteudo-filtro .nav {
    background-color: #fff;
    padding: 30px 0;
    border: 5px solid #406ead;
    margin-bottom: 20px;
}
section#resul .conteudo-filtro input[type="submit"] {
    width: 100%;
    background: #8ac93a;
    border: none;
    color: #fff;
    padding: 5px 0;
    font-family: "Fonte777";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
section#resul .conteudo-filtro .nav .menu {
    text-align: center;
}
section#resul .conteudo-filtro .nav .menu .nome {
    color: #333;
    font-family: "Fonte100";
    font-size: 26px;
    text-transform: uppercase;
}
section#resul .conteudo-filtro .nav .menu .icone {
    float: right;
    color: #333;
    font-family: "Fonte100";
    font-size: 26px;
    text-transform: uppercase;
    margin-right: 15px;
}

section#resul .slider-filtro .ui-slider-horizontal {
    width: 100%;
    height: 0.2em;
    background: #406ead;
    margin: auto;
}
section#resul .slider-filtro .ui-slider .ui-slider-handle {
    width: 1em;
    height: 1em;
    top: -.4em;
    background-color: #8ac93a;
    border-radius: 100%;
}
section#resul .slider-filtro .min {
    width: 20%;
    float: left;
    font-family: "Fonte100";
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
}
section#resul .slider-filtro .min #amountMin {
    text-align: right;
}
section#resul .slider-filtro .max {
    width: 20%;
    float: left;
    font-family: "Fonte100";
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
}
section#resul .slider-filtro input {
    width: 100%;
    border: none;
}

section#resul .slider-filtro .slider {
    width: 60%;
    float: left;
    font-family: "Fonte100";
    margin-top: 6px;
    padding: 0 6px;
}
section#resul .conteudo-cargo {
    padding: 50px 0 0 50px;
}

section#resul .conteudo-cargo .cargo {
    width: 100%;
    height: 75px;
    background-color: #e0e2e1;
    margin-bottom: 10px;
    text-align: center;
}
section#resul .conteudo-cargo .cargo .nome {
    color: #505050;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    padding-top: 5px;
}
section#resul .conteudo-cargo .cargo .data {
    color: #505050;
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 900;
}
section#resul .conteudo-local {
    padding: 50px 0 0 2px;
}
section#resul .conteudo-local .local {
    width: 100%;
    height: 75px;
    background-color: #e0e2e1;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}
section#resul .conteudo-local .local .nome {
    color: #505050;
    font-family: "Fonte777";
    font-size: 18px;
    font-weight: 900;
}
section#resul .conteudo-local .nome span {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
}
section#resul .conteudo-local .nome span i {
    margin-right: 5px;
}
section#resul .conteudo-local .local .nome i {
    color: #505050;
}

/* --- Col SALÁRIO --- */
section#resul .conteudo-salario {
    padding: 50px 0 0 2px;
}
section#resul .conteudo-salario .salario {
    width: 100%;
    height: 75px;
    background-color: #e0e2e1;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 11px;
}
section#resul .conteudo-salario .salario span {
    color: #505050;
    font-family: "Fonte777";
    font-size: 18px;
}

/* --- Col RECRUTAMENTO --- */
section#resul .conteudo-recru {
    padding: 50px 0 0 2px;
}
section#resul .conteudo-recru .recru {
    width: 100%;
    height: 75px;
    background-color: #e0e2e1;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 11px;
}
section#resul .conteudo-recru .recru span {
    color: #505050;
    font-family: "Fonte777";
    font-size: 18px;
}

/* --- Col BOTÃO AÇÃO --- */
section#resul .conteudo-acao {
    padding: 50px 50px 0 0;
}
section#resul .conteudo-acao .acao {
    width: 100%;
    height: 75px;
    background-color: #406ead;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 11px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
section#resul .conteudo-acao .acao:hover {
    border-radius: 0 7px 7px 0;
    background-color: #8ac93a;
}
section#resul .conteudo-acao .acao .icone {
    width: 45px;
    height: 54px;
    background-image: url("../img/icones/icone-acao-recrutamento.png");
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

/* --- Página HEADHUNTERS --- */
section#headhunters {
    width: 100%;
    background-image: url("../img/icones/bg-icone-page-headhunters.png");
    background-position: left center;
    background-repeat: no-repeat;
    overflow: hidden;
}
section#headhunters .conteudo {
    padding: 38px 0;
}
section#headhunters .conteudo .texto {
    padding: 0 150px;
}
section#headhunters .conteudo .texto p {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
    margin: 0;
}
section#headhunters .conteudo .texto p:nth-child(2) {
    margin-top: 40px;
}    
section#bg-acesso-dashboard {
    width: 100%;
    background-image: url("../img/icones/bg-page-secao-headhunters.png");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-top: 30px solid #294678;
    padding: 50px 0;
}
section#bg-acesso-dashboard .conteudo .form .titulo {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}
section#bg-acesso-dashboard .conteudo .form .titulo h3 {
    margin: 0;
    color: #294678;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 25px;
}
section#bg-acesso-dashboard .conteudo .form {
    width: 100%;
    overflow: hidden;
}
section#bg-acesso-dashboard .conteudo .form .grupo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
section#bg-acesso-dashboard .conteudo .form .label {
    width: 30%;
    height: 40px;
    background-color: #294678;
    float: left;
    border-radius: 0;
    margin-right: 3%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#bg-acesso-dashboard .conteudo .form .label span {
    color: #fff;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
}
section#bg-acesso-dashboard .conteudo .form .input {
    width: 67%;
    float: left;
}
section#bg-acesso-dashboard .conteudo .form .input input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    padding: 0 15px;
}
section#bg-acesso-dashboard .conteudo .form .acoes {
    display: table;
    float: right;
}
section#bg-acesso-dashboard .conteudo .form .acoes .submit {
    width: 115px;
    height: 40px;
    float: left;
    background-color: #294678;
    text-align: center;
    margin-left: 30px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#bg-acesso-dashboard .conteudo .form .acoes .submit a {
    width: 100%;
    color: #fff;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
}
section#bg-acesso-dashboard .conteudo .form .acoes .submit input {
    width: 100%;
    height: 40px;
    background: none;
    color: #fff;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    border: none;
}
section#bg-acesso-dashboard .logo {
    margin-top: 40px;
}

/* --- Página EMPRESAS --- */
section#empresas {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
section#empresas .conteudo {
    padding: 38px 0;
}
section#empresas .conteudo .texto {
    padding: 0 150px;
}
section#empresas .conteudo .texto p {
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
    margin: 20px 0 40px 0;
}
section#acesso-dashboard {
    width: 100%;
    background-color: #e6e6e6;
    overflow: hidden;
    border-top: 30px solid #294678;
    padding: 50px 0;
}
section#acesso-dashboard .conteudo .form .titulo {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
}
section#acesso-dashboard .conteudo .form .titulo h3 {
    margin: 0;
    color: #294678;
    font-family: "Fonte777";
    font-weight: 900;
    font-size: 25px;
}
section#acesso-dashboard .conteudo .form {
    width: 100%;
    overflow: hidden;
}
section#acesso-dashboard .conteudo .form .grupo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
section#acesso-dashboard .conteudo .form .label {
    width: 30%;
    height: 40px;
    background-color: #294678;
    float: left;
    border-radius: 0;
    margin-right: 3%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#acesso-dashboard .conteudo .form .label span {
    color: #fff;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
}
section#acesso-dashboard .conteudo .form .input {
    width: 67%;
    float: left;
}
section#acesso-dashboard .conteudo .form .input input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    padding: 0 15px;
}
section#acesso-dashboard .conteudo .form .acoes {
    display: table;
    float: right;
}
section#acesso-dashboard .conteudo .form .acoes .submit-cadastrar {
    width: 115px;
    height: 40px;
    float: left;
    background-color: #fff;
    border: 1px solid #294678;
    text-align: center;
    margin-left: 30px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#acesso-dashboard .conteudo .form .acoes .submit-cadastrar a {
    width: 100%;
    color: #294678;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    text-decoration: none;
}
section#acesso-dashboard .conteudo .form .acoes .submit {
    width: 115px;
    height: 40px;
    float: left;
    background-color: #294678;
    text-align: center;
    margin-left: 30px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#acesso-dashboard .conteudo .form .acoes .submit input {
    width: 100%;
    height: 40px;
    background: none;
    color: #fff;
    font-family: "Fonte100";
    font-weight: 100;
    font-size: 15px;
    border: none;
}
section#acesso-dashboard .logo {
    margin-top: 40px;
}

/* --- Página CANDIDATOS --- */
section#candidatos {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
section#candidatos .conteudo {
    padding: 60px 0;
}
section#candidatos .conteudo .texto {
    padding: 0 150px;
}
section#candidatos .conteudo .texto p {
    color: #666;
    font-family: "Fonte777";
    font-size: 37px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
}
section#candidatos .conteudo .titulo {
    padding: 60px 150px 70px 150px;
    text-align: center;
}
section#candidatos .conteudo .titulo h3 {
    margin: 0;
    color: #294678;
    font-family: "Fonte777";
    font-size: 37px;
    font-weight: 900;
    text-transform: uppercase;
}
section#candidatos .conteudo .lista-infor {
    width: 100%;
    max-width: 860px;
    margin: auto;
    overflow: hidden;
}
section#candidatos .conteudo .lista-infor .box {
    width: 180px;
    float: left;
    margin: 0 46px 0 0;
}
section#candidatos .conteudo .lista-infor .box:nth-child(4) {
    margin: 0 0 0 0;
}
section#candidatos .conteudo .lista-infor .icn {
    width: 180px;
    height: 100px;
    background-image: url("../img/icones/icones-lista-page-candidatos.png");
    background-repeat: no-repeat;
}
section#candidatos .conteudo .lista-infor .icn-curriculo {
    background-position: 0 0;    
}
section#candidatos .conteudo .lista-infor .icn-consulta {
    background-position: -227px 0;    
}
section#candidatos .conteudo .lista-infor .icn-revisao {
    background-position: -453px 0;    
}
section#candidatos .conteudo .lista-infor .icn-avalicao {
    background-position: -678px 0;    
}
section#candidatos .conteudo .lista-infor .nome {
    width: 180px;
    height: 120px;
    background-color: #4d4d4d;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#candidatos .conteudo .lista-infor .nome span {
    color: #fff;
    font-family: "Fonte777";
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
}
section#candidatos .conteudo .lista-infor .descricao {
    text-align: center;
    margin-top: 30px;
}
section#candidatos .conteudo .lista-infor .descricao p {
    margin: 0;
    padding: 0 5px;
    color: #373435;
    font-family: "Fonte777";
    font-size: 16px;
}

/* --- Página ASSESSMENT CENTER --- */
section#assessment-center {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
section#assessment-center .conteudo {
    padding: 30px 0;
    padding: 45px 150px;
}
section#assessment-center .conteudo .texto {
    margin-bottom: 45px;
}
section#assessment-center .conteudo .texto p {
    color: #373435;
    font-family: "Fonte777";
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
}
section#assessment-center .conteudo .box-left {
    width: 100%;
    max-width: 323px;
    background-color: #e6e6e6;
    float: left;
    border-radius: 15px;
    padding: 25px;
}
section#assessment-center .conteudo .box-left .descricao h3 {
    margin: 0;
    padding: 30px 0;
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
section#assessment-center .conteudo .box-left .descricao p {
    margin: 0;
    color: #4d4d4d;
    font-family: "Fonte777";
    font-size: 17px;
    text-align: justify;
    line-height: 20px;
}
section#assessment-center .conteudo .box-left .btn-acao {
    width: 185px;
    height: 185px;
    background-color: #294678;
    border-radius: 100%;
    margin: auto;
    margin-top: 75px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#assessment-center .conteudo .box-left .btn-acao span {
    color: #fff;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}
section#assessment-center .conteudo .box-right {
    width: 100%;
    max-width: 323px;
    background-color: #294678;
    float: right;
    border-radius: 15px;
    padding: 25px;
}
section#assessment-center .conteudo .box-right .descricao h3 {
    margin: 0;
    padding: 30px 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
section#assessment-center .conteudo .box-right .descricao p {
    margin: 0;
    color: #fff;
    font-family: "Fonte777";
    font-size: 17px;
    text-align: justify;
    line-height: 20px;
}
section#assessment-center .conteudo .box-right .btn-acao {
    width: 185px;
    height: 185px;
    background-color: #e6e6e6;
    border-radius: 100%;
    margin: auto;
    margin-top: 55px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#assessment-center .conteudo .box-right .btn-acao span {
    color: #294678;
    font-family: "Fonte777";
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}
section#assessment-center .conteudo .sub-texto {
    text-align: center;
    margin-top: 45px;
}
section#assessment-center .conteudo .sub-texto p {
    margin: 0;
    color: #373435;
    font-family: "Fonte777";
    font-size: 25px;
}

/* --- Página ASSESSMENT CENTER --- */
section#page-faq {
    width: 100%;
    overflow: hidden;
}
section#page-faq .conteudo .header {    
    width: 100%;
    background-color: #b3b3b3;
    border-top: 1px solid #294678;
    border-bottom: 1px solid #294678;
    padding: 17px 40px 17px 210px;
    margin: 0;
    outline: none;
    overflow: hidden;
}
section#page-faq .conteudo .header .titulo {
    outline: none;
    margin: 0;
    color: #294678;
    font-family: "Fonte777";
    font-size: 20px;
    font-weight: 900;
    float: left;
}
section#page-faq .conteudo .header .icone {
    width: 20px;
    height: 18px;
    background-image: url("../img/icones/icone-aba-aberta.png");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
}
section#page-faq .conteudo #tab .ui-accordion-header-active {
    background: #fff;
    border: none;
}
section#page-faq .conteudo #tab .ui-accordion-content {
    padding: 0 40px 17px 210px;
}
section#page-faq .conteudo .form-contato {
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 50px 0;
}
section#page-faq .conteudo .form-contato h4 {
    margin: 0;
    color: #0a4b73;
    font-family: "Fonte777";
    font-size: 21px;
    font-weight: 900;
    padding-bottom: 50px;
}
section#page-faq .conteudo .form-contato .grupo {
    overflow: hidden;
    margin-bottom: 15px;
}
section#page-faq .conteudo .form-contato .grupo .label {
    width: 16.5%;
    height: 40px;
    float: left;
    background-color: #2e6e9e;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#page-faq .conteudo .form-contato .grupo .label span {
    color: #fff;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}
section#page-faq .conteudo .form-contato .grupo .input {
    width: 82%;
    height: 40px;
    float: right;
}
section#page-faq .conteudo .form-contato .grupo .input input {
    width: 100%;
    height: 40px;
    border: 1px solid #2e6e9e;
    padding: 0 15px;
}
section#page-faq .conteudo .form-contato .grupo .label-msg {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #2e6e9e;
    border-radius: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}
section#page-faq .conteudo .form-contato .grupo .label-msg {
    margin-top: 10px;
    margin-bottom: 15px;
}
section#page-faq .conteudo .form-contato .grupo .label-msg span {
    color: #fff;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}
section#page-faq .conteudo .form-contato .grupo .input-msg textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #2e6e9e;
    padding: 15px;
}
section#page-faq .conteudo .form-contato .submit {
    width: 125px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
}
section#page-faq .conteudo .form-contato .submit input[type="submit"] {
    width: 100%;
    height: 100%;
    background-color: #8ac93a;
    border: none;
    color: #fff;
    font-family: "Fonte100";
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
}


/* --- Col PAGINAÇÃO --- */
section#resul .paginacao {
    bottom: 45px;
    right: 50px;
    display: table;
    position: absolute;
}
section#resul .paginacao span {
    font-family: "Fonte777";
    cursor: pointer;
}

/* --- Footer --- */
footer#footer {
    width: 100%;
    background-color: #406ead;
    overflow: hidden;
    padding: 30px 0;
}
footer#footer .logo {}

footer#footer .contato {
    color: #fff;
    font-family: "Fonte777";
    font-size: 14px;
    font-weight: 900;
}
footer#footer .news {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
footer#footer .news span {
    color: #fff;
    font-family: "Fonte777";
    font-size: 14px;
    font-weight: 900;
}
footer#footer form#newsletter {
    margin-top: 7px;
}
footer#footer form#newsletter input[type="email"] {
    width: 90%;
    background-color: #fff;
    text-align: center;
    padding: 3px;
    border: none;
    border-radius: 15px;
}
footer#footer #newsletter input[type="submit"] {
    width: 100px;
    background-color: #0099db;
    text-align: center;
    padding: 3px;
    border: none;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-family: "Fonte777";
}
footer#footer .atendimento {
    color: #fff;
    font-family: "Fonte777";
    font-size: 14px;
    font-weight: 900;
}