.container p {
  font-size: 1.5em;
}

.sidenav-trigger {
  color: #0066CC;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  nav {
    height: 80px;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

form {
  padding: 10px 15px 20px 15px;
}


.titulo-login-site {
  font-size: 2em;
  padding: 40px 0 0 0;
  color: #283593;
}

.centraliza-logo-login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: 6em;
}

.texto-rodape {
  font-size: 1em !important;
}

.row {
  margin-bottom: 0 !important;
}

.well {
  padding: 2em;
}

.form {
  margin-bottom: 1em;;
  padding: 1em 2em !important;
  border-radius: 10px !important;
}