@charset "UTF-8";
/*
    #fonts
________________________ */
@font-face {
  font-family: "FonteLt";
  src: url("../fontes/Humanst521-Lt-BT-Light.eot");
  src: url("../fontes/Humanst521-Lt-BT-Light.woff") format("woff"), url("../fontes/Humanst521-Lt-BT-Light.ttf") format("truetype"), url("../fontes/Humanst521-Lt-BT-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FonteRg";
  src: url("../fontes/Humanist-777-BT.eot");
  src: url("../fontes/Humanist-777-BT.woff") format("woff"), url("../fontes/Humanist-777-BT.ttf") format("truetype"), url("../fontes/Humanist-777-BT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.buttons--logout {
  background-color: #8ac93a;
  padding: 8px 30px; }

.buttons--action {
  width: 150px;
  height: 50px;
  background-color: #0099db;
  border: none;
  padding: 0 20px;
  overflow: hidden;
  display: block;
  float: left; }

.buttons--submit {
  width: 150px;
  height: 50px;
  background-color: #8ac93a;
  border: none;
  padding: 0 20px;
  overflow: hidden;
  display: block;
  float: left; }

.buttons--confirm {
  background-color: #8ac93a;
  border: none;
  padding: 20px 45px;
  overflow: hidden;
  display: block;
  float: left; }

.buttons--cancel {
  background-color: #4d4d4d;
  border: none;
  padding: 20px 45px;
  overflow: hidden;
  display: block;
  float: left; }

.icon-search-small {
  width: 17px;
  height: 17px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-lupa.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-perfil-small {
  width: 29px;
  height: 37px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-perfil.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-like-like {
  width: 46px;
  height: 33px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-like.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-like-deslike {
  width: 44px;
  height: 38px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-deslike.png");
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-score-01 {
  width: 160px;
  height: 27px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
  background-position: center -120px;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-score-02 {
  width: 160px;
  height: 27px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
  background-position: center -89px;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-score-03 {
  width: 160px;
  height: 27px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
  background-position: center -59px;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-score-04 {
  width: 160px;
  height: 27px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
  background-position: center -30px;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-score-04 {
  width: 160px;
  height: 27px;
  background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
  background-position: center -1px;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

.icon-back-header {
  width: 12px;
  height: 14px;
  background-image: url("../img/icones/icone-voltar-header-admin.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: table;
  margin: auto; }

/*
    PAGE #cadastros
        NAV #cadastros01
___________________________*/
.cadastros01__boxs {
  margin-bottom: 60px; }

.boxs__conteudo--header {
  width: 100%;
  height: 60px;
  background-color: #2e6e9e; }

.boxs__conteudo--header p {
  color: #fff;
  font-family: "FonteRg";
  font-size: 16px;
  text-align: center; }

.boxs__conteudo--linha {
  width: 100%;
  background-color: #e0e2e1;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #fff; }

.boxs__conteudo--link {
  color: #406ead;
  font-family: "FonteLt";
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  text-decoration: none; }

.tabela__table {
  width: 100%; }

.tabela__thead {
  width: 100%; }

.tabela__thead-color-escuro {
  background-color: #4d4d4d;
  color: #fff;
  font-family: "FonteLt";
  font-size: 17px;
  font-weight: 100; }

.tabela__thead th {
  padding: 15px 0; }

.tabela__tbody {
  text-align: center;
  border-left: 1px solid #e0e2e1;
  border-right: 1px solid #e0e2e1;
  border-bottom: 1px solid #e0e2e1; }

.tabela__tbody tr {
  background-color: #e0e2e1;
  color: #4d4d4d; }

.tabela__tbody tr:nth-child(odd) {
  padding: 15px 0;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.tabela__tbody td {
  padding: 10px 0; }

.form__icones.form__icones-width-05pct {
  width: 5%; }
.form__icones.form__icones-width-10pct {
  width: 10%; }
.form__icones.form__icones-width-15pct {
  width: 15%; }
.form__icones.form__icones-width-20pct {
  width: 20%; }

.form__icones-icone-blue {
  background-color: #2e6e9e; }
  .form__icones-icone-blue.form__icones-icone-blue i {
    color: #fff; }

.form__icones-icone-red {
  background-color: #cc0a2f; }
  .form__icones-icone-red.form__icones-icone-red i {
    color: #fff; }

/*
    #fonts
________________________ */
@font-face {
  font-family: "FonteLt";
  src: url("../fontes/Humanst521-Lt-BT-Light.eot");
  src: url("../fontes/Humanst521-Lt-BT-Light.woff") format("woff"), url("../fontes/Humanst521-Lt-BT-Light.ttf") format("truetype"), url("../fontes/Humanst521-Lt-BT-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FonteRg";
  src: url("../fontes/Humanist-777-BT.eot");
  src: url("../fontes/Humanist-777-BT.woff") format("woff"), url("../fontes/Humanist-777-BT.ttf") format("truetype"), url("../fontes/Humanist-777-BT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
    #fonts
________________________ */
@font-face {
  font-family: "FonteLt";
  src: url("../fontes/Humanst521-Lt-BT-Light.eot");
  src: url("../fontes/Humanst521-Lt-BT-Light.woff") format("woff"), url("../fontes/Humanst521-Lt-BT-Light.ttf") format("truetype"), url("../fontes/Humanst521-Lt-BT-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FonteRg";
  src: url("../fontes/Humanist-777-BT.eot");
  src: url("../fontes/Humanist-777-BT.woff") format("woff"), url("../fontes/Humanist-777-BT.ttf") format("truetype"), url("../fontes/Humanist-777-BT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/* temporário */
.bBlue {
  border: 1px solid blue; }

.bRed {
  border: 1px solid red; }

.bGrey {
  border: 1px solid grey; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* 
    #header
________________________ */
.header {
  width: 100%; }

.header-admin__logo {
  border: 1px solid blue; }

.header__menu {
  width: 100%;
  background-color: #2e6e9e;
  padding: 55px 0; }

.header__menu-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.header__menu-item {
  display: inline-block;
  margin-right: 40px; }
  .header__menu-item:last-child {
    margin-right: 0;
    float: right; }

.header__menu-item--link {
  text-decoration: none;
  font-size: 14px;
  font-family: "FonteRg";
  color: #fff;
  font-weight: 100; }

/* temporário */
.bBlue {
  border: 1px solid blue; }

.bRed {
  border: 1px solid red; }

.bGrey {
  border: 1px solid grey; }

* {
  margin: 0;
  padding: 0; }

/* 
    #sidebar
________________________ */
.sidebar {
  height: 100%;
  background-color: #e6e6e6; }

.sidebar__nav {
  text-align: center; }

.sidebar__menu-nav--link {
  display: block;
  padding: 35px 0; }

/*
    #form
________________________ */
.content__main-form--formulario {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

.content__main-form--row {
  margin: 20px 0;
  overflow: hidden; }
  .content__main-form--row.content__main-form--row:first-child {
    margin-top: 0;
    overflow: hidden; }
  .content__main-form--row.content__main-form--row:last-child {
    margin-bottom: 0;
    overflow: hidden; }

.content__main-form--title {
  text-align: center; }

.content__main-form--title h2 {
  color: #fff;
  font-family: "FonteRg";
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 15px; }

.content__main-form--col--2 {
  width: 45%;
  float: left; }
  .content__main-form--col--2.content__main-form--col--2:nth-child(2) {
    float: right; }

.content__main-form--label {
  width: 100%;
  max-width: 155px;
  height: 45px;
  background-color: #2e6e9e;
  float: left;
  margin-right: 13px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.content__main-form--label span {
  color: #fff;
  font-family: "FonteLt";
  font-size: 16px;
  font-weight: 100; }

.content__main-form--input {
  width: 100%;
  max-width: 694px;
  height: 45px;
  float: left;
  border: 1px solid #ccc;
  overflow: hidden; }

.content__main-form--input input {
  width: 100%;
  height: 45px;
  border: none;
  padding: 0 15px;
  margin: 0;
  outline: none;
  font-family: "FonteLt";
  font-size: 17px;
  color: #4d4d4d; }

.content__main-form--label--textarea {
  width: 100%;
  max-width: 155px;
  height: 90px;
  background-color: #2e6e9e;
  float: left;
  margin-right: 13px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.content__main-form--label--textarea span {
  color: #fff;
  font-family: "FonteLt";
  font-size: 16px;
  font-weight: 100; }

.content__main-form--textarea {
  width: 100%;
  max-width: 694px;
  height: 90px;
  float: left;
  border: 1px solid #ccc;
  overflow: hidden; }

.content__main-form--textarea textarea {
  width: 100%;
  height: 90px;
  border: none;
  padding: 15px;
  margin: 0;
  outline: none;
  font-family: "FonteLt";
  font-size: 17px;
  color: #4d4d4d; }

.content__main-form--input--2 {
  width: 100%;
  max-width: 220px;
  height: 45px;
  float: left;
  border: 1px solid #ccc;
  overflow: hidden; }

.content__main-form--input--2 input,
.content__main-form--input--2 select {
  width: 100%;
  height: 45px;
  border: none;
  padding: 0 15px;
  margin: 0;
  outline: none;
  font-family: "FonteLt";
  font-size: 17px;
  color: #4d4d4d; }

.content__main-form--file {
  margin: 30px 0;
  text-align: center; }

.content__main-form--submit a {
  color: #fff;
  font-family: "FonteLt";
  font-size: 16px;
  text-decoration: none; }

.content__main-form--submit {
  color: #fff;
  font-family: "FonteLt";
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  display: block;
  float: right; }

.content__main-form--submit button {
  margin-left: 40px; }

.content__main-form--section {
  width: 100%;
  max-width: 694px;
  height: 45px;
  float: left;
  overflow: hidden; }

.content__main-form--radio {
  height: 100%;
  background-color: #2e6e9e;
  padding: 5px 20px 5px 5px;
  float: left;
  margin-right: 25px;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.content__main-form--radio input[type="radio"] {
  display: none; }

.content__main-form--radio input[type="radio"] + label {
  color: #f2f2f2;
  font-family: "FonteLt";
  font-size: 16px; }

.content__main-form--radio input[type="radio"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  background-color: #fff;
  margin-right: 15px;
  cursor: pointer; }

input[type="radio"]:checked + label span {
  content: 'dsd';
  width: 35px;
  height: 35px;
  background-color: #2e6e9e;
  border: 5px solid #fff; }

/* 
    FORMULÁRIOS
______________________________ */
.form__row {
  width: 100%;
  margin: 15px 0;
  overflow: hidden; }

.form__label, .form__input, .form__select,
.form__radio, .form__checkbox, .form__textarea {
  height: 50px;
  float: left;
  overflow: hidden; }

.form__label-fixo {
  width: 145px;
  height: 50px;
  background-color: #2e6e9e;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding: 0 5px;
  margin: 0 5px 0 0; }

.form__coluna-label {
  width: 15.104166667%;
  max-width: 145px;
  height: 100%;
  background-color: #2e6e9e;
  float: left;
  margin: 0 5px 0 0; }

.form__coluna-inputs {
  width: 84.375%;
  max-width: 810px;
  float: left; }

.form__label-fixo span {
  color: #fff;
  font-family: "FonteLt";
  font-size: 16px; }

.form__select select, .form__input input,
.form__textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  padding: 0 15px; }

.form__col810 {
  width: 810px;
  border: 1px solid #ccc; }

.form__col163 {
  width: 163px;
  border: 1px solid #ccc; }

.form__col240 {
  width: 240px;
  border: 1px solid #ccc;
  margin: 0 30px 0 0; }

.form__col240-no-margin {
  width: 240px;
  border: 1px solid #ccc; }

.form__col390 {
  width: 390px;
  border: 1px solid #ccc; }

.form__col255 {
  width: 255px;
  border: 1px solid #ccc;
  margin: 0 30px 0 0; }

.form__col255-no-margin {
  width: 255px;
  border: 1px solid #ccc; }

.form__col525 {
  width: 525px;
  border: 1px solid #ccc;
  margin: 0 30px 0 0; }

.form__col660 {
  width: 660px;
  border: 1px solid #ccc; }

/*
    #content
________________________ */
.content {
  width: 100%; }

.content__header,
.content__footer {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.content__header--msg {
  margin: 55px 0; }

.content__footer--msg {
  margin: 30px 0; }

.content__header--msg h2 {
  margin: 0;
  color: #0a4b73;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100; }

.content__header--msg p {
  margin: 0;
  color: #4d4d4d;
  font-family: "FonteRg";
  font-size: 12px;
  font-weight: 100; }

.content__main {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.content__main-notificacao {
  width: 65%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto; }

.content__main-notificacao--mensagens,
.content__main-notificacao--compromissos,
.content__main-notificacao--alertas {
  text-align: center; }

.content__main-notificacao--mensagens .title h3,
.content__main-notificacao--compromissos .title h3,
.content__main-notificacao--alertas .title h3 {
  color: #406ead;
  font-family: "FonteLt";
  font-size: 22px;
  font-weight: 100; }

.content__main-notificacao--mensagens .icon,
.content__main-notificacao--compromissos .icon,
.content__main-notificacao--alertas .icon {
  margin: 20px 0; }

.content__main-perfil {
  width: 55%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px; }

.content_main-perfil--titulo {
  background-color: #2e6e9e;
  padding: 25px 15px;
  text-align: center; }

.content_main-perfil--buttons {
  background-color: #e6e6e6;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #fff; }

.content_main-perfil--link {
  text-decoration: none;
  font-size: 17px;
  font-family: "FonteLt";
  color: #2e6e9e;
  font-weight: 100; }

/*
    #meuperfil
________________________ */
.content__header--title,
.content__header--button {
  margin: 55px 0; }

.content__header--title h2 {
  margin: 0;
  color: #0a4b73;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100; }

.content__header--button .icon {
  display: inline-block; }

.content__header--button a {
  text-decoration: none;
  font-size: 16px;
  font-family: "FonteRg";
  color: red;
  font-weight: 100;
  display: inline-block; }

/*
    #cancelamento
________________________ */
.content__main-msg--text {
  background-color: #cc0a2f;
  padding: 35px;
  -webkit-border-radius: 13px 13px 13px 13px;
  -moz-border-radius: 13px 13px 13px 13px;
  -ms-border-radius: 13px 13px 13px 13px;
  -o-border-radius: 13px 13px 13px 13px;
  border-radius: 13px 13px 13px 13px; }

.content__main-msg--text p {
  color: #fff;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 100; }

.content__main-msg--submit {
  display: block;
  float: right;
  margin-top: 40px; }

.content__main-msg--submit button {
  margin-left: 40px; }

.content__main-msg--submit--link {
  text-decoration: none;
  font-size: 18px;
  font-family: "FonteLt";
  color: #fff;
  font-weight: 100; }

/*
    #pesquisavagas
________________________ */
.content__main-search {
  width: 100%; }

.content__main-search--filtro {
  background-color: rgba(106, 186, 235, 0.3);
  padding: 35px; }

.content__main-search--filtro--row {
  width: 100%;
  margin: 10px 0;
  overflow: hidden; }
  .content__main-search--filtro--row.content__main-search--filtro--row:first-child {
    margin-top: 0; }
  .content__main-search--filtro--row.content__main-search--filtro--row:last-child {
    margin-bottom: 0; }

.content__main-search--box {
  width: 23.1%;
  float: left;
  margin: 0 2.5% 0 0;
  overflow: hidden;
  text-align: center; }
  .content__main-search--box.content__main-search--box:last-child {
    margin-right: 0; }

.content__main-search--box .select {
  height: 70px;
  background-color: #fff;
  border: 5px solid #2e6e9e; }

.content__main-search--box .select select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none; }

.content__main-search--box .date {
  height: 70px;
  background-color: #fff;
  border: 5px solid #2e6e9e; }

.content__main-search--box .range {
  height: 70px;
  background-color: #fff;
  border: 5px solid #2e6e9e; }

.content__main-search--box .reset {
  height: 70px;
  background-color: #b3b3b3; }

.content__main-search--box .reset input[type=reset] {
  width: 100%;
  height: 100%;
  background-color: #b3b3b3;
  border: none;
  color: #fff;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase; }

.content__main-search--box .submit {
  height: 70px;
  background-color: #8ac93a; }

.content__main-search--box .submit input[type=submit] {
  width: 100%;
  height: 100%;
  background-color: #8ac93a;
  border: none;
  color: #fff;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase; }

.content__main-search--resultado--header {
  margin: 45px 0; }

.content__main-search--resultado--title {
  background-color: #ccc;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 45px; }

.content__main-search--resultado--title span {
  color: #fff;
  font-family: "FonteRg";
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase; }

.content__main-search--resultado--header .number {
  text-align: left; }

.content__main-search--resultado--header .filter {
  text-align: right; }

.content__main-search--resultado--cargo {
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.content__main-search--resultado--local {
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.content__main-search--resultado--salario {
  height: 67px;
  background-color: #e0e2e1;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff; }

.content__main-search--resultado--visualizar {
  height: 67px;
  background-color: #e0e2e1;
  border-bottom: 1px solid #fff; }

.content__main-search--resultado--candidatarse {
  height: 67px;
  background-color: #e0e2e1;
  border-bottom: 1px solid #fff; }

.content__main-search--resultado--sobreavaga {
  width: 100%;
  background-color: #e0e2e1;
  padding: 35px 40px;
  margin-bottom: 30px; }

.content__main-search--resultado--sobreavaga .pure-g {
  background-color: #fff;
  padding: 40px 40px 10px 40px; }

.content__main-search--resultado--sobreavaga--titulo {
  width: 20%;
  background-color: #999;
  float: left;
  text-align: center;
  padding: 10px 10px;
  margin: 30px 5% 30px 0; }
  .content__main-search--resultado--sobreavaga--titulo.content__main-search--resultado--sobreavaga--titulo:first-child {
    margin-top: 0; }
  .content__main-search--resultado--sobreavaga--titulo.content__main-search--resultado--sobreavaga--titulo:last-child {
    margin-bottom: 0; }

.content__main-search--resultado--sobreavaga--titulo h3 {
  color: #fff;
  font-family: "FonteLt";
  font-size: 25px;
  font-weight: 100; }

.content__main-search--resultado--sobreavaga--descricao {
  width: 75%;
  float: left;
  margin-bottom: 30px; }

.content__main-servicos {
  width: 100%;
  margin-top: 30px; }

.content__main-servicos--left {
  background-color: #e6e6e6;
  padding: 30px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px; }

.content__main-servicos--left .title {
  text-align: center;
  margin: 45px 0 35px 0; }

.content__main-servicos--left .title h3 {
  font-family: "FonteRg";
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase; }

.content__main-servicos--left .text p {
  text-align: justify;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 100; }

.content__main-servicos--left .action {
  display: block;
  text-align: center;
  margin-top: 80px; }

.content__main-servicos--left .action button {
  width: 160px;
  height: 160px;
  background-color: #294678;
  padding: 0 15px;
  border: none;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -ms-border-radius: 100px 100px 100px 100px;
  -o-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px; }

.content__main-servicos--left .action button span {
  color: #fff;
  font-family: "FonteRg";
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase; }

.content__main-servicos--right .title {
  text-align: center;
  margin: 45px 0 35px 0; }

.content__main-servicos--right {
  background-color: #294678;
  padding: 30px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px; }

.content__main-servicos--right .title h3 {
  color: #fff;
  font-family: "FonteRg";
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase; }

.content__main-servicos--right .text p {
  color: #fff;
  text-align: justify;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 100; }

.content__main-servicos--right .action {
  display: block;
  text-align: center;
  margin-top: 80px; }

.content__main-servicos--right .action button {
  width: 160px;
  height: 160px;
  background-color: #e6e6e6;
  padding: 0 15px;
  border: none;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -ms-border-radius: 100px 100px 100px 100px;
  -o-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px; }

.content__main-servicos--right .action button span {
  color: #294678;
  font-family: "FonteRg";
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase; }

/* 
    PAGE #headhunter
        NAV #dasboard 
______________________________ */
.content__main-vagasrecentes {
  margin-bottom: 45px; }

.content__main-vagasrecentes--titulo {
  background-color: #2e6e9e;
  padding: 20px 0;
  text-align: center; }

.content__main-vagasrecentes--titulo h3 {
  color: #fff;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100;
  margin: 0; }

.content__main-vagasrecentes--descricao {
  text-align: right; }

.content__main-vagasrecentes--descricao p {
  color: #4d4d4d;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100;
  margin: 0; }

.content__main-vagasrecentes--tabela {
  background-color: #e0e2e1;
  padding: 30px; }

.tabela__vagasrecentes--titulo {
  text-align: center; }

.tabela__vagasrecentes--titulo h3 {
  margin: 0 0 30px 0;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100;
  color: #406ead; }

.vagasrecentes__tabela--nomecol {
  width: 100%;
  background-color: #2e6e9e;
  padding: 20px 0;
  text-align: center; }

.vagasrecentes__tabela--nomecol span {
  color: #fff;
  font-family: "FonteRg";
  font-size: 16px;
  font-weight: 100;
  margin: 0; }

.vagasrecentes__tabela--linha {
  background-color: #fff;
  border-bottom: 1px solid #e0e2e1;
  padding: 15px;
  text-align: center; }

.vagasrecentes__tabela--linha span {
  color: #406ead;
  font-family: "FonteRg";
  font-size: 16px;
  font-weight: 100;
  margin: 0; }

.vagasrecentes__resumo {
  padding: 30px; }

.vagasrecentes__resumo--nome {
  text-align: center;
  margin: 15px 0; }

.vagasrecentes__resumo--nome span {
  color: #406ead;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100;
  margin: 0; }

.notificacoes__linha {
  width: 100%;
  height: 40px;
  margin-bottom: 15px; }
  .notificacoes__linha.notificacoes__linha:last-child {
    margin-bottom: 0; }

.notificacoes__linha--nome {
  height: 40px;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  float: right;
  margin: 0 10px 0 0; }

.notificacoes__linha--nome span {
  color: #4d4d4d;
  font-family: "FonteRg";
  font-size: 14px;
  font-weight: 100;
  margin: 0; }

.notificacoes__linha--qtd {
  width: 40px;
  height: 40px;
  background-color: #2e6e9e;
  display: block;
  text-align: center;
  margin-left: auto;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -ms-border-radius: 100px 100px 100px 100px;
  -o-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
  display: -webkit-flex;
  display: -moz-flexx;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }

.notificacoes__linha--qtd span {
  color: #fff;
  font-family: "FonteRg";
  font-size: 16px;
  font-weight: 900; }

.resumo__vagasrecentes--nome {
  text-align: center;
  margin-bottom: 45px; }

.resumo__vagasrecentes--nome span {
  color: #406ead;
  font-family: "FonteRg";
  font-size: 18px;
  font-weight: 100;
  margin: 0; }

/*
    PAGE headhunter
        NAV #cadastro03
______________________________*/
.planos__conteudo {
  width: 100%; }

.planos__coluna {
  padding: 0 30px;
  transition: 0.3s; }
  .planos__coluna.planos__coluna:hover {
    border: 3px solid; }

.planos__nome {
  text-align: center;
  padding: 15px 0; }

.planos__nome h3 {
  font-family: "FonteRg";
  font-size: 25px;
  font-weight: 900;
  margin: 0; }

.planos__titulo {
  background-color: #d9d9d9;
  text-align: center;
  padding: 30px 0; }

.planos__titulo span {
  font-family: "FonteRg";
  font-size: 25px;
  font-weight: 100; }

.planos__descricao {
  text-align: center;
  margin: 25px 0; }

.planos__descricao span {
  font-family: "FonteLt";
  font-size: 16px;
  font-weight: 100; }

.planos__subtitulo {
  text-align: center;
  padding: 25px 0;
  border: 1px solid; }

.planos__button {
  text-align: center;
  padding: 25px 0; }

.termos__conteudo {
  width: 100%; }

.termos__texto {
  background-color: #ccc;
  padding: 30px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -ms-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px; }

.termos__checkbox {
  margin: 30px 0; }

.termos__button {
  margin: 30px 0;
  float: right; }

/*
    PAGE headhunter
        NAV #cadastro09
______________________________*/
.content__header--guia {
  padding: 15px 10px;
  display: table;
  background-color: #d3d3d3;
  margin-left: auto;
  margin-bottom: 30px; }

.content__header--guia .icon {
  display: inline;
  padding: 0 5px; }

.content__header--guia a {
  display: inline-block;
  padding: 0 5px; }

.form__abas {
  width: 100%;
  background-color: #e6e6e6;
  text-align: center; }

.form__abas-link {
  padding: 15px 0;
  display: block; }
  .form__abas-link.form__abas-link:hover {
    background-color: #ccc; }
  .form__abas-link.form__abas-ativo {
    background-color: #ccc; }

.all-bg-blue--padding15 {
  background-color: #2e6e9e;
  padding: 15px; }

.all-bg-blue--padding30 {
  background-color: #2e6e9e;
  padding: 30px; }

.all-bg-blue--padding45 {
  background-color: #2e6e9e;
  padding: 45px; }

.all-bg-blue--padding60 {
  background-color: #2e6e9e;
  padding: 60px; }

.content-90pct {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

/*
    #fonts
________________________ */
@font-face {
  font-family: "FonteLt";
  src: url("../fontes/Humanst521-Lt-BT-Light.eot");
  src: url("../fontes/Humanst521-Lt-BT-Light.woff") format("woff"), url("../fontes/Humanst521-Lt-BT-Light.ttf") format("truetype"), url("../fontes/Humanst521-Lt-BT-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "FonteRg";
  src: url("../fontes/Humanist-777-BT.eot");
  src: url("../fontes/Humanist-777-BT.woff") format("woff"), url("../fontes/Humanist-777-BT.ttf") format("truetype"), url("../fontes/Humanist-777-BT.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
