
// background all with padding
.all-bg-blue--padding15 {
    background-color: $bgBlueMain;
    padding: 15px;
}
.all-bg-blue--padding30 {
    background-color: $bgBlueMain;
    padding: 30px;
}
.all-bg-blue--padding45 {
    background-color: $bgBlueMain;
    padding: 45px;
}
.all-bg-blue--padding60 {
    background-color: $bgBlueMain;
    padding: 60px;
}

// content 
.content-90pct {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}