
// import
@import '../base/typography';

@mixin ul-clear {
    margin: 0;
    padding: 0;
    list-style: none;
}
@mixin li-nav($size, $font, $color) {
    text-decoration: none;
    font-size: $size;
    font-family: $font;
    color: $color;
    font-weight: 100;
}
@mixin link($size, $font, $color) {
    text-decoration: none;
    font-size: $size;
    font-family: $font;
    color: $color;
    font-weight: 100;
}
@mixin content-960 {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
@mixin content-780 {
    width: 65%;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}
@mixin display-flex {
    display: -webkit-flex;
    display: -moz-flexx;
    display: -ms-flex;
    display: -o-flex;
    display: flex; 
}
@mixin align-items {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}
@mixin justify-content {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
@mixin border-radius($a: false, $b: false, $c: false, $d: false) {
    -webkit-border-radius: $a $b $c $d; 
    -moz-border-radius: $a $b $c $d; 
    -ms-border-radius: $a $b $c $d; 
    -o-border-radius: $a $b $c $d; 
    border-radius: $a $b $c $d; 
}
@mixin appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}