// background colors
$bgBlueMain:    #2e6e9e;
$bgGreenMain:   #8ac93a;
$bgRedMsg:      #cc0a2f;
$bgGrey:        #4d4d4d;
$bgItemSidebar: #ccc;
$bgSidebar:     #e6e6e6;
$bgResulTitle:  #e0e2e1;
$bgWhiteMain:   #fff;
$bgBtnAction:   #0099db; 

// text colors
$textBlueH2:    #0a4b73;
$textBlueH3:    #406ead;
$textBlueP:     #2e6e9e;
$textGreyP:     #4d4d4d;