/*
    PAGE #cadastros
        NAV #cadastros01
___________________________*/
.cadastros01__boxs {
    margin-bottom: 60px;
}
.boxs__conteudo--header {
    width: 100%;
    height: 60px;
    background-color: $bgBlueMain;
}
.boxs__conteudo--header p {
    color: #fff;
    font-family: "FonteRg";
    font-size: 16px;
    text-align: center;
}
.boxs__conteudo--linha {
    width: 100%;
    background-color: $bgResulTitle;
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.boxs__conteudo--link {
    color: $textBlueH3;
    font-family: "FonteLt";
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    text-decoration: none;
}