// import 
@import '../utils/variables';

// buttons
.buttons--logout {
    background-color: $bgGreenMain;
    padding: 8px 30px;
}
.buttons--action {
    width: 150px;
    height: 50px;
    background-color: $bgBtnAction;
    border: none;
    padding: 0 20px;
    overflow: hidden;
    display: block;
    float: left;
}
.buttons--submit {
    width: 150px;
    height: 50px;
    background-color: $bgGreenMain;
    border: none;
    padding: 0 20px;
    overflow: hidden;
    display: block;
    float: left;
}
.buttons--confirm {
    background-color: $bgGreenMain;
    border: none;
    padding: 20px 45px;
    overflow: hidden;
    display: block;
    float: left;
}
.buttons--cancel {
    background-color: $bgGrey;
    border: none;
    padding: 20px 45px;
    overflow: hidden;
    display: block;
    float: left;
}