.icon-search-small {
    width: 17px;
    height: 17px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-lupa.png");
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-perfil-small {
    width: 29px;
    height: 37px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-perfil.png");
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-like-like {
    width: 46px;
    height: 33px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-like.png");
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-like-deslike {
    width: 44px;
    height: 38px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-deslike.png");
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-score-01 {
    width: 160px;
    height: 27px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
    background-position: center -120px;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-score-02 {
    width: 160px;
    height: 27px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
    background-position: center -89px;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-score-03 {
    width: 160px;
    height: 27px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
    background-position: center -59px;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-score-04 {
    width: 160px;
    height: 27px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
    background-position: center -30px;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-score-04 {
    width: 160px;
    height: 27px;
    background-image: url("../img/icones/icone-pg-convidar-recrutador-score.png");
    background-position: center -1px;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}
.icon-back-header {
    width: 12px;
    height: 14px;
    background-image: url("../img/icones/icone-voltar-header-admin.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: table;
    margin: auto;
}