.tabela__table {
    width: 100%;
}
.tabela__thead {
    width: 100%;
}
.tabela__thead-color-escuro {
    background-color: #4d4d4d;
    color: #fff;
    font-family: "FonteLt";
    font-size: 17px;
    font-weight: 100;
}
.tabela__thead th {
    padding: 15px 0;
}
.tabela__tbody {
    text-align: center;
    border-left: 1px solid $bgResulTitle;
    border-right: 1px solid $bgResulTitle;
    border-bottom: 1px solid $bgResulTitle;
}
.tabela__tbody tr {
    background-color: $bgResulTitle;
    color: #4d4d4d
}
.tabela__tbody tr:nth-child(odd) {
    padding: 15px 0;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.tabela__tbody td {
    padding: 10px 0;
}
.form__icones {
    &.form__icones-width-05pct {
        width: 5%;
    }
    &.form__icones-width-10pct {
        width: 10%;
    }
    &.form__icones-width-15pct {
        width: 15%;
    }
    &.form__icones-width-20pct {
        width: 20%;
    }
}
.form__icones-icone-blue {
    background-color: $bgBlueMain;

    &.form__icones-icone-blue i {
        color: #fff;
    }
}
.form__icones-icone-red {
    background-color: $bgRedMsg;

    &.form__icones-icone-red i {
        color: #fff;
    }
}