
/*
    #pesquisavagas
________________________ */
.content__main-search {
    width: 100%;
}
.content__main-search--filtro {
    background-color: rgba(106, 186, 235, 0.3);
    padding: 35px;
}
.content__main-search--filtro--row {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;

    &.content__main-search--filtro--row:first-child {
        margin-top: 0;
    }
    &.content__main-search--filtro--row:last-child {
        margin-bottom: 0;        
    }
}
.content__main-search--box {
    width: 23.1%;
    float: left;
    margin: 0 2.5% 0 0;
    overflow: hidden;
    text-align: center;

    &.content__main-search--box:last-child {
        margin-right: 0;
    }
}

.content__main-search--box .select {
    height: 70px;
    background-color: #fff;
    border: 5px solid $bgBlueMain;
}
.content__main-search--box .select select {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
}

.content__main-search--box .date {
    height: 70px;
    background-color: #fff;
    border: 5px solid $bgBlueMain;
}

.content__main-search--box .range {
    height: 70px;
    background-color: #fff;
    border: 5px solid $bgBlueMain;
}

.content__main-search--box .reset {
    height: 70px;
    background-color: #b3b3b3;
}
.content__main-search--box .reset input[type=reset] {
    width: 100%;
    height: 100%;
    background-color: #b3b3b3;
    border: none;
    color: #fff;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.content__main-search--box .submit {
    height: 70px;
    background-color: $bgGreenMain;
}
.content__main-search--box .submit input[type=submit] {
    width: 100%;
    height: 100%;
    background-color: $bgGreenMain;
    border: none;
    color: #fff;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.content__main-search--resultado--header {
    margin: 45px 0;
}
.content__main-search--resultado--title {
    background-color: #ccc;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 45px;
}
.content__main-search--resultado--title span {
    color: #fff;
    font-family: "FonteRg";
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}
.content__main-search--resultado--header .number {
    text-align: left;
}
.content__main-search--resultado--header .filter {
    text-align: right;
}
.content__main-search--resultado--cargo {
    height: 67px;
    background-color: $bgResulTitle;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.content__main-search--resultado--local {
    height: 67px;
    background-color: $bgResulTitle;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.content__main-search--resultado--salario {
    height: 67px;
    background-color: $bgResulTitle;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.content__main-search--resultado--visualizar {
    height: 67px;
    background-color: $bgResulTitle;
    border-bottom: 1px solid #fff;
}
.content__main-search--resultado--candidatarse {
    height: 67px;
    background-color: $bgResulTitle;
    border-bottom: 1px solid #fff;
}

.content__main-search--resultado--sobreavaga {
    width: 100%;
    background-color: $bgResulTitle;
    padding: 35px 40px;
    margin-bottom: 30px;
}
.content__main-search--resultado--sobreavaga .pure-g {
    background-color: #fff;
    padding: 40px 40px 10px 40px;
}
.content__main-search--resultado--sobreavaga--titulo {
    width: 20%;
    background-color: #999;
    float: left;
    text-align: center;
    padding: 10px 10px;
    margin: 30px 5% 30px 0;

    &.content__main-search--resultado--sobreavaga--titulo:first-child {
        margin-top: 0;
    }
    &.content__main-search--resultado--sobreavaga--titulo:last-child {
        margin-bottom: 0;
    }
}
.content__main-search--resultado--sobreavaga--titulo h3 {
    color: #fff;
    font-family: "FonteLt";
    font-size: 25px;
    font-weight: 100;
}
.content__main-search--resultado--sobreavaga--descricao {
    width: 75%;
    float: left;
    margin-bottom: 30px;
}