
/*
    #meuperfil
________________________ */
.content__header--title,
.content__header--button {
    margin: 55px 0;
}
.content__header--title h2 {
    margin: 0;
    color: $textBlueH2;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
}
.content__header--button .icon {
    display: inline-block;
}
.content__header--button a {
    @include link(16px, "FonteRg", red);
    display: inline-block;
}

/*
    #cancelamento
________________________ */
.content__main-msg--text {
    background-color: $bgRedMsg;
    padding: 35px;
    @include border-radius(13px, 13px, 13px, 13px);
}
.content__main-msg--text p {
    color: #fff;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 100;
}
.content__main-msg--submit {
    display: block;
    float: right;
    margin-top: 40px;
}
.content__main-msg--submit button {
    margin-left: 40px;
}
.content__main-msg--submit--link {
    @include link(18px, "FonteLt", #fff)
}