.content__main-servicos {
    width: 100%;
    margin-top: 30px;
}
.content__main-servicos--left {
    background-color: #e6e6e6;
    padding: 30px;
    @include border-radius(15px, 15px, 15px, 15px);
}
.content__main-servicos--left .title {
    text-align: center;
    margin: 45px 0 35px 0;
}
.content__main-servicos--left .title h3 {
    font-family: "FonteRg";
    font-size: 22px;
    font-weight: 900    ;
    text-transform: uppercase;
}
.content__main-servicos--left .text p {
    text-align: justify;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 100;
}
.content__main-servicos--left .action {
    display: block;
    text-align: center;
    margin-top: 80px;
}
.content__main-servicos--left .action button {
    width: 160px;
    height: 160px;
    background-color: #294678;
    padding: 0 15px;
    border: none;
    @include border-radius(100px, 100px, 100px, 100px);
}
.content__main-servicos--left .action button span {
    color: #fff;
    font-family: "FonteRg";
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.content__main-servicos--right .title {
    text-align: center;
    margin: 45px 0 35px 0;
}
.content__main-servicos--right {
    background-color: #294678;
    padding: 30px;
    @include border-radius(15px, 15px, 15px, 15px);
}
.content__main-servicos--right .title h3 {
    color: #fff;
    font-family: "FonteRg";
    font-size: 22px;
    font-weight: 900    ;
    text-transform: uppercase;
}
.content__main-servicos--right .text p {
    color: #fff;
    text-align: justify;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 100;
}
.content__main-servicos--right .action {
    display: block;
    text-align: center;
    margin-top: 80px;
}
.content__main-servicos--right .action button {
    width: 160px;
    height: 160px;
    background-color: #e6e6e6;
    padding: 0 15px;
    border: none;
    @include border-radius(100px, 100px, 100px, 100px);
}
.content__main-servicos--right .action button span {
    color: #294678;
    font-family: "FonteRg";
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}