/*
    #content
________________________ */
.content {
    width: 100%;
}
.content__header,
.content__footer {
    @include content-960;
}
.content__header--msg {
    margin: 55px 0;
}
.content__footer--msg {
    margin: 30px 0;
}
.content__header--msg h2 {
    margin: 0;
    color: $textBlueH2;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
}
.content__header--msg p {
    margin: 0;
    color: $textGreyP;
    font-family: "FonteRg";
    font-size: 12px;
    font-weight: 100;
}
.content__main {
    @include content-960;
}
.content__main-notificacao {
    @include content-780;
}
.content__main-notificacao--mensagens,
.content__main-notificacao--compromissos,
.content__main-notificacao--alertas {
    text-align: center;
}
.content__main-notificacao--mensagens .title h3,
.content__main-notificacao--compromissos .title h3,
.content__main-notificacao--alertas .title h3 {
    color: $textBlueH3;
    font-family: "FonteLt";
    font-size: 22px;
    font-weight: 100;
}
.content__main-notificacao--mensagens .icon,
.content__main-notificacao--compromissos .icon,
.content__main-notificacao--alertas .icon {
    margin: 20px 0;
}
.content__main-perfil {
    width: 55%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}
.content_main-perfil--titulo {
    background-color: $bgBlueMain;
    padding: 25px 15px;
    text-align: center;
}
.content_main-perfil--buttons {
    background-color: $bgSidebar;
    padding: 10px 0;  
    text-align: center;
    border-bottom: 1px solid #fff;
}
.content_main-perfil--link {
    @include link(17px, "FonteLt", $textBlueP)
}