
/*
    #form
________________________ */
.content__main-form--formulario {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.content__main-form--row {
    margin: 20px 0;
    overflow: hidden;
    
    &.content__main-form--row:first-child {        
        margin-top: 0;
        overflow: hidden;
    }
    &.content__main-form--row:last-child {        
        margin-bottom: 0;
        overflow: hidden;
    }
}
.content__main-form--title {
    text-align: center;
}
.content__main-form--title h2 {
    color: #fff;
    font-family: "FonteRg";
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 15px;
}
.content__main-form--col--2 {
    width: 45%;
    float: left;
    &.content__main-form--col--2:nth-child(2) {
        float: right;
    }
}
.content__main-form--label {
    width: 100%;
    max-width: 155px;
    height: 45px;
    background-color: $bgBlueMain;
    float: left;
    margin-right: 13px;
    text-align: center;
    @include display-flex;
    @include justify-content;
    @include align-items;
}
.content__main-form--label span {
    color: #fff;
    font-family: "FonteLt";
    font-size: 16px;
    font-weight: 100;
}
.content__main-form--input {
    width: 100%;
    max-width: 694px;
    height: 45px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
}
.content__main-form--input input {
    width: 100%;
    height: 45px;
    border: none;
    padding: 0 15px;
    margin: 0;
    outline: none;
    font-family: "FonteLt";
    font-size: 17px;
    color: #4d4d4d;
}
.content__main-form--label--textarea {
    width: 100%;
    max-width: 155px;
    height: 90px;
    background-color: $bgBlueMain;
    float: left;
    margin-right: 13px;
    text-align: center;
    @include display-flex;
    @include justify-content;
    @include align-items;
}
.content__main-form--label--textarea span {
    color: #fff;
    font-family: "FonteLt";
    font-size: 16px;
    font-weight: 100;
}
.content__main-form--textarea {
    width: 100%;
    max-width: 694px;
    height: 90px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
}
.content__main-form--textarea textarea {
    width: 100%;
    height: 90px;
    border: none;
    padding: 15px;
    margin: 0;
    outline: none;
    font-family: "FonteLt";
    font-size: 17px;
    color: #4d4d4d;
}
.content__main-form--input--2 {
    width: 100%;
    max-width: 220px;
    height: 45px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
}
.content__main-form--input--2 input,
.content__main-form--input--2 select {
    width: 100%;
    height: 45px;
    border: none;
    padding: 0 15px;
    margin: 0;
    outline: none;
    font-family: "FonteLt";
    font-size: 17px;
    color: #4d4d4d;
}
.content__main-form--file {
    margin: 30px 0;
    text-align: center;
}
.content__main-form--submit a {
    color: #fff;
    font-family: "FonteLt";
    font-size: 16px;
    text-decoration: none;
}
.content__main-form--submit {
    color: #fff;
    font-family: "FonteLt";
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    display: block;
    float: right;
}
.content__main-form--submit button {
    margin-left: 40px;
}
.content__main-form--section {
    width: 100%;
    max-width: 694px;
    height: 45px;
    float: left;
    overflow: hidden;
}
.content__main-form--radio {
    height: 100%;
    background-color: $bgBlueMain;
    padding: 5px 20px 5px 5px;
    float: left;
    margin-right: 25px;
    @include display-flex;
    @include align-items;
    @include justify-content;
}
.content__main-form--radio input[type="radio"] {
    display:none;
}
.content__main-form--radio input[type="radio"] + label {
    color:#f2f2f2;
    font-family: "FonteLt";
    font-size: 16px;
}
.content__main-form--radio input[type="radio"] + label span {
    display:inline-block;
    width: 35px;
    height: 35px;
    vertical-align:middle;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    content: 'dsd';
    width: 35px;
    height: 35px;
    background-color: $bgBlueMain;
    border: 5px solid #fff;
}

/* 
    FORMULÁRIOS
______________________________ */
.form__row {
    width: 100%;
    margin: 15px 0;
    overflow: hidden;
}
.form__label, .form__input, .form__select, 
.form__radio, .form__checkbox,.form__textarea {
    height: 50px;
    float: left;
    overflow: hidden;
}
.form__label-fixo {
    width: 145px;
    height: 50px;
    background-color: $bgBlueMain;
    text-align: center;
    @include display-flex;
    @include align-items;
    @include justify-content;
    padding: 0 5px;
    margin: 0 5px 0 0;
}
.form__coluna-label {
    width: 15.104166667%;
    max-width: 145px;
    height: 100%;
    background-color: $bgBlueMain;
    float: left;
    margin: 0 5px 0 0;
}
.form__coluna-inputs {
    width: 84.375%;
    max-width: 810px;
    float: left;
}
.form__label-fixo span {
    color: #fff;
    font-family: "FonteLt";
    font-size: 16px;
}
.form__select select, .form__input input,
.form__textarea textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 0 15px;
}
.form__col810 {
    width: 810px;
    border: 1px solid #ccc;
}
.form__col163 {
    width: 163px;
    border: 1px solid #ccc;
}
.form__col240 {
    width: 240px;
    border: 1px solid #ccc;
    margin: 0 30px 0 0;
}
.form__col240-no-margin {
    width: 240px;
    border: 1px solid #ccc;
}
.form__col390 {
    width: 390px;
    border: 1px solid #ccc;
}
.form__col255 {
    width: 255px;
    border: 1px solid #ccc;
    margin: 0 30px 0 0;
}
.form__col255-no-margin {
    width: 255px;
    border: 1px solid #ccc
}
.form__col525 {
    width: 525px;
    border: 1px solid #ccc;
    margin: 0 30px 0 0;
}
.form__col660 {
    width: 660px;
    border: 1px solid #ccc;
}