// variables
@import '../utils/variables';
@import '../utils/mixins';
@import '../base/typography';

/* temporário */
.bBlue {border: 1px solid blue;}
.bRed {border: 1px solid red;}
.bGrey {border: 1px solid grey;}

* {margin: 0;padding: 0;box-sizing: border-box;}
/* 
    #header
________________________ */
.header {
    width: 100%;
}
.header-admin__logo {
    border: 1px solid blue;
}
.header__menu {
    width: 100%;
    background-color: $bgBlueMain;
    padding: 55px 0;
}
.header__menu-nav {
    @include ul-clear;
    @include content-960;
    overflow: hidden; 
}
.header__menu-item {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
        float: right;
    }
}
.header__menu-item--link {
    @include li-nav(14px, 'FonteRg', #fff);
}

