
/* temporário */
.bBlue {border: 1px solid blue;}
.bRed {border: 1px solid red;}
.bGrey {border: 1px solid grey;}

* {margin: 0;padding: 0;}

/* 
    #sidebar
________________________ */
.sidebar {
    height: 100%;
    background-color: $bgSidebar;
}
.sidebar__nav {
    text-align: center;
}
.sidebar__menu-nav--link {
    display: block;
    padding: 35px 0;
}