
/* PAGINA convidar recrutador */
.convite__secao {
    width: 100%;
    overflow: hidden;
}
.convite__secao-resul {
    width: 100%;
    overflow: hidden;
}
.convite__secao__descricao p {
    margin: 0;
    color: #4d4d4d;
    font-size: 13px;
}
.convite__secao-titulo {
    margin: 15px 0 0 0;
    overflow: hidden;
}
.convite__secao-titulo p {
    margin: 0;
    color: #4d4d4d;
    margin-bottom: 15px;
}
.convite__secao-search {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.convite__secao-search input {
    width: 80%;
    height: 35px;
    float: left;
    border: 5px solid #e0e2e1;
    padding: 0 15px;
    outline: none;
}
.convite__secao-search button {
    width: 20%;
    height: 35px;
    float: left;
    border: none;
    background-color: $bgHeader;
    border-right: 10px solid #fff;
}
.convite__secao-resul01 {
    width: 90%;
    border: 3px solid #4d4d4d;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}
.convite__secao-resul02 {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;

    &.convite__secao-resul02:last-child {
        margin-bottom: 0;
    }
}
.convite__secao-cargo {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
    border-right: 1px solid #fff;
    text-align: center;
}
.convite__secao-cargo .nome {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
}
.convite__secao-local {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
    border-right: 1px solid #fff;
    text-align: center;
}
.convite__secao-local .icone {
    display: inline-block;
}
.convite__secao-local .nome {
    display: inline-block;
}
.convite__secao-headhunters {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
    border-right: 1px solid #fff;
    text-align: center;
}
.convite__secao-candidatos {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
    text-align: center;
}
.convite__secao-header {
    margin: 30px 0;
}
.convite__secao-header p {
    margin: 0;
    font-size: 13px;
}
.convite__secao-resul-icone {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
}
.convite__secao-resul-recrutador {
    width: 100%;
    height: 67px;
    border-top: 1px solid #e0e2e1;
    border-bottom: 1px solid #e0e2e1;
    text-align: center;
    @include display-flex-center;
}
.convite__secao-resul-recrutador .nome {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
}
.convite__secao-resul-score {
    width: 100%;
    height: 67px;
    background-color: $bgHeader;
    border-right: 10px solid #fff;
    text-align: center;
}
.convite__secao-resul-score .texto {
    color: #fff;
}
.convite__secao-resul-like {
    width: 100%;
    height: 67px;
    background-color: $bgVerde;
    border-right: 5px solid #fff;
}
.convite__secao-resul-deslike {
    width: 100%;
    height: 67px;
    background-color: $bgVerde;
}
.convite__secao-resul-score-titulo {
    text-align: center;
    background-color: $bgHeader;
    border-right: 10px solid #fff;
    margin-bottom: 10px;
    padding: 5px 0;
    color: #fff;
}
.convite__secao-resul-like-titulo {
    text-align: center;
    background-color: #e0e2e1;
    border-right: 5px solid #fff;
    margin-bottom: 10px;
    padding: 5px 0;
    color: $bgHeader;
}
.convite__secao-resul-deslike-titulo {
    text-align: center;
    background-color: #e0e2e1;
    margin-bottom: 10px;
    padding: 5px 0;
    color: $bgHeader;
}