
/* PAGINA historico de faturamento */
.historico-faturamento__conteudo {
    width: 100%;
    overflow: hidden;
}
.historico-faturamento__titulo {
    text-align: center;
    margin: 10px 0;
}
.historico-faturamento__row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;

    &.historico-faturamento__row:last-child {
        margin-bottom: 0;
    }
}
.historico-faturamento__cargo,
.historico-faturamento__emissao,
.historico-faturamento__vencimento,
.historico-faturamento__status {
    height: 67px;
    background-color: #e0e2e1;
    text-align: center;
    @include display-flex-center;
}
.historico-faturamento__cargo .nome {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
}
.historico-faturamento__emissao,
.historico-faturamento__vencimento,
.historico-faturamento__status {
    color: #4d4d4d;
    font-size: 15px;
}
.historico-faturamento__status {
    border-right: 5px solid #fff;
}
.historico-faturamento__nf,
.historico-faturamento__boleto {
    height: 67px;
    background-color: $bgHeader; 
    text-align: center;  
}
.historico-faturamento__nf .texto,
.historico-faturamento__boleto .texto {
    color: #fff;
}
.historico-faturamento__nf {
    border-right: 1px solid #fff;
}