
/* PAGINA mensagens central */
.conteudo-header__entrada {
    width: 100%;
    background-color: $bgVerde;
    padding: 25px;
    overflow: hidden;
}
.conteudo-header__saida {
    width: 100%;
    background-color: #00a5ff;
    padding: 25px;
    overflow: hidden;
}
.conteudo-header__entrada .texto,
.conteudo-header__saida .texto {
    width: 33.333333%;
    float: left;
    color: #fff;
    text-align: left;
    font-size: 13px;
    font-weight: 900;
}
.conteudo-header__entrada .icone,
.conteudo-header__saida .icone {
    width: 33.333333%;
    float: left;
    text-align: center;
}
.conteudo-header__entrada .numero,
.conteudo-header__saida .numero {
    width: 33.3333333%;
    float: left;
    color: #fff;
    text-align: right;
    font-size: 13px;
    font-weight: 900;
}
.form-perfil__conteudo-titulo {
    text-align: center;
    font-size: 16px;
    margin: 15px 0;
}
.form-perfil__acao-submit input[type=submit] {
    width: 100%;
    background-color: $bgVerde;
    border: none;
    color: #fff;
}
.caixa-entrada__titulo {
    width: 100%;
    background-color: $bgVerde;
    text-align: center;
    padding: 5px 0;
    color: #fff;
}
.caixa-entrada__titulo-bg {
    width: 100%;
    background-color: $bgHeader;
    text-align: center;
    padding: 5px 0;
    color: #ccc;
}
.caixa-entrada__conteudo {
    width: 100%;
    border: 1px solid #e0e2e1;
}
.caixa-entrada__conteudo-bg {
    background-color: #e0e2e1;
    padding: 30px;
}
.caixa-entrada__nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 15px;
}
.caixa-entrada__link {
    margin: 15px 0;
    display: block;

    &.caixa-entrada__link:first-child {
        margin-top: 0;
    }
    &.caixa-entrada__link:last-child {
        margin-bottom: 0;
    }
}
.caixa-entrada__assunto {
    color: $bgHeader;
    margin-bottom: 15px;
}
.caixa-entrada__texto {
    width: 100%;
    background-color: #fff;
    padding: 30px;
}
.caixa-entrada__texto p {
    margin: 0;
    text-align: justify;
}
.caixa-entrada__responder {
    display: table;
    margin-top: 30px;
}
.caixa-entrada__responder a {
    background-color: #4d4d4d;
    padding: 15px 45px;
    color: #fff;
    display: block;
}