/* PAGINA minha conta */
.notificacoes__conteudo {
    width: 100%;
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 35px;
}
.notificacoes__row {
    margin: 15px 0;

    &.notificacoes__row:first-child {
        margin-top: 0;
    }
    &.notificacoes__row:last-child {
        margin-bottom: 0;
    }
}
.notificacoes__texto span {
    color: $bgHeader;
}

.notificacoes__acesso {
    width: 100%;
}
.notificacoes__acesso-nav {
    width: 100%;
    margin: 0;
    padding: 0;
}
.notificacoes__acesso-item {
    list-style: none;
    margin: 20px 0;

    &.notificacoes__acesso-item:first-child {
        margin-top: 0;
    }
    &.notificacoes__acesso-item:last-child {
        margin-bottom: 0;
    }
}
.notificacoes__acesso-link {
    color: $bgHeader;
    font-size: 18px;
    text-decoration: underline;
}

.usuario-add {
    margin-bottom: 70px;

    &.usuario-add:last-child {
        margin-bottom: 0;
    }
}