/* PAGINA minhas vagas */
.vagas__conteudo {
    margin-bottom: 10px;

    &.vagas__conteudo:last-child {
        margin-bottom: 0;
    }    
}
.vagas__informacoes {
    overflow: hidden;
}
.vagas__conteudo-resumo {
    width: 100%;
    overflow: hidden;
    background-color: #e0e2e1;
    margin-bottom: 10px;
    outline: none;

    &.vagas__conteudo-resumo:last-child {
        margin-bottom: 0;
    }
}
.vagas__conteudo-col-cargo,
.vagas__conteudo-col-local,
.vagas__conteudo-col-headhunters,
.vagas__conteudo-col-candidatos {
    width: 100%;
    height: 80px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    @include display-flex-center;
}
.vagas__conteudo-col-cargo .nome {
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 900;
}
.vagas__conteudo-col-cargo .data {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 100;
}
.vagas__conteudo-col-local .icone {
    display: inline-block;
    margin: 0 15px 0 0;
}
.vagas__conteudo-col-local .local {
    display: inline-block;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 100;
}
.vagas__conteudo-col-headhunters .numero,
.vagas__conteudo-col-candidatos .numero {
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 900;
}
.vagas__conteudo-col-headhunters .nome,
.vagas__conteudo-col-candidatos .nome {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 100;
}
.vagas__informacoes-score {
    text-align: center;
}
.vagas__informacoes-nome {
    color: $bgHeader;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
}
.vagas__informacoes-local {
    color: $bgHeader;
    font-size: 12px;
    font-weight: 100;
}
.vagas__informacoes-score .numero {
    color: $bgHeader;
    font-size: 25px;
    font-weight: 900;
} 
.vagas__informacoes-score .texto {
    color: $bgHeader;
    font-size: 16px;
    font-weight: 100;
} 
.vagas__informacoes-experiencias {}
.vagas__informacoes-experiencias .titulo,
.vagas__informacoes-experiencias .empresa-data,
.vagas__informacoes-experiencias .cargo {
    color: #4d4d4d;
    font-size: 12px;
}
.vagas__informacoes-experiencias .titulo {
    text-decoration: underline;
    margin-top: 15px;
}
.vagas__informacoes-experiencias .cargo {
    margin-bottom: 15px;
}
.vagas__informacoes-avaliacao {
    margin-top: 15px;
}
.vagas__informacoes-avaliacao .titulo {
    color: $bgHeader;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.vagas__informacoes-agendamento,
.vagas__informacoes-mensagem {
    height: 45px;
    background-color: #e0e2e1;
    @include display-flex-center;
    margin: 10px 0;
}
.vagas__informacoes-agendamento .texto,
.vagas__informacoes-mensagem .texto {
    display: inline-block;
    color: $bgHeader;
    font-size: 12px;
    margin: 0 30px 0 0;
}
.vagas__informacoes-agendamento .icone,
.vagas__informacoes-mensagem .icone {
    display: inline-block;
}
.vagas__informacoes-headhunter {
    width: 100%;
}
.vagas__informacoes-headhunter .titulo {
    width: 100%;
    font-size: 14px;
    text-align: right;
    margin-top: 15px;
}
.vagas__informacoes-headhunter .nome {
    width: 100%;
    background-color: #e0e2e1;
    padding: 15px 30px;
    color: $bgHeader;   
    font-size: 16px;
    text-align: center;
}

.vagas__informacoes-extra-titulo {
    width: 100%;
    background-color: $bgHeader;
    text-align: right;
    padding: 7px 15px;
}
.vagas__informacoes-extra-titulo span {
    color: #fff;
    font-size: 14px;
}
.vagas__informacoes-extra-conteudo {
    width: 100%;
    background-color: #fff;
    padding: 15px;
}
.vagas__informacoes-extra-etapas {
    text-align: center;
    color: $bgHeader;
}
.vagas__informacoes-extra-etapas .titulo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.vagas__informacoes-extra-etapas label {
    width: 20%;
    height: 35px;
    float: left;
    background-color: $bgHeader;
    margin: 0;
    display: block;
}
.vagas__informacoes-extra-etapas input {
    width: 80%;
    height: 35px;
    float: left;
    display: block;
    border-left: 5px solid #fff;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: #e0e2e1;
    outline: none;
    padding: 0 15px;
}
.vagas__informacoes-extra-data,
.vagas__informacoes-extra-status,
.vagas__informacoes-extra-obs {
    text-align: center;
    color: $bgHeader;
}
.vagas__informacoes-extra-data .titulo,
.vagas__informacoes-extra-status .titulo,
.vagas__informacoes-extra-obs .titulo {
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.vagas__informacoes-extra-data input,
.vagas__informacoes-extra-status select {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: #e0e2e1;
    border: none;
    outline: none;
}
.vagas__informacoes-extra-obs textarea {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background-color: #e0e2e1;
    border: none;
    outline: none;
}
.vagas__informacoes-extra-admissao,
.vagas__informacoes-extra-garantia {
    width: 140px;
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
}
.vagas__informacoes-extra-admissao .texto,
.vagas__informacoes-extra-garantia .texto {
    margin-bottom: 2px;
    color: $bgHeader;
    font-size: 12px;
}
.vagas__informacoes-extra-admissao .data,
.vagas__informacoes-extra-garantia .data {
    background-color: #e0e2e1;
    padding: 10px 0;
    color: $bgHeader;
}
.vagas__informacoes-extra-conteudo-titulo {
    color: $bgHeader;
    margin: 15px 0;
}
.vagas__informacoes-extra-avaliacao .titulo {
    color: $bgHeader;
    margin: 15px 0;
}
.vagas__informacoes-aba2-img {
    text-align: center;
}
.vagas__informacoes-aba2-nomelocal {
    text-align: center;
}
.vagas__informacoes-aba2-nomelocal .nome {
    color: $bgHeader;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
}
.vagas__informacoes-aba2-nomelocal .local {
    color: $bgHeader;
    font-size: 13px;
    font-weight: 100;
}
.vagas__informacoes-aba2-engajamento {
    text-align: center;
    margin-top: 15px;
}
.vagas__informacoes-aba2-engajamento p {
    margin: 0;
    color: $bgHeader;
    font-size: 13px;
    font-weight: 100;
}
.vagas__informacoes-aba2-metodo {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.vagas__informacoes-aba2-metodo p {
    margin: 0;
    color: $bgHeader;
    font-size: 13px;
    font-weight: 100;
}
.vagas__informacoes-aba2-recrutados,
.vagas__informacoes-aba2-dataenvio,
.vagas__informacoes-aba2-status {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.vagas__informacoes-aba2-recrutados .titulo,
.vagas__informacoes-aba2-dataenvio .titulo,
.vagas__informacoes-aba2-status .titulo {
    width: 100%;
    height: 45px;
    background-color: #e0e2e1;
    color: $bgHeader;
    @include display-flex-center;
}
.vagas__informacoes-aba2-recrutados .nomes,
.vagas__informacoes-aba2-dataenvio .datas {
    margin: 10px 0;
    overflow: hidden;
}
.vagas__informacoes-aba2-status .status {
    margin: 10px 0;
    overflow: hidden;
    text-align: right;
}
.vagas__informacoes-aba2-status .status p i {
    margin: 0 3px 0 10px;
}
.vagas__informacoes-aba2-recrutados p,
.vagas__informacoes-aba2-dataenvio p,
.vagas__informacoes-aba2-status p {
    margin: 0;
    color: $bgHeader;
}
.vagas__informacoes-aba2-acao {
    display: table;
    margin-left: auto;
    margin-top: 30px;
}
.vagas__informacoes-aba2-acao button {
    width: 220px;
    background-color: #e0e2e1;
    border: none;
    margin: 0 0 0 15px;
    padding: 10px 20px;
    text-align: center;
    color: $bgHeader;
    font-size: 12px;
}
.vagas__informacoes-aba2-acao .icone {
    width: 30%;
    float: left;
}
.vagas__informacoes-aba2-acao span {
    width: 70%;
    float: left;
}
.vagas__informacoes-aba3-tipo .titulo,
.vagas__informacoes-aba3-candidatos .titulo,
.vagas__informacoes-aba3-relatorio .titulo {
    text-align: center;
    font-size: 14px;
    color: $bgHeader;
    margin-bottom: 10px;
}
.vagas__informacoes-aba4-candidatos .titulo,
.vagas__informacoes-aba4-documentos .titulo {
    text-align: center;
    color: $bgHeader;
    margin-bottom: 10px;
}
.vagas__informacoes-aba4-candidatos,
.vagas__informacoes-aba4-acoes {
    text-align: center;
    color: $bgHeader;
}


.vagas__conteudo-col-abrir {
    width: 100%;
    height: 80px;
    background-color: $bgHeader;
    border-bottom: 1px solid #fff;
    @include display-flex-center;
    cursor: pointer;
}
.vagas__informacoes-abas {
    width: 97%;
    overflow: hidden;
    margin-bottom: 40px;
}
.vagas__informacoes-abas .tab-content {
    width: 100%;
    overflow: hidden;
}
.vagas__informacoes-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#analiseCv {
    background-color: #e0e2e1;
    padding: 15px 15px;
}
#headHunterAcao {
    background-color: #e0e2e1;
    padding: 0 15px 15px 15px;
}
#shotlistComp {
    background-color: #e0e2e1;
    padding: 15px 15px;
}
#documentosCompr {
    background-color: #e0e2e1;
    padding: 15px 15px;
}
#avaliacaoDisc {
    background-color: #e0e2e1;
    padding: 15px 15px;
}
.vagas__boxs-lateral-titulo {
    margin-bottom: -55px;
    margin-top: 35px;
    text-align: center;
    color: $bgHeader;
    font-size: 12px;
    font-weight: 100;
}

.nav-tabs-item {
    width: 20%;
    float: left;
    border-right: 1px solid #e0e2e1;
    border-top: 1px solid #e0e2e1;
    padding: 15px 0;

    &.nav-tabs-item:first-child {
        border-left: 1px solid #e0e2e1;
    }
    a {
        display: block;
    }
}
.nav-tabs-item.active {
    background-color: #e0e2e1;
}
.tab-pane {
    background-color: #e0e2e1;
    padding: 15px;
    overflow: hidden;
}
.vagas__informacoes-caixa {
    height: 45px;
}
.vagas__informacoes-caixa select {
    width: 100%;
    height: 100%;
    background-color: $bgHeader;
    color: #fff;
    padding: 0 15px;
    font-size: 12px;
    border: none;
}
.vagas__informacoes-resultado {
    border: 3px solid $bgHeader;
    margin-top: 15px;
    background-color: #fff;
    padding: 15px;
}
.vagas__informacoes-aba3-bg,
.vagas__informacoes-aba4-bg,
.vagas__informacoes-aba5-bg {
    width: 100%;
    background-color: #e0e2e1;
}
.vagas__informacoes-aba3-conteudo,
.vagas__informacoes-aba4-conteudo,
.vagas__informacoes-aba5-bg {
    background-color: #fff;
    overflow: hidden;
    padding: 15px;
}

.vagas__informacoes-resultado-box,
.headHunterPerfil-box {
    background-color: #fff;
    padding: 30px 0;
    margin-top: 15px;
}