
/* PAGINA relatorios */
.relatorios__conteudo {
    width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.relatorios__selecao {
    width: 100%;
    height: 67px;
    background-color: #e0e2e1;
}
.relatorios__selecao select {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0 15px;
}