/*table.tablesorter {
	font-size: 12px;
	background-color: #808080;
	width: 792px;
	border: 1px solid #000;
}

table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #6E6E6E;
}
table.tablesorter td {
	color: grey;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}*/
table.tablesorter .header {
	/*background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;*/
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
.headerSortUp {
	background-image: url(arrow-down.png);
	background-repeat: no-repeat;
}
.headerSortDown {
	background-image: url(arrow-up.png );
	background-repeat: no-repeat;
}