/* .form-perfil */
.form-perfil__conteudo {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.form-perfil__label {
    width: 145px;
    height: 45px;
    margin: 0 10px 0 0;
    background-color: $bgHeader;
    text-align: center;
    color: #fff;
    font-weight: 100;
    display: block;
    float: left;
    @include display-flex-center;
}
.form-perfil__label-textarea {
    width: 145px;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 0 15px;
    background-color: $bgHeader;
    text-align: center;
    color: #fff;
    font-weight: 100;
    display: block;
    float: left;
    @include display-flex-center;
}
.form-perfil__input {
    width: 80.5%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 15px;
    outline: none;
}
.form-perfil__input-textarea {
    width: 80.5%;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
    outline: none;
}
.form-perfil__input-col02 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: table;
    padding: 0 15px;
    outline: none;
}
.form-perfil__select-col02 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../imgs/icons/icn-form-select-m-branco.png");
    background-repeat: no-repeat;
    background-position: 350px center;
    display: table;
    padding: 0 15px;
    outline: none;
}
.form-perfil__input-col03 {
    width: 76%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 15px;
    outline: none;
}
.form-perfil__select-col03 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 76%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../imgs/icons/icn-form-select-m-branco.png");
    background-position: 98.5% center;
    background-repeat: no-repeat;
    padding: 0 15px;
    outline: none;
}
.form-perfil__textarea-col03 {
    width: 76%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px 15px;
    outline: none;
}
.form-perfil__input-col04 {
    width: 50%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 15px;
}
.form-perfil__select-col04 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: url("../imgs/icons/icn-form-select-m-branco.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    padding: 0 15px;
}
.form-perfil__date-col04 {
    width: 50%;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px 15px;
}
.form-perfil__row {
    margin: 20px 0;
}
.form-perfil__row-bg {
    background-color: $bgHeader;
    overflow: hidden;
    padding: 30px 0;
}
.form-perfil__img {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form-perfil__titulo {
    text-align: center;
    margin-bottom: 30px;
}
.form-perfil__titulo h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.form-perfil__titulo-azul {
    text-align: left;
    margin-bottom: 0;
    margin-top: 60px;
}
.form-perfil__titulo-azul h3 {
    color: $bgHeader;
}
.form-perfil__acao-visualizar {
    width: 140px;
    height: 50px;
    background-color: #ccc;
    float: left;
    margin: 0 30px 0 0;
}
.form-perfil__acao {
    float: right;
}
.form-perfil__acao-submit {
    width: 140px;
    height: 50px;
    background-color: #ccc;
    float: left;
}
.form-perfil__acao-submit input[type=submit] {
    width: 100%;
    height: 100%;
}
.form-perfil__coluna-label {
    width: 145px;
    float: left;
    margin: 0 10px 0 0;
    background: $bgHeader;
    text-align: center;
}
.form-perfil__coluna-label-h-305px {
    width: 145px;
    height: 305px;
    @include display-flex-center;
}
.form-perfil__coluna-label-h-285px {
    width: 145px;
    height: 285px;
    @include display-flex-center;
}
.form-perfil__coluna-label-h-245px {
    width: 145px;
    height: 245px;
    @include display-flex-center;
}
.form-perfil__coluna-label-h-240px {
    width: 145px;
    height: 240px;
    @include display-flex-center;
}
.form-perfil__coluna-label-h-170px {
    width: 145px;
    height: 170px;
    @include display-flex-center;
}
.form-perfil__coluna-label span {
    color: #fff;
}
.form-perfil__coluna-inputs {
    width: 80.7%;
    float: left;
}
.form-perfil__coluna-inputs-row {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;

    &.form-perfil__coluna-inputs-row:first-child {
        margin-top: 0;
    }
    &.form-perfil__coluna-inputs-row:last-child {
        margin-bottom: 0;
    }
}
.form-perfil__menu {
    width: 100%;
    text-align: center;
}
.form-perfil__menu-link {
    width: 33.33333333%;
    float: left;
    background-color: $bgSidebar;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    transition: 0.3s;
    text-decoration: none;

    &.form-perfil__menu-link:hover {
        background-color: $bgHeader;
        color: #fff;
        text-decoration: none;
    }
    &.form-perfil__menu-link-ativo {
        background-color: $bgHeader;
        color: #fff;
        text-decoration: none;
    }
}