/* .header */
.header__menu-bg {
    background-color: $bgHeader;
    padding: 60px 0;
}
.header__menu {
    width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header__nav {
    padding: 0;
}
.header__nav-item {
    list-style: none;
}
.header__nav-item-sair {
    position: absolute;
    right: 0;
}
.header__nav-link--sair {
    background-color: $bgVerde;
    padding: 8px 30px !important; 
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.header__nav-link--sair:hover {
    background-color: #aadd68;
    color: #fff;
    text-decoration: none;
}
.header__nav-link {
    color: #fff;
    margin-right: 45px;
    font-size: 14px;
}
.header__logo {
    @include display-flex-center;
    margin-top: 30px;
}
.navbar-toggle {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    background-color: $bgHeader;
}
.navbar-nav > li > a {
    line-height: 30px;
}
/* .conteudo-header */
.conteudo-header__voltar {
    background-color: #8ac93a;
    margin-left: auto;
    padding: 5px 15px;
    cursor: pointer;
    display: table;
}
.conteudo-header {
    margin: 35px 0;
}
.conteudo-header__titulo h2 {
    margin: 0;
    color: $tituloHeader;
    font-size: 21px;
}
.conteudo-header__data p {
    margin: 0;
    color: $subTituloHeader;
    font-size: 13px;
}
.conteudo-header__voltar-icone {
    display: inline-block;
    margin: 0 10px 0 0;
}
.conteudo-header__voltar-texto {
    display: inline-block;
    color: #fff;
}
.conteudo-header__filtro {
    text-align: right;
}
.conteudo-header__img {
    float: right;
}