// icones
.icn-email-m-verde {
    width: 25px;
    height: 19px;
    background-image: url("../imgs/icons/icn-email-g-verde.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-calendario-m-azul {
    width: 25px;
    height: 25px;
    background-image: url("../imgs/icons/icn-calendario-m-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-sino-m-vermelho {
    width: 24px;
    height: 25px;
    background-image: url("../imgs/icons/icn-sino-m-vermelho.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-mala-m-preto {
    width: 24px;
    height: 25px;
    background-image: url("../imgs/icons/icn-mala-m-preto.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-user-menu-m-branco {
    width: 29px;
    height: 38px;
    background-image: url("../imgs/icons/icn-user-menu-m-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-select-menu-m-branco {
    width: 26px;
    height: 24px;
    background-image: url("../imgs/icons/icn-select-menu-m-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-mala-menu-m-branco {
    width: 31px;
    height: 30px;
    background-image: url("../imgs/icons/icn-mala-menu-m-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-gravata-menu-m-branco {
    width: 9px;
    height: 38px;
    background-image: url("../imgs/icons/icn-gravata-menu-m-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-conecta-menu-m-branco {
    width: 30px;
    height: 36px;
    background-image: url("../imgs/icons/icn-conecta-menu-m-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-header-back-p-branco {
    width: 12px;
    height: 14px;
    background-image: url("../imgs/icons/icn-header-back-p-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-form-select-m-branco {
    width: 12px;
    height: 14px;
    background-image: url("../imgs/icons/icn-form-select-m-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-resul-cadd-m-branco {
    width: 36px;
    height: 36px;
    background-image: url("../imgs/icons/icn-resul-cadd-m-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-resul-local-p-branco {
    width: 14px;
    height: 18px;
    background-image: url("../imgs/icons/icn-resul-local-p-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-resul-lupa-p-branco {
    width: 34px;
    height: 34px;
    background-image: url("../imgs/icons/icn-resul-lupa-p-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-resul-acesso-p-branco {
    width: 17px;
    height: 33px;
    background-image: url("../imgs/icons/icn-resul-acesso-p-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-perfil-cv-p-azul {
    width: 37px;
    height: 61px;
    background-image: url("../imgs/icons/icn-perfil-cv-p-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-perfil-tel-p-azul {
    width: 30px;
    height: 29px;
    background-image: url("../imgs/icons/icn-perfil-tel-p-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-perfil-dolar-p-azul {
    width: 30px;
    height: 30px;
    background-image: url("../imgs/icons/icn-perfil-dolar-p-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-perfil-email-p-azul {
    width: 30px;
    height: 30px;
    background-image: url("../imgs/icons/icn-perfil-email-p-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-presente-m-verde {
    width: 27px;
    height: 23px;
    background-image: url("../imgs/icons/icn-presente-m-verde.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-acesso-m-azul{
    width: 22px;
    height: 20px;
    background-image: url("../imgs/icons/icn-acesso-m-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-cv-m-cinza {
    width: 22px;
    height: 20px;
    background-image: url("../imgs/icons/icn-cv-m-cinza.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-row-conecta-azul {
    width: 31px;
    height: 36px;
    background-image: url("../imgs/icons/icn-row-conecta-azul.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-aba-sino-branco {
    width: 34px;
    height: 34px;
    background-image: url("../imgs/icons/icn-aba-sino-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-aba-icon-circ-branco {
    width: 36px;
    height: 36px;
    background-image: url("../imgs/icons/icn-aba-icon-circ-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}
.icn-aba-excl-branco {
    width: 6px;
    height: 32px;
    background-image: url("../imgs/icons/icn-aba-excl-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: table;
}