/* #SIDEBAR */
.sidebar-bg {
    background-color: $bgSidebar;
}
.sidebar {
    height: 100%;
}
.sidebar__nav {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.sidebar__lista {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar__item {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}
.sidebar__item-link {
    display: block;
    background-color: #ccc;
    padding: 35px 0;
    font-size: 16px;
    transition: 0.4s;
    text-decoration: none;

    &.sidebar__item-link:hover {
        background-color: $bgHeader;
        color: #fff;
        text-decoration: none;
    }
}
.sidebar__item-link-ativo {
    display: block;
    background-color: $bgHeader;
    padding: 35px 0;
    font-size: 16px;
    transition: 0.4s;
    text-decoration: none;
    color: #fff;
}