/* PAGINA cadastros */
.planos__conteudo {
    width: 100%;
}
.planos__coluna {
    padding: 0 30px;
    transition: 0.3s;

    &.planos__coluna:hover {
        border: 3px solid;
    }
}
.planos__nome {
    text-align: center;
    padding: 15px 0;
}
.planos__nome h3 {
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}
.planos__titulo {
    background-color: #d9d9d9;
    text-align: center;
    padding: 30px 0;
}
.planos__titulo span {
    font-size: 25px;
    font-weight: 100;
}
.planos__descricao {
    text-align: center;
    margin: 25px 0;
}
.planos__descricao span {
    font-size: 16px;
    font-weight: 100;
}
.planos__subtitulo {
    text-align: center;
    padding: 25px 0;
    border: 1px solid;
}
.planos__button {
    text-align: center;
    padding: 25px 0;
}

.termos__conteudo {
    width: 100%;
}
.termos__texto {
    background-color: #ccc;
    padding: 30px;  
}
.termos__checkbox {
    margin: 30px 0;
}
.termos__button {
    margin: 30px 0;
    float: right;
}
.consulta__filtro-row {
    margin: 5px 0;
    overflow: hidden;
}
.consulta__filtro-row i {
    color: #fff;
    font-size: 18px;
}
.box__conteudo-box-titulo {
    width: 100%;
    height: 55px;
    background-color: $bgHeader;
    overflow: hidden;
    @include display-flex-center;
    padding: 0 15px;
}
.box__conteudo-box-titulo .icone {
    width: 33.333333333%;
    float: left;
}
.box__conteudo-box-titulo .icone {
    .icn-select-menu-m-branco, {
        float: right;
    }
}
.box__conteudo-box-titulo .texto {
    width: 33.333333333%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.box__conteudo-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}
.box__conteudo-nav-item {
    border-bottom: 1px solid #fff;
}
.box__conteudo-nav-link {
    background-color: #e6e6e6;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    transition: 0.3s;

    &.box__conteudo-nav-link:hover {
        background-color: #e0e6ea;
    }
}
.usuarios__tabela {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
.consulta__tabela {
    width: 89.5%;
    margin-left: auto;
    margin-right: auto;
}
.usuarios__tabela thead,
.consulta__tabela thead {
    background-color: #808080;
}
.usuarios__tabela thead th,
.consulta__tabela thead th {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    border-bottom: none !important;
}
.usuarios__tabela tbody,
.consulta__tabela tbody  {
    text-align: center;
    background-color: #e0e2e1;
    border-bottom: 1px solid #fff;
}
.usuarios__tabela tbody tr,
.consulta__tabela tbody tr  {
    border-bottom: 1px solid #fff;
}
.usuarios__tabela tbody tr:nth-child(2n+1),
.consulta__tabela tbody tr:nth-child(2n+1)  {
    background-color: #fff;
    border-bottom: 1px solid #e0e2e1;
    border-left: 1px solid #e0e2e1;
}
.usuarios__tabela tbody tr td,
.consulta__tabela tbody tr td  {
    border-top: none;
}
.usuarios__tabela-editar,
.consulta__tabela-url {
    background-color: $bgHeader;
    cursor: pointer;
}
.usuarios__tabela-editar i,
.consulta__tabela-url i {
    color: #fff;
    font-size: 18px;
}
.usuarios__tabela-fechar {
    background-color: #cc0a2f;
    cursor: pointer;
}
.usuarios__tabela-fechar i {
    color: #fff;
    font-size: 18px;
}
.consulta__filtro-resul {
    margin: 25px 0;
}
.pesquisar-candidato__resul {
    background-color: #e6e6e6;
    padding: 10px 25px;
}
.pesquisar-candidato__resul .vagas__informacoes-resultado {
    border-bottom: none;
}
.pesquisar-candidato__resul-perfil {}
.vagas__informacoes-img {
    text-align: center;
}
.candidatos__cv .icn-perfil-cv-p-azul {
    margin-left: auto;
    margin-right: auto;
}
.candidatos__atual-titulo {
    text-align: center;
    color: $bgHeader;
    font-size: 18px;
}
.candidatos__atual-box {
    width: 100%;
    height: 67px;
    background-color: #e6e6e6;
    margin: 15px 0;
    overflow: hidden;
    padding: 0 30px;
    @include display-flex-center;

    &.candidatos__atual-box:last-child {
        margin: 0;
    }
}
.candidatos__atual-box .agrupar {
    width: 100%;
    display: flex;
    align-items: center;
}
.candidatos__atual-box .texto {
    width: 80%;
    float: left;
    text-align: center;
    color: $bgHeader;
    font-size: 14px;
    font-weight: 100;
}
.candidatos__atual-box .icone {
    width: 20%;
    float: right;
}
.candidatos__atual-box .icone .icn-perfil-tel-p-azul,
.candidatos__atual-box .icone .icn-perfil-dolar-p-azul,
.candidatos__atual-box .icone .icn-perfil-email-p-azul {
    margin-left: auto;
}
.vagas__informacoes-extra {
    border: 3px solid $bgHeader;
    border-top: none;
}
.vagas__informacoes-extra-anexos {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.vagas__informacoes-extra-anexos-box {
    width: 100%;
    height: 50px;
    background-color: $bgHeader;
    @include display-flex-center;
}
.vagas__informacoes-extra-anexos-box span {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
}
.vagas__informacoes-extra-anexos-avaliacao {
    text-align: center;
    margin: 30px 0 15px 0;
}
.vagas__informacoes-extra-anexos-avaliacao .texto {
    color: $bgHeader;
    font-size: 16px;
    font-weight: 100;
}
.vagas__informacoes-extra-anexos-avaliacao .icone {
    margin-top: 15px;
}