/* index */
.conteudo-painel__titulo-icone .icone {
    margin-left: auto;
    margin-right: auto;
}
.conteudo-painel__titulo-numero {
    text-align: center;
}
.conteudo-painel__titulo-numero span {
    font-size: 18px;
    font-weight: 100;
}
.marketplace {
    margin-top: 35px;
}
.marketplace__titulo {
    background-color: $bgHeader;
    display: table;
    padding: 25px 35px;
}
.marketplace__titulo h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.marketplace__conteudo {
    width: 100%;
    background-color: #e6e6e6;
    padding: 30px;
}
.marketplace__conteudo-titulo {
    text-align: center;
    padding: 0 0 30px 0;
}
.marketplace__conteudo-titulo h4 {
    margin: 0;
    color: $bgHeader;
    font-size: 18px;
}
.marketplace__conteudo-tabela table {
    margin-bottom: 0;
}
.marketplace__conteudo-tabela thead {
    background-color: $bgHeader;
}
.marketplace__conteudo-tabela thead tr th {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    border: none;
}
.marketplace__conteudo-tabela tbody {
    background-color: #fff;
    text-align: center;
}
.marketplace__conteudo-tabela tbody tr td {
    color: $bgHeader;
}
.marketplace__notificacoes {
    margin-top: 35px;
}
.marketplace__notificacoes-titulo {
    color: $bgHeader;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}
.marketplace__notificacoes-nav {
    width: 80%;
    overflow: hidden;
    @include display-flex-center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.marketplace__notificacoes-nav .texto {
    width: 85%;
    float: left;
    text-align: right;
    margin: 0 30px 0 0;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 100;
}
.marketplace__notificacoes-nav .icone {
    width: 40px;
    height: 35px;
    background-color: $bgHeader;
    border-radius: 100%;
    float: right;
    @include display-flex-center;
}
.marketplace__notificacoes-nav .icone span {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
}