
.vagas .tab-pane {
    padding: 0;
    background-color: #fff;
}
.vagas__abas #filaCand,
.vagas__abas #candPartic,
.vagas__abas #anexosCdd {
    padding: 30px 45px;
}
#manutVag .resul__form input,
#manutVag .resul__form select {
    border: none;
}
.vagas__notificaoes {
    margin-bottom: 35px;
}
.vagas__notificaoes-box {
    text-align: center;
}
.vagas__notificaoes-box .titulo {
    color: $bgHeader;
    font-size: 14px;
    font-weight: 100;
}
.vagas__notificaoes-box .icone {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 20px;
    margin-bottom: 20px;
}
.vagas__notificaoes-box .numero {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 15px;
}
.vagas .nav-tabs > li {

}
.vagas .nav-tabs > li > a {
    width: 100%;
    background-color: #808080;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 25px 35px;
}
.vagas .nav-tabs > li.active > a {
    background-color: $bgHeader;
    border: none;
    color: #fff;
}
.vagas__resul {
    margin-bottom: 10px;
    overflow: hidden;
}
.vagas__marketplace-titulo {
    width: 100%;
    height: 75px;
    background-color: #e6e6e6;
    @include display-flex-center;
    border-right: 2px solid #fff;
    text-align: center;
}
.vagas__marketplace-titulo .nome {
    color: #4d4d4d;
    font-size: 25px;
    font-weight: 900;
}
.vagas__marketplace-titulo .data {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 100;
}
.vagas__marketplace-local {
    width: 100%;
    height: 75px;
    background-color: #e6e6e6;
    @include display-flex-center;
    border-right: 2px solid #fff;
    text-align: center;
}
.vagas__marketplace-local .icone {
    display: inline-block;
    margin: 0 10px 0 0;
}
.vagas__marketplace-local .local {
    display: inline-block;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 900;
}
.vagas__marketplace-salario {
    width: 100%;
    height: 75px;
    background-color: #e6e6e6;
    @include display-flex-center;
    border-right: 2px solid #fff;
}
.vagas__marketplace-salario .min,
.vagas__marketplace-salario .max {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 100;
}
.vagas__marketplace-salarioPct {
    width: 100%;
    height: 75px;
    background-color: #e6e6e6;
    @include display-flex-center;
    text-align: center;
}
.vagas__marketplace-salarioPct .pct {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
}
.vagas__marketplace-salarioPct .descricao {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 100;
}
.vagas__marketplace-icone {
    width: 100%;
    height: 75px;
    background-color: $bgHeader;
    @include display-flex-center;
    text-align: center;
    cursor: pointer;
}
.vagas__marketplace-icone .icone {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.vagas__marketplace-icone .descricao {
    color: #fff;
    font-size: 12px;
    font-size: 100;
    margin-top: 5px;
}
.vagas__resul-paginacao {
    float: right;
    margin: 15px 0;
}
.vagas__resul-titulo {
    width: 100%;
    overflow: hidden;
}
.vagas__resul-titulo-col {
    border: none;
    height: 55px;
    background-color: #ccc;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.vagas__marketplace-pg-titulo {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 60px;
}
.vagas__marketplace-pg-titulo h3 {
    margin: 0;
    color: $bgVerde;
    font-size: 25px;
    font-weight: 900;
}
.vagas__resul-titulo {
    width: 80%;
    height: 75px;
    background-color: #808080;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    @include display-flex-center;
}
.vagas__resul-titulo h3 {
    margin: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 100;
}
.vagas__resul-descricao {
    margin-top: 30px;
}
.vagas__resul-descricao p {
    margin: 0;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
}
.vagas__mensagens-abas {
    margin-top: 60px;
}
.vagas__mensagens-abas ul li {
    width: 120px;
    height: 85px;
    margin: 0 15px 0 0;
}
.vagas__mensagens-abas .nav-tabs {
    border: none;
    margin-bottom: 2px;
}
.vagas__mensagens-abas .nav-tabs > li.active > a, 
.vagas__mensagens-abas .nav-tabs > li.active > a:hover,
.vagas__mensagens-abas .nav-tabs > li.active > a:focus {
    background-color: $bgHeader;
    border: none;
}
.vagas__mensagens-abas-encaminhar {
    width: 100%;
    height: 100%;
    background-color: $bgHeader;
    text-align: center;
    border-radius: 0 !important;
    @include display-flex-center;
}
.vagas__mensagens-abas-encaminhar .icone {
    height: 45px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.vagas__mensagens-abas-encaminhar .descricao {
    color: #fff;
}
.vagas__mensagens-abas-alerta {
    width: 100%;
    height: 100%;
    background-color: #cc0a2f;
    text-align: center;
    border-radius: 0 !important;
    @include display-flex-center;
}
.vagas__mensagens-abas-alerta .icone {
    height: 45px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.vagas__mensagens-abas-alert .descricao {
    color: #fff;
}
.vagas__mensagens-abas-submeter {
    width: 100%;
    height: 100%;
    background-color: $bgVerde;
    text-align: center;
    border-radius: 0 !important;
    @include display-flex-center;
}
.vagas__mensagens-abas-submeter .icone {
    height: 45px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.vagas__mensagens-abas-submeter .descricao {
    color: #fff;
}
.vagas__mensagens-abas-status {
    width: 100%;
    height: 100%;
    background-color: #808080;
    text-align: center;
    border-radius: 0 !important;
    text-align: center;
    @include display-flex-center;
}
.vagas__mensagens-abas-status .icone {
    height: 45px;
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.vagas__mensagens-abas-status .descricao {
    color: #fff;
}
.vagas__mensagens-abas .tab-content #encaminhar {
    background-color: $bgHeader;
    padding: 20px;
}
.vagas__mensagens-box {
    background-color: #fff;
    padding: 20px 0;
}
.vagas__mensagens-abas .tab-content #alerta {
    background-color: #cc0a2f;
    padding: 20px;
}
.vagas__mensagens-abas .tab-content #submeter {
    background-color: $bgVerde;
    padding: 20px;
}
.vagas__mensagens-abas .tab-content #status {
    background-color: #808080;
    padding: 20px;
}
.vagas__abas {
    width: 97%;
    background-color: #e0e2e1;
    margin-top: 65px;
}
.vagas__abas .nav-tabs > li {
    width: 25%;
    text-align: center;
    background-color: #fff;
}
.vagas__abas .nav-tabs > li > a {
   margin: 0;
   border-radius: 0;
   border-top: 1px solid #e0e2e1;
   border-left: 1px solid #e0e2e1;
   padding: 30px 10px;
}
.vagas__abas ul li:last-child {
    border-right: 1px solid #e0e2e1;
}
.vagas__abas .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: $bgHeader;
    cursor: default;
    background-color: #e0e2e1;
    border-top: 1px solid #e0e2e1;
    border-left: 1px solid #e0e2e1;
    border-bottom-color: transparent;
}
.aba-header {
    margin: 15px 0 30px 0;
}
.aba-header input[type=search] {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 10px 15px;
}
.aba-filtro-input {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
}
.aba-resul-row {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    &.aba-resul-row:first-child {
        margin-top: 0;
    }
    &.aba-resul-row:last-child {
        margin-bottom: 0;
    }
}
.aba-filtro select {
    width: 100%;
    height: 45px;
    border: 4px solid #ccc;
    background-color: #fff;
    padding: 0 15px;
    color: #808080;
}
.aba-filtro .consultar {
    text-align: right;
}
.aba-filtro .consultar input[type=submit] {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    background-color: $bgVerde;
    color: #fff;
}
.resul__grupo-row {
    margin-bottom: 35px;
}
.box-perfil {
    background-color: #fff;
    border: 3px solid $bgHeader;
}
.box-perfil-row-01,
.box-perfil-row-02 {
    padding: 30px;
}
.box-perfil .img-perfil {
    text-align: center;
}
.score {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}
.score .pct {
    color: $bgHeader;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -5px;
}
.score .descricao {
    color: $bgHeader;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}
.idade {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}
.idade .numero {
    color: $bgHeader;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -5px;
}
.idade .estado-civil {
    color: $bgHeader;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
}
.perfil-cv {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.perfil-cv .descricao {
    color: $bgHeader;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
}

.nome-local {
    width: 100%;
}
.nome-local .nome {
    color: $bgHeader;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
.nome-local .local {
    color: $bgHeader;
    font-size: 12px;
    font-weight: 100;
}
.experiencia {
    width: 100%;
}
.experiencia .ultima {
    margin: 50px 0 20px 0;
}
.experiencia .ultima .titulo,
.experiencia .anterior .titulo {
    color: #808080;
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
}
.experiencia .ultima .empresa-data,
.experiencia .ultima .cargo,
.experiencia .anterior .empresa-data,
.experiencia .anterior .cargo,
.idioma {
    color: #808080;
    font-size: 14px;
    font-weight: 100;
}
.formacao  {
    margin: 15px 0;
}
.formacao .descricao  {
    color: #808080;
    font-size: 14px;
    font-weight: 100;
}

.col-cv {
    text-align: center;
}
.col-cv .icone {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.avaliacao {
    width: 100%;
}
.avaliacao .titulo {
    color: $bgHeader;
    font-size: 16px;
    font-weight: 100;
    text-decoration: underline;
    text-align: right;
    margin-bottom: 5px;
}

.status {
    width: 100%;
    overflow: hidden;
}
.status-row {
    margin: 10px 0;
    overflow: hidden;
    &.status-row:first-child {
        margin-top: 0;
    }
    &.status-row:last-child {
        margin-top: 0;
    }
}
.status .icone {
    width: 20%;
    float: left;
    border: 1px solid;
}
.status .descricao {
    width: 80%;
    float: left;
    border: 1px solid;
}

.acoes {
    width: 100%;
    overflow: hidden;
}
.acoes .enviar-email,
.acoes .enviar-quest,
.acoes .solicitar-entrev,
.acoes .evoluir-cand {
    width: 100%;
    height: 40px;
    background-color: $bgVerde;
    @include display-flex-center;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}
.acoes .enviar-email {
    margin-top: 0;
}
.acoes .evoluir-cand {
    margin-bottom: 0;
}

.perfil-extra {
    width: 100%;
    background-color: $bgHeader;
    text-align: right;
    padding: 10px 30px;

    .titulo {
        display: inline-block;
        color: #fff;
        font-size: 16px;
        margin: 0 15px 0 0;
    }
    .icone {
        display: inline-block;
    }
}

.box-perfil-row-boxs {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}
.anexos-box {
    width: 100%;
    height: 45px;
    background-color: $bgHeader;
    @include display-flex-center;
}
.anexos-box span {
    color: #fff;
}
.avaliacao-logo {
    width: 100%;
    text-align: center;
}
.avaliacao-logo .descricao {
    color: $bgHeader;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 100;
}

.add-fila {
    width: 100%;
    background-color: $bgVerde;
    text-align: center;
    padding: 15px 0;
}
.add-fila .descricao {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}
.add-fila .icone {
    display: inline-block;
}

.resul__footer {
    text-align: right;
}

.resul__grupo-inf-usuario {
    width: 100%;
}
.resul__grupo-inf-usuario .cell-titulo {
    width: 20%;
    text-align: center;
    color: $bgHeader;
    font-weight: normal;
    vertical-align: middle;
    padding: 15px 0 0 0;
}
.resul__grupo-inf-usuario .cell-td-titulo {
    background-color: $bgHeader;
    vertical-align: middle;
    text-align: center;
    
    .nome {
        font-size: 15px;
        font-weight: 100;
        color: #fff;
    }
    .data {
        color: #fff;
        font-size: 15px;
        font-weight: 100;
    }
}
.resul__grupo-inf-usuario .cell-td-acao {
    background-color: #fff;
    text-align: center;
    color: $bgHeader;
    border-bottom: 4px solid #e0e2e1;
    border-left: 4px solid #e0e2e1;
    
    span {
        font-size: 15px;
    }
    i {
        font-size: 18px;
    }
}
.resul__grupo-inf-usuario .tr-row-inferior .cell-td-acao {
    border-bottom: none;
}

.resul__header-filtro p,
.resul__header-numero p {
    color: $bgHeader;
    font-size: 15px;
    font-weight: 100;
}

.vagas__boxs-lateral-box-01 {
    width: 100%;
    border: 2px solid $bgHeader;
    background-color: $bgHeader;
    text-align: center;
    margin-top: 65px;
    .box-numero {
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 100%;
        margin-top: 7px;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        @include display-flex-center;
        color: $bgHeader;
        font-size: 26px;
        font-weight: 900;
    }
    .box-descricao {
        width: 100%;
        background-color: #fff;
        color: $bgHeader;
        font-size: 12px;
        padding: 15px 0;
    }
}
.vagas__boxs-lateral-box-02 {
    width: 100%;
    border: 2px solid $bgVerde;
    background-color: $bgVerde;
    text-align: center;
    margin-top: 15px;
    .box-numero {
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 100%;
        margin-top: 7px;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        @include display-flex-center;
        color: $bgVerde;
        font-size: 26px;
        font-weight: 900;
    }
    .box-descricao {
        width: 100%;
        background-color: #fff;
        color: $bgVerde;
        font-size: 12px;
        padding: 15px 0;
    }
}
.vagas__boxs-lateral-box-03 {
    width: 100%;
    border: 2px solid #ffac00;
    background-color: #ffac00;
    text-align: center;
    margin-top: 15px;
    .box-numero {
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 100%;
        margin-top: 7px;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        @include display-flex-center;
        color: #ffac00;
        font-size: 26px;
        font-weight: 900;
    }
    .box-descricao {
        width: 100%;
        background-color: #fff;
        color: #ffac00;
        font-size: 12px;
        padding: 15px 0;
    }
}

.resul__historico {
    padding: 0 35px;
}
.resul__historico-conteudo {
    width: 100%;
    overflow: hidden;
    
    h3 {
        margin: 0;
        color: $bgHeader;
        font-size: 14px;
        font-weight: 100;
    }
}
.resul__historico-conteudo-titulo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    .titulo {
        color: $bgHeader;
    }
}
.resul__historico-conteudo-input-row {
    margin-bottom: 10px;
}
.resul__historico-conteudo-input {
    overflow: hidden;
    text-align: center;

    .data, .usuario, .motivo, .observacao {
        width: 100%;
        height: 40px;
        background-color: #fff;
        @include display-flex-center;
        color: #808080;
        font-size: 15px;
        font-weight: 100;
    }
}
