

/*
    PAGE headhunter
        NAV #cadastro03
______________________________*/
.planos__conteudo {
    width: 100%;
}
.planos__coluna {
    padding: 0 30px;
    transition: 0.3s;

    &.planos__coluna:hover {
        border: 3px solid;
    }
}
.planos__nome {
    text-align: center;
    padding: 15px 0;
}
.planos__nome h3 {
    font-family: "FonteRg";
    font-size: 25px;
    font-weight: 900;
    margin: 0;
}
.planos__titulo {
    background-color: #d9d9d9;
    text-align: center;
    padding: 30px 0;
}
.planos__titulo span {
    font-family: "FonteRg";
    font-size: 25px;
    font-weight: 100;
}
.planos__descricao {
    text-align: center;
    margin: 25px 0;
}
.planos__descricao span {
    font-family: "FonteLt";
    font-size: 16px;
    font-weight: 100;
}
.planos__subtitulo {
    text-align: center;
    padding: 25px 0;
    border: 1px solid;
}
.planos__button {
    text-align: center;
    padding: 25px 0;
}

.termos__conteudo {
    width: 100%;
}
.termos__texto {
    background-color: #ccc;
    padding: 30px;
    @include border-radius(15px, 15px, 15px, 15px);    
}
.termos__checkbox {
    margin: 30px 0;
}
.termos__button {
    margin: 30px 0;
    float: right;
}

/*
    PAGE headhunter
        NAV #cadastro09
______________________________*/
.content__header--guia {
    padding: 15px 10px;
    display: table;
    background-color: #d3d3d3;
    margin-left: auto;
    margin-bottom: 30px;
}
.content__header--guia .icon {
    display: inline;
    padding: 0 5px
}
.content__header--guia a {
    display: inline-block;
    padding: 0 5px
}
.form__abas {
    width: 100%;
    background-color: $bgSidebar;
    text-align: center;
}
.form__abas-link {
    padding: 15px 0;
    display: block;

    &.form__abas-link:hover {
        background-color: #ccc;
    }
    &.form__abas-ativo {
        background-color: #ccc;
    }
}
