/* 
    PAGE #headhunter
        NAV #dasboard 
______________________________ */

.content__main-vagasrecentes {
    margin-bottom: 45px;
}
.content__main-vagasrecentes--titulo {
    background-color: $bgBlueMain;
    padding: 20px 0;
    text-align: center;
}
.content__main-vagasrecentes--titulo h3 {
    color: #fff;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}
.content__main-vagasrecentes--descricao {
    text-align: right;
}
.content__main-vagasrecentes--descricao p {
    color: #4d4d4d;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}
.content__main-vagasrecentes--tabela {
    background-color: $bgResulTitle;
    padding: 30px;
}
.tabela__vagasrecentes--titulo {
    text-align: center;
}
.tabela__vagasrecentes--titulo h3 {
    margin: 0 0 30px 0;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
    color: $textBlueH3;
}
.vagasrecentes__tabela--nomecol {
    width: 100%;
    background-color: $bgBlueMain;
    padding: 20px 0;
    text-align: center;
}
.vagasrecentes__tabela--nomecol span {
    color: #fff;
    font-family: "FonteRg";
    font-size: 16px;
    font-weight: 100;
    margin: 0;
}
.vagasrecentes__tabela--linha {
    background-color: #fff;
    border-bottom: 1px solid $bgResulTitle;
    padding: 15px;
    text-align: center;
}
.vagasrecentes__tabela--linha span {
    color: $textBlueH3;
    font-family: "FonteRg";
    font-size: 16px;
    font-weight: 100;
    margin: 0;
}
.vagasrecentes__resumo {
    padding: 30px;
}
.vagasrecentes__resumo--coluna {
    
}
.vagasrecentes__resumo--notificacoes {
    
}
.vagasrecentes__resumo--nome {
    text-align: center;
    margin: 15px 0;
}
.vagasrecentes__resumo--nome span {
    color: $textBlueH3;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}
.notificacoes__linha {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;

    &.notificacoes__linha:last-child {
        margin-bottom: 0;
    }
}
.notificacoes__linha--nome {
    height: 40px;
    @include display-flex;
    @include align-items;
    float: right;
    margin: 0 10px 0 0;
}
.notificacoes__linha--nome span {
    color: #4d4d4d;
    font-family: "FonteRg";
    font-size: 14px;
    font-weight: 100;
    margin: 0;
}
.notificacoes__linha--qtd {
    width: 40px;
    height: 40px;
    background-color: $bgBlueMain;
    display: block;
    text-align: center;
    margin-left: auto;
    @include border-radius(100px, 100px, 100px, 100px);
    @include display-flex;
    @include align-items;
    @include justify-content;
}
.notificacoes__linha--qtd span {
    color: #fff;
    font-family: "FonteRg";
    font-size: 16px;
    font-weight: 900;
}
.resumo__vagasrecentes--nome {
    text-align: center;
    margin-bottom: 45px;
}
.resumo__vagasrecentes--nome span {
    color: $textBlueH3;
    font-family: "FonteRg";
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}